[2018-05-16 16:09] jhadvig opened #25 "Logging into console will use the project from previous session"
When logging out from the console as userA, using projectA and logging back as userB, projectA will be set a default project for userB to use.

[2018-05-22 16:45] ericchiang opened #53 "auth: link OAuth2 state parameter with user agent"
(NOTE: we have someone internally who's been assigned this)

Currently we generate a "state" redirect parameter because some providers reject requests without them. However we don't actually link the state parameter to the user's session, leaving us vulnerable to certain cross-site request forgery attacks.

https://github.com/openshift/console/blob/9c80cb314e89a36f92464d163d499806cf03ad79/auth/aut

[2018-05-22 16:52] ericchiang commented on #53
cc @Sean-Q-Sun

[2018-05-23 10:21] jhadvig opened #62 "Replace react-lightweight-tooltip with a more robust tooltip component"
Currently for tooltips we are using https://github.com/mcumpl/react-lightweight-tooltip component. Unfortunately it's really lightweight since it doesn't supports some crucial settings OOTB :
- tooltip placement
- event triggering
- callbacks
- ...

For that reason I would propose to switch to https://github.com/wwayne/react-tooltip component instead of the current one.

[2018-05-23 18:58] Sean-Q-Sun commented on #53
/close
Addressed by #60

[2018-05-23 18:58] #53 closed

[2018-05-24 02:46] kyoto commented on #62
Actually, we were previously using `react-tooltip` and it was switched to `react-lightweight-tooltip` for performance reasons (see https://github.com/openshift/console/commit/6440f4cca2cbfe8484ac3019226d3fb381ca7d97).

cc @kans

[2018-05-24 21:55] kans commented on #62
@jhadvig We are working on fully implementing [react-virtualized](https://github.com/bvaughn/react-virtualized) for all heavy weight components.  Hopefully this work will be wrapped up within the next week or two.  I'd be potentially OK switching to a more featureful implementation afterwards (assuming it has sane Deps) as long as you profile the difference.  I wish I put the numbers in my PR...

[2018-06-07 18:41] jennyhaines opened #102 "Add new drag and drop handle icon for reordering environment variables"
I'm working with Mary Shakshober (UXD Visual Design Intern) to get some drag and drop handle icons created and put into PatternFly for use in reordering environment variables, here: PR #88

Looking to have the icons designed by 6/15, and put into PatternFly during PF's next sprint! Will update here when those icons are available to use.

[2018-06-08 04:13] smarterclayton opened #107 "PodInitializing is not generally an error state, messaging is confusing"
![screenshot](https://www.dropbox.com/s/3rr6asgeobdnvwe/Screenshot%202018-06-08%2000.12.18.png?raw=1)

In this case the pod has failed

[code]

But showing `PodInitializing` here is a bit confusing since it's usually a forward action (the pod is initializing).  I think "InitContainerFailed" or "InitializationFailed" would be more appropriate.

[2018-06-08 04:18] smarterclayton commented on #107
Related - the pod details page doesn't show that the pod is in the failed state:

![screen](https://www.dropbox.com/s/eax4rsv37me5tps/Screenshot%202018-06-08%2000.16.41.png?raw=1)

and the containers list doesn't include the init containers:

![screen](https://www.dropbox.com/s/n8t46s7qp6rluqx/Screenshot%202018-06-08%2000.17.14.png?raw=1)

so the user can't tell that the pod is in failed state.  I

[2018-06-08 17:13] spadgett opened #109 "Container status should be sorter by order"
The container statuses on the pod page should be sorted in the order they're declared in the array, first init containers then regular containers.

cc @smarterclayton
/kind bug
/area usability
/priority p2

[2018-06-08 17:14] smarterclayton commented on #109
This was web-console, sorry.  But we should double check here:

Init containers -> Containers, both sorted by the order they appear in the pod definition.  We have tools and cli patterns that prioritize the first container, and we want sidecars to be later in the list.

[2018-06-08 17:15] spadgett commented on #109
Yeah meant to open this in the other repository. Will move.

/close

[2018-06-08 17:15] #109 closed

[2018-06-08 17:16] spadgett commented on #109
Moved to https://github.com/openshift/origin-web-console/issues/3015

[2018-06-11 15:12] jcaianirh opened #117 "Add Env Editor help text to Environment Page"
Use notes from https://github.com/openshift/console/pull/88#issuecomment-394858353 to add help text to the Environment Page of the console. Socialize the comments through a ux review.

[2018-06-15 18:50] jhadvig opened #135 "Swapped position of actionMenu and resource-icon"
Often after creating a first instance of a specific resource(Service, Secret, Stateful Set, ... ) the position of the actionMenu and resource-icon is swapped. Even after the navigating to some other page and back to the resource List page the order is still swapped. Only after refreshing the page the order goes back to normal.
Swapped position:
![1](https://user-images.githubusercontent.com/166821

[2018-06-15 19:45] spadgett commented on #135
/assign @rhamilto @sg00dwin

[2018-06-15 19:52] tlwu2013 commented on #135
Thanks for picking this up. We also noticed this happened on the newly added "Routes" list view:
https://github.com/openshift/console/pull/126

[2018-06-15 20:03] spadgett commented on #135
We could enable the console switcher on teamui since it's just an env var if we wanted.

I'd like to get a template working you can use with `oc cluster up` to test OpenShift resources

[2018-06-15 20:09] spadgett commented on #135
We've noticed other problems with icon size too that goes away with a refresh. For instance:

![screen shot 2018-06-15 at 4 08 55 pm](https://user-images.githubusercontent.com/1167259/41487367-7ba44232-70b6-11e8-98cf-e20e25bcc183.png)

[2018-06-18 20:00] beanh66 opened #144 "Add tooltip to the "copy to clipboard" component used with Secrets, ConfigMaps, Mobile, etc"
Currently when a user clicks the copy icon, there is no user feedback. Can we add a tooltip so the regular state says "Copy to Clipboard" and once clicked, the tooltip changes to "Copied"?

Note: this was discussed in PR #50 originally, but there was an issue with the tooltip getting cut off:
https://user-images.githubusercontent.com/1668218/40371608-289552ec-5de3-11e8-8080-4b2dcfa8aa8a.png

The m

[2018-06-22 12:27] jhadvig opened #154 "Misaligned panel in Dropdown component"
The placement of the `Dropdown` component's menu is misaligned. This is cause by improper element stack in the Dropdown's underlying components and will require their re-ordering.
Screens:
![1](https://user-images.githubusercontent.com/1668218/41776488-3f43aa54-7628-11e8-9855-31a65eab27bc.png)
![2](https://user-images.githubusercontent.com/1668218/41776489-3f64c0a4-7628-11e8-84a3-4ee07f9dd942.png)

[2018-06-22 18:44] #117 closed

[2018-06-22 20:21] spadgett commented on #107
/assign @TheRealJon

Related OpenShift console fix: https://github.com/openshift/origin-web-console/pull/2676

[2018-06-22 20:49] jcaianirh commented on #154
/assign @rebeccaalpert

[2018-06-25 08:54] jhadvig opened #160 "Multiple menuActions can be opened in the resource list page"
When in resource list page, user can open menuAction for each list ResourceRow component without previously opened actionMenu been closed. This causes stacking menu over menu and can confuse user.
Screen:

![1](https://user-images.githubusercontent.com/1668218/41839681-2e23584e-7864-11e8-9743-216500923f65.png)

[2018-06-25 13:14] spadgett commented on #160
Yeah, good eye. We have a JIRA for this (CONSOLE-555), so I'm going to close the issue to avoid tracking it twice. Thanks @jhadvig

@alecmerdler fyi

/close

[2018-06-25 13:14] #160 closed

[2018-06-25 16:45] #107 closed

[2018-06-28 20:36] spadgett commented on #62
Since we've had performance problems with react-tooltip in the past and we've solved the positioning problem for the copy to clipboard button in #177, I think we should leave well-enough alone. We can revisit if needed later.

/close

[2018-06-28 20:36] #62 closed

[2018-06-29 16:04] #144 closed

[2018-07-01 17:15] #135 closed

[2018-07-05 14:37] dtaylor113 opened #204 "Route Details: TLS Section - CopyToClipboard display issue"
Display issues caused by value not being shown in `<pre>`:
![image](https://user-images.githubusercontent.com/12733153/42329643-31bfec00-803f-11e8-9b95-6daa1446e569.png)

Not sure what changed since this was introduced in #87 where it displays correctly:
![image](https://user-images.githubusercontent.com/12733153/40982843-4eda41f0-68ac-11e8-9193-e9bd43a0bf07.png)

[2018-07-05 18:15] #204 closed

[2018-07-05 21:01] beanh66 commented on #102
@jennyhaines Adding a screenshot of the environment variables page with the new drag and drop interaction in context. Let me know if you have any feedback.
![drag-and-drop-styles](https://user-images.githubusercontent.com/18057044/42347816-0f86af12-8075-11e8-9f16-9c8d65ebec57.png)

[2018-07-05 22:10] jennyhaines commented on #102
Yes- that looks good! Thanks @beanh66! FYI @rebeccaalpert , the icon is finished and a dev from the UXD team will add it into PatternFly soon!

[2018-07-10 21:43] jcaianirh opened #220 "Resource dropdown text overlaps with caret."
In the Environment Page or the Create Role Binding page, the resource dropdown text can overlap the caret symbol.

![resourcecaret](https://user-images.githubusercontent.com/35978579/42539259-9b2c6678-8468-11e8-8ec4-0db99c8cef0d.png)

[2018-07-10 22:44] spadgett commented on #220
cc @sg00dwin @rhamilto

[2018-07-11 19:44] jcaianirh opened #226 "Environment Editor doesn't display well on mobile"
Make Environment Editor work on mobile.

![mobile](https://user-images.githubusercontent.com/35978579/42595754-3ab30144-8521-11e8-9506-79983710203e.png)

[2018-07-12 23:31] spadgett opened #234 "Resource list rows are vertically centered"
I think this change was unintentional, but the list row content now vertically centers when some lines wrap. It used to be top aligned. It appears to be this rule:

https://github.com/openshift/console/commit/f2466203b570fa29c98d34e58531adf9a24a1e32#diff-8465e1dd4367eb1a79d891349e2d7f26R30

<img width="656" alt="deployments tectonic 2018-07-12 19-31-28" src="https://user-images.githubusercontent.c

[2018-07-16 17:03] spadgett commented on #234
We should fix this for 3.11.

[2018-07-16 20:56] #234 closed

[2018-07-17 14:11] rhamilto opened #254 "Nav item label and icon inconsistencies between the two consoles"
In flipping between the two consoles, I noticed we use a couple of the same primary nav labels to mean different things in the two different consoles and, in the case of "Applications", the icons differ.

@spadgett and I briefly discussed these issues this morning, and would like feedback from @openshift/team-ux-review and anyone interested on how to best resolve.

Overview
* means project overvie

[2018-07-17 14:57] spadgett commented on #254
If we're going to change the nav names in converged console, would be good to target 3.11 since that's our first OpenShift release for the admin / converged console. In particular, we might consider renaming "Overview" to something like "Dashboard" to avoid confusion with the project overview in the existing console.

[2018-07-17 20:08] tlwu2013 commented on #254
Hi @spadgett , yeah, just chatted about this with @robszumski . We also feel we should change **Applications** and **Open Cloud Catalog** wording on Cluster Console side. I'll work out a mock and share it here.

[2018-07-17 20:15] benjaminapetersen commented on #254
The `Applications` double meaning is definitely confusing.

[2018-07-17 20:17] benjaminapetersen commented on #254
Additionally, the `Applications` menu & sub-menu items are pretty useless to a normal user:

![screen shot 2018-07-17 at 4 15 21 pm](https://user-images.githubusercontent.com/280512/42842954-b2e96e9a-89dc-11e8-9c58-a4f48dbd14ee.png)
![screen shot 2018-07-17 at 4 15 31 pm](https://user-images.githubusercontent.com/280512/42842956-b2fe73bc-89dc-11e8-8365-47466f078a29.png)
![screen shot 2018-07-17 at

[2018-07-17 21:33] tlwu2013 commented on #254
@benjaminapetersen  This section is meant for "cluster-admin" type of persona, so ideally "app-dev" type of users shouldn't be able to see them. This is a larger scope of next-gen console design efforts UXD will tackle for "PaaS" and "CaaS" experience by only make certain sections visible per persona / use cases.

[2018-07-17 23:00] spadgett commented on #254
We should be able to add some RBAC checks

[2018-07-18 14:07] benjaminapetersen commented on #254
Sounds great 😄

[2018-07-19 20:25] jcaianirh opened #276 "Read only env editor breaks with new mobile layout changes"
![screen shot 2018-07-19 at 4 24 02 pm](https://user-images.githubusercontent.com/35978579/42968094-49634a50-8b70-11e8-8d24-1e21b2e43bce.png)

[2018-07-20 19:49] rhamilto commented on #276
Fixed by #277

[2018-07-20 19:49] #276 closed

[2018-07-20 20:19] #154 closed

[2018-07-24 14:48] sg00dwin commented on #220
note that Role binding form has same issue.
<img width="533" alt="screen shot 2018-07-24 at 10 44 17 am" src="https://user-images.githubusercontent.com/1874151/43146335-08f5b53a-8f2f-11e8-869d-29f092fd1c03.png">

[2018-07-24 16:15] jcaianirh commented on #220
@sg00dwin role binding is in the description of the issue.

[2018-07-26 14:00] rhamilto commented on #254
STATUS:
* "Applications" in console is changing to "Operators" with https://github.com/openshift/console/pull/302, but the RBAC checks remain.  @alecmerdler, do you mind adding the RBAC checks to the "Operators" nav with the work you're doing refactoring those pages?
* "Troubleshooting" in console changed to "Monitoring" with https://github.com/openshift/console/pull/300#issuecomment-407518970

TO

[2018-07-26 14:11] alecmerdler commented on #254
@rhamilto https://jira.coreos.com/browse/CONSOLE-631 tracks the RBAC checks for the OLM nav

[2018-07-26 19:12] beanh66 commented on #254
@rhamilto I liked the suggestion of calling the cluster admin overview "Dashboard" instead, since we have the OpenShift Project "Overview."

[2018-07-26 19:51] rhamilto commented on #254
![screen shot 2018-07-26 at 3 50 50 pm](https://user-images.githubusercontent.com/895728/43285035-be304e70-90eb-11e8-8605-d5c5a2a5c116.PNG)

Any objections or other suggestions?

[2018-07-26 23:09] spadgett commented on #254
The problem with "Dashboard" is now we have a "Dashboards" link under Monitoring that goes to the Grafana UI. (You have to have monitoring set up to see it.)

[2018-07-27 12:45] rhamilto commented on #254
Thoughts on using "Home"?
![screen shot 2018-07-27 at 8 44 52 am](https://user-images.githubusercontent.com/895728/43321304-6c85849e-9179-11e8-9039-0be084868a18.PNG)

[2018-07-27 13:15] stacymcauliffe commented on #254
Another option would be to add qualifying terms. So, for example, we could use "overview" in both places, but call the project overview "Project Overview" and this view something like "Cluster Overview." That would add both clarity and consistency.

[2018-07-27 13:41] rhamilto commented on #254
![screen shot 2018-07-27 at 9 40 34 am](https://user-images.githubusercontent.com/895728/43324054-2f9b5f42-9181-11e8-9651-c6edaf9c6367.PNG)

[2018-07-27 21:43] spadgett commented on #25
This is working as intended. We don't currently have the projects list when the default is set, and a project always needs to be selected. The alternative is to use project `default` as the default, which most users can't see.

At some point, we might pick an item from your projects list, but that's not a simple change.

Since we've added a first time user experience when you don't have projects i

[2018-07-27 23:05] tlwu2013 commented on #254
For 3.11, since we'll be shipping both "App Console" and "Cluster Console" with the context switcher on the masthead, I am wondering if we can still use "**Overview**" as NavTitle.

**Overview page in App Console:**
![app-console_overview](https://user-images.githubusercontent.com/5903705/43349510-2bdf7026-91b5-11e8-8d9c-7f3d9e6ad17f.png)

**Overview page in Cluster Console**
<img width="985" alt=

[2018-07-30 16:13] spadgett opened #338 "Can only see a couple pod rows when there are a lot of labels"
@openshift/team-ux-review @robszumski @rhamilto @sg00dwin @alecmerdler

We've talked about this before, but can we consider removing labels as a row in the pod list? Here is an example from a real cluster where I can only see two rows in a fairly large browser window.

Would a column like "Owner" be better here anyway?

![screen shot 2018-07-24 at 5 45 13 pm](https://user-images.githubusercontent.

[2018-07-30 16:18] beanh66 commented on #338
@spadgett I thought based on the previous requests regarding labels, we may want to keep these columns and keep the Edit Labels action available too.  I know we talked about doing that and went back and forth on it a bit. Wondering if we can keep labels as a column on all summary pages for consistency, but when there are more then 3 maybe having them fade out and only showing the rest on detail vi

[2018-07-30 18:55] beanh66 commented on #254
If a user will never see both overview nav options in a single view then I think you make a great point @tlwu2013, there probably is no issue with having both remain as "Overview."

[2018-07-31 02:45] smarterclayton opened #342 "Pod metrics should report cores or millicores, not shares"
Shares is not a thing.  We should either report cores (unit-less) or millicores (most people think in terms of fractions of a core though, so 0.01 cores reads better than 10m in most cases).

[2018-07-31 02:46] smarterclayton opened #343 "Builds should show their pod metrics if they can"
It's frustrating not seeing them.  However, note that for builds the prometheus query is for pod_name="X",container_name="" (we have to show the full pod CPU because the build is run under the pod cgroup, not a container cgroup).

[2018-08-01 03:09] serenamarie125 commented on #338
@spadgett is this another item we could get feedback on at DevCon?  both around use cases & possible alternatives

I'm curious as to what the use case is here ... are they looking at the labels of a specific resource and possibly navigating to it?  Or do they want to see all labels of all resources at the same time to compare?

Assuming the former, I think there are a number of design alternatives

[2018-08-01 03:12] serenamarie125 commented on #254
+1 @tlwu2013 I agree that using Overview for both makes the most sense.

[2018-08-02 20:00] sg00dwin commented on #338
Another option is to make them visible within a expanded row state. We currently do that on the Nodes list view, although it's either all rows expanded or all collapsed.

In column format the label text is usually truncated so much that they are unreadable.  And being able to sort by label doesn't seem to be of much value.

<img width="365" alt="screen shot 2018-08-02 at 3 48 26 pm" src="https://u

[2018-08-03 04:28] jcaianirh opened #362 "Issue creating env var value from a secret or config map on a container instance > 1."
Can't create an environment variable value from a secret or config map on a container instance > 1. The env editor will only create the env var on the first container instance no matter which create button is pressed.

[2018-08-03 17:11] jcaianirh commented on #362
fixed with pr 363

[2018-08-03 17:11] #362 closed

[2018-08-03 23:53] robszumski commented on #338
I had a design a long time ago that moved all labels into an expanded row state, with them flowing across the full row since they tend to be both long and numerous in practice. Food for thought.

![6 2__dc__manage-cluster-registry___expanded 2x](https://user-images.githubusercontent.com/755540/43670150-b61dd948-973d-11e8-9f85-1a0614a368b5.png)

[2018-08-08 12:17] spadgett commented on #343
/assign

[2018-08-09 19:46] beanh66 commented on #338
@robszumski @spadgett @openshift/team-ux-review Brainstorming on a few more ideas that would collapse some of the longer label rows but still maintain the column format. Thoughts on any of these below?
![expand-1](https://user-images.githubusercontent.com/18057044/43921933-3902b0a2-9beb-11e8-8f40-30f4beb1cf92.png)
![expant-2](https://user-images.githubusercontent.com/18057044/43921936-3930f66a-9be

[2018-08-10 01:39] robszumski commented on #338
I like the "3 more..." most but as the trend to programmatically generate these increases, I lean towards removing them all together and only show on the detail page + the search page, where you can actually do a label query.

[2018-08-13 18:57] sspeiche commented on #338
Like like options 4 and 3. One other thing is if we had a way to not show "advanced" items by default, like there is the compact and expanded forms. If we had the concept of "primary" or inversely "extra" labels, we could treat them with the right priority.

[2018-08-14 01:05] serenamarie125 commented on #338
If we had a compact view, I'd suggest that the tag column just show the number of labels with an associated infotip (similar to option 4).  Then we could have an expanded view which showed all the labels.

[2018-08-14 18:29] beanh66 opened #403 "Build creation can fail if image stream doesn't exist"
The builds created from the build config create page examples can fail because the examples reference image streams that may not exist.

I think we came to a consensus on the design solution so that users get successful builds using the example build configs. @bmignano can you post here? FYI @rhamilto @spadgett

[2018-08-14 20:49] bmignano commented on #403
![combined](https://user-images.githubusercontent.com/40238481/44117134-6744db72-9fe0-11e8-8576-7d965e423815.png)

Here's a screenshot of the design. When users go to the "Create Build Config" page, they will be prompted to create both an image stream and a build config. The image stream creation will be in the same yaml editor as the build config. The sections to create each object will be called

[2018-08-15 12:44] spadgett commented on #403
Suggest adding a comment explaining why you want an image stream. Something like:

[code]

[2018-08-15 12:46] spadgett commented on #403
Note to be valid YAML you need `---` before each resource. (Our YAML editor doesn't currently support multiple documents, though.)

[2018-08-16 17:31] beanh66 commented on #338
@spadgett @sspeiche @robszumski Thanks for the input thus far! Final question in my mind is do you think it's important to allow users to filter by label on the resource summary pages (Deployments, Pods, Stateful Sets, etc.)?

My thought is either, (1) we need to allow filter by label, so we should show labels to some extent (maybe with the "more" link) or (2) we do not need to allow filter by lab

[2018-08-17 12:37] sspeiche commented on #338
@beanh66 filter by labels in this context is useful not doubt, though I'd need to better understand what is lost. App labels would be a primary label to filter on.

@spadgett I'd be interested your ranked list of things you'd see users needing before labels are shown.

I'm in favor of keeping things slim for now and gradually add things one we are down to a single code base.

[2018-08-20 13:35] dtaylor113 opened #430 "Service Catalog -> Service Classes: inconsistent titles"
Nav Menu is "Service Catalog -> Service Classes"
List Page has "Cluster Service Classes"
Details Page has "Service Class Overview"

Should we remove "Cluster ..." from List Page, or add "Cluster ..." to Details page?

[2018-08-20 13:36] spadgett commented on #430
We want to add namespaced service classes to that page like we do for the role bindings page. We can address the naming at that time.

[2018-08-23 12:40] #220 closed

[2018-09-05 19:48] spadgett commented on #343
Added in #349

[2018-09-07 20:40] cshinn opened #510 "Inconsistent capitalization of "YAML" throughout console"
On details pages:
<img width="158" alt="screen shot 2018-09-07 at 4 15 57 pm" src="https://user-images.githubusercontent.com/3300756/45241962-54bbf500-b2bc-11e8-9878-98b4d6cf7281.png">

In secrets dropdown:
![screen shot 2018-09-07 at 3 02 52 pm](https://user-images.githubusercontent.com/3300756/45241970-5eddf380-b2bc-11e8-9048-afeb55440509.png)

In Application console actions dropdown:
<img width

[2018-09-07 20:43] robszumski commented on #510
I think it's probably just an oversight.

Related, should it be yml or yaml? /s

[2018-09-10 17:31] #510 closed

[2018-09-12 06:36] wenchma opened #520 "Console catalog display duplicated service"
## Environment info
[code]

## Problem description

In `openshift` namespace, there are two same service: `OpenJDK 8`
![image](https://user-images.githubusercontent.com/8329027/45406110-f44ffd80-b697-11e8-8c41-9d12acd8a2ce.png)

### The first one is not right
![image](https://user-images.githubusercontent.com/8329027/45406408-08482f00-b699-11e8-9de0-bb2d8704f27e.png)

### The other one is right:
!

[2018-09-12 11:58] spadgett commented on #520
Are you sure you don't actually have two similar templates? Display names are not guaranteed to be unique. How did you install?

/kind question

[2018-09-13 01:35] wenchma commented on #520
@spadgett  I installed the template as follow
[code]

I query templates, it return one:
[code]

[2018-09-14 06:19] wenchma commented on #520
@spadgett thanks for your reply,  as you said,
![image](https://user-images.githubusercontent.com/8329027/45533102-19c04100-b829-11e8-8a59-2a66077e2dc0.png)

[2018-09-14 06:33] wenchma commented on #520
there are two apis to retrieve template,  template and clusterserviceclasses , it is the problem ?

[2018-09-14 11:07] spadgett commented on #520
If you have template service broker enabled (it's on by default), console will only use the service class. It won't show the template. If this were the problem, you would see two of all templates.

[2018-09-17 01:42] wenchma commented on #520
The console gives two services, and one Ok, one not ok , it confused me.

[2018-09-18 19:49] rebeccaalpert commented on #102
The icon is officially in Patternfly as of today: https://github.com/patternfly/patternfly/pull/1145/commits

I have a couple of higher-priority JIRA tickets I need to close out first, but I will tackle this once they're done.

[2018-09-20 13:08] rthallisey opened #555 "Browser refresh is required to see new catalog entries from brokers"
If you create any new serviceclasses in the catalog the UI requires a browser refresh to pick them up.  Is there any way to make it more dynamic so a browser refresh isn't required?

[2018-09-20 13:08] rthallisey commented on #555
cc @spadgett

[2018-09-20 13:42] spadgett commented on #555
This is no longer a limitation in the converged console in 4.0. (Note that service catalog does have a relist delay unless you manually sync.)

[2018-09-20 13:47] spadgett commented on #555
Closing since this is addressed in master. Let me know if you have concerns.

[2018-09-20 13:47] #555 closed

[2018-09-20 13:47] rthallisey commented on #555
@spadgett thanks for the info.  I thought so given what I was seeing with operators being listed dynamically, but wanted to see if it was only on the operator side.

[2018-09-25 08:03] gouyang opened #581 "Error "Required value" for field "metadata.namespace""
After apply kubevirt-web-ui [1] to ocp cluster, it could be able to create virtual machine in http://kubevirt-web-ui-kweb-ui.cloudapps.example.com. However, create a virtual machine from a typical yaml [2] file is failed because of such an error `Error "Required value" for field "metadata.namespace"`.

[1] https://github.com/kubevirt/web-ui
[2] https://raw.githubusercontent.com/kubevirt/kubevirt/m

[2018-09-25 08:44] gouyang commented on #581
I know it's a bit confused, because the yaml of kubevirt-web-ui is not existed anywhere, and it's from kubevirt/web-ui, so I put the link there.

[2018-09-25 08:52] gouyang commented on #581
Copying a word from cnv-devel:
[code]

[2018-09-25 09:43] jhadvig commented on #581
So in the admin console, the object that is being created from YAML(JSON) is expected to contain the namespace info.
ATM we are creating resource based on if YAML(JSON). If we would want to provide this kind of logic we would need to check when submitting the resource for create, if it's namespaced and if so modify the YAML accordingly. Also in case of CRD's it can get bit more tricky since you wi

[2018-09-25 14:58] #581 closed

[2018-10-05 16:17] smarterclayton opened #621 "ImageStreamTag display won't work quite like expected"
Image stream overview displays a list of tags, which are clickable.  However, that takes me to image stream tags view.  On that view, I don't see historical tags (you need the image stream for that).  But another problem is that you can have spec or status tags, and both need to be viewable (i.e. the following states)

1. You only have a status tag on the image stream called `foo` (can have histor

[2018-10-05 16:18] smarterclayton opened #622 "Annotations on ImageStream overview are hard to view"
The annotations link on ImageStream overview pops up a modal dialog that only shows 1 row and 30 columns for both name and value, which isn't enough to really convey annotations.  It needs to be possible to view annotations easily, and those annotations can be up to hundreds of characters.  A modal dialog really doesn't allow that to happen.

[2018-10-05 16:19] smarterclayton opened #623 "ImageStream tag table on ImageStream overview isn't sortable"
I expected to be able to sort by clicking on "created" and wasn't able to.

[2018-10-05 17:04] spadgett commented on #622
@openshift/team-ux-review

[2018-10-11 17:46] beanh66 commented on #622
Thanks @smarterclayton and @spadgett, I just created a design story for this. FYI @serenamarie125

[2018-10-15 21:02] jeff-phillips-18 opened #657 "Using browser Find will find Catalog Items not being displayed"
The patternfly react CatalogTileViewCategory component implementation caused the tiles to be rendered but not visible. This meant the browser Find was still able to find those items. Fix for the CatalogTileViewCategory is in patternfly-react-extensions version 2.9.1

To fix this issue the catalog view needs to pass CatalogTile components to the CatalogTileViewCategory component which now work as l

[2018-10-16 22:05] #657 closed

[2018-10-19 14:21] bmignano commented on #622
@smarterclayton @spadgett I brainstormed some ideas for this issue in this [google doc](https://docs.google.com/document/d/1DTqnyE-V5TufM_ZESA8razKuEEURPGAsG5WXcUsm7ls/edit?usp=sharing). I included mocks of some potential design solutions and short descriptions of each. Would love to get your feedback on these!

[2018-10-22 07:52] fenggolang opened #679 "test cluster console api"
I want to test the okd3.11 cluster console api, but I don't know which one the header uses, it seems that the token is not used？
![image](https://user-images.githubusercontent.com/16982786/47282586-6827e300-d612-11e8-9105-c9c3bd8748ba.png)

[2018-10-22 12:50] spadgett commented on #679
No, it doesn't use an Authorization header. It uses a cookie and a CSRF token header.

I'm not sure what you're testing, but if you just want to use the OpenShift API, I'd recommend talking directly to it. The console endpoint is only a proxy.

/kind question
/close

[2018-10-22 12:52] #679 closed

[2018-10-22 12:53] spadgett commented on #520
Closing due to inactivity.

[2018-10-22 12:53] #520 closed

[2018-10-25 14:52] jcaianirh opened #697 "Drag and drop icon present in read/only view on single env values and not envFrom"
For the read-only pages (pods / builds) without vars set, the drag and drop icons shouldn't be present in either env types in the editor.

[2018-10-25 14:54] jcaianirh commented on #697
![screen shot 2018-10-25 at 10 53 33 am](https://user-images.githubusercontent.com/35978579/47509557-575eb380-d844-11e8-8bf8-de4c7a20394d.png)

[2018-10-25 16:11] rebeccaalpert commented on #102
See https://github.com/openshift/console/pull/632.

[2018-10-25 16:11] #102 closed

[2018-10-25 16:11] rebeccaalpert commented on #697
See https://github.com/openshift/console/pull/699.

[2018-10-26 13:19] #697 closed

[2018-10-26 21:37] spadgett opened #710 "Additional margin under nav section heading"
There's some additional margin between the section title and the items, for instance, between "Workloads" and "Pods below. (Current is on the left, previous on the right.)

Just checking if this is intentional or an oversight.

<img width="445" alt="overview okd 2018-10-26 17-33-22" src="https://user-images.githubusercontent.com/1167259/47593415-4ba6e600-d945-11e8-9f29-c760d212ea14.png">

cc @open

[2018-10-26 22:41] robszumski commented on #710
This seems intentional to make the hover state's padding look even, although it does produce a large gap that is not ideal.

I am hovering over Administration here, but you can't see the cursor:
![image](https://user-images.githubusercontent.com/755540/47595495-902a8580-d935-11e8-9558-fd01a063798a.png)

[2018-10-29 09:48] marusak opened #712 "Display problems"
This is re-issue from https://github.com/openshift/origin-web-console/issues/2919

For the mentioned issue there is also PR. I am opening this issue to start discussion if I should start working on this or if it would be better to wait for some other things to be done first.

@spadgett @jwforres @jhadvig

[2018-10-29 15:41] serenamarie125 commented on #710
@mshaks1996 can you take a look ?

[2018-10-29 17:02] maryshak1996 commented on #710
@spadgett yes this is intentional! @robszumski is spot on, that the intention is accommodate adequate padding around elements

[2018-10-29 20:23] spadgett commented on #710
@maryshak1996 ok, thanks for the clarification!

/close

[2018-10-29 20:23] #710 closed

[2018-11-08 07:45] cmoulliard opened #775 "Blank page displayed - http://localhost:9000/overview/ns/odo"
When I use the console top of kubernetes v1.11 and click on `overview` button of a namespace, I'm getting this error within the Browser console and the screen stays `white`

[code]

![screenshot 2018-11-08 08 46 33](https://user-images.githubusercontent.com/463790/48184596-cf43d800-e332-11e8-92cf-7dd2c96d07f1.png)

[2018-11-13 20:46] cshinn opened #802 "Project display name and description unused"
Unique names for projects are used in all places and display names only appear in the details, which seems to be the opposite of their intended purpose. Additionally, project descriptions don't appear anywhere that I've been able to find. I wonder if we should emphasize these fields more, or remove them if they are not used.

[2018-11-13 21:04] spadgett commented on #802
Project display name has two big drawbacks:

1. It's not unique. Many projects can have the same display name.
2. It doesn't match what's used in the CLI or YAML, which causes confusion.

For these reasons, I like that we're starting to deemphasize them. They're hard to remove entirely since that's effectively an API change.

I do think descriptions are helpful and could be used more.

[2018-11-15 16:28] bmignano opened #817 "View selector icon cuts off at certain screen sizes"
Minor issue I found on the project status page where the page view selector icon (dashboard) gets cut off at certain screen sizes. See screenshot below. @spadgett

<img width="1161" alt="screen shot 2018-11-15 at 11 25 57 am" src="https://user-images.githubusercontent.com/40238481/48566747-9030fc00-e8c9-11e8-9e4a-91020eefdd7a.png">

[2018-11-15 16:36] spadgett commented on #817
/assign @sg00dwin

#810 does make the label shorter, so this might be fixed by that

[2018-11-20 16:09] jeff-phillips-18 opened #845 "Marketplace and Catalog tile view pages should allow multi-word filters"
We should break the filter string into whitespace separated words so that searches like "java database" matches the words appearing anywhere in the description instead of as one literal string.

[2018-11-20 16:48] bmignano opened #847 "Actions on Project Status wraps early and dropdown misaligned"
Issues with the actions dropdown on the project status page.

- The actions button wraps when there is still room in line with the page title
- The dropdown does not line up with the button

See screenshot below for reference.

@spadgett

<img width="941" alt="screen shot 2018-11-16 at 2 24 14 pm" src="https://user-images.githubusercontent.com/40238481/48789078-36aa4200-ecba-11e8-8b07-b2d7fb17b6b8

[2018-11-20 16:49] spadgett commented on #847
Thanks, yeah. @sg00dwin is already investigating.

/assign @sg00dwin

[2018-11-27 18:13] jeff-phillips-18 opened #869 "Marketplace and Catalog chunk sizes are large and should be reduced."
Chunk sizes for Catalog and Marketplace are larger than other chunks and have special settings in the performance scenario tests. These should be reduced and these exceptions removed or reduced.

@alecmerdler

[2018-11-28 00:43] gkarthiks opened #871 "Chrome crashes with out of memory exception"
We have the OpenShift Cluster with the OpenShift Console deployed. We have multiple namespaces and one of the namespace has around ~ 170 pods.

When logged in, it's terrifically slow and hangs without any response. After a while the chrome window goes to the screen with `Aw snap, something went wrong while displaying this webpage` message.

If I have the `Developer Tools` opened, it automatically

[2018-11-28 17:28] quintesse opened #874 "Show chained builds in Overview"
Right now when using a chained build will only show the last build step as part of the Deployment Config, in our case where the first step can take several minutes it seems as though nothing is happening for a long time. You can of course check the Builds menu but it would be nice if it were possible to have this directly visible in the Overview.

[2018-11-30 16:20] #869 closed

[2018-12-06 11:59] vrutkovs opened #905 "Can't create a new namespace when creating an app"
1. Go to Home - Catalog
2. Pick Python
3. Click 'Create Application'

Namespace selector doesn't allow to create a new namespace/project, so I have to go back, create one manually and create an app again

[2018-12-06 21:15] RobertKrawitz opened #916 "webconsole displays a message to set up identity provider w/no instructions on how"
With installer v0.5.0-master-36-gb4f5ceb6bfde8d3dc0e29f708e0494488ea37ee0 and ostree
ostree 47.194 on AWS, the console displays a banner message:

[code]

Unfortunately, it displays no instructions or guidance about how one might go about doing so.

[2018-12-07 22:39] crawford opened #919 "Install Plans page suggests use of kubectl instead of oc"
I viewed https://console-openshift-console.apps.crawford.coreservices.team.coreos.systems/k8s/ns/default/installplans (probably gone by the time you are reading this) and it shows the following:

![image](https://user-images.githubusercontent.com/368848/49676238-c4fa2400-fa2d-11e8-9e56-c1d44578c1b1.png)

We probably want to suggest the use of `oc` instead of `kubectl`.

[2018-12-07 22:43] crawford opened #920 "Machine Sets doesn't show a lack of machines correctly"
Looking at https://console-openshift-console.apps.crawford.coreservices.team.coreos.systems/k8s/all-namespaces/cluster.k8s.io~v1alpha1~MachineSet, I see the following:

![image](https://user-images.githubusercontent.com/368848/49676357-40f46c00-fa2e-11e8-8c96-487e1b403c85.png)

" of 0 machines" should probably read "0 of 0 machines" (or maybe something similar).

[2018-12-07 22:56] crawford opened #921 "Unable to subscribe to operators"
Looking at https://console-openshift-console.apps.crawford.coreservices.team.coreos.systems/marketplace?details-item=etcd%2Fopenshift-operator-lifecycle-manager, I'm unable to actually subscribe. The button just doesn't do anything. I don't see any errors in my browser's console.

![image](https://user-images.githubusercontent.com/368848/49676789-0be91900-fa30-11e8-8ea5-dbefca6a63d7.png)

[2018-12-07 23:04] crawford opened #922 "The field status.members is invalid on Couchbase operator"
Looking at https://console-openshift-console.apps.crawford.coreservices.team.coreos.systems/k8s/ns/default/clusterserviceversions/couchbase-operator.v1.0.0/couchbase.com~v1~CouchbaseCluster/cb-example, I see the following error:

![image](https://user-images.githubusercontent.com/368848/49677005-443d2700-fa31-11e8-94e5-86759b2df059.png)

[2018-12-10 15:10] spadgett commented on #922
/assign @alecmerdler

[2018-12-10 15:11] spadgett commented on #920
/assign

[2018-12-10 15:11] spadgett commented on #920
https://bugzilla.redhat.com/show_bug.cgi?id=1656719

[2018-12-10 16:09] alecmerdler commented on #922
This is a known issue, @robszumski sent an email to the Couchbase Operator team to have them make some requested updates to their CRD schema which should fix it. @crawford Can you post the contents of the "YAML" tab for the `CouchbaseCluster` object?

[2018-12-10 16:15] spadgett commented on #921
/assign @galletti94 @SamiSousa

[2018-12-10 16:16] spadgett commented on #919
/assign @alecmerdler

[2018-12-10 16:58] galletti94 commented on #921
@crawford How did you get the operators to show up? In the latest version of the UI they should only show up if you have catalogsources in the openshift-marketplace namespace. See PR #912

[2018-12-10 19:04] spadgett commented on #916
/assign

[2018-12-10 19:51] #847 closed

[2018-12-10 21:39] spadgett commented on #871
Thanks for the report. What version are you using and what page has the problem?

We've greatly improved performance in the next-gen console in OpenShift 4.0.

* Almost all tables in the UI now use virtual scrolling with react-virtualized, so that only items currently visible on the page are rendered.
* We've moved from AngularJS 1.x to React, which is more performant and only renders parts of the

[2018-12-11 19:22] #920 closed

[2018-12-11 20:07] #919 closed

[2018-12-13 14:13] spadgett commented on #775
The overview page has a current limitation where it doesn't work on native Kubernetes. We've since disabled that page unless running on OpenShift. We do eventually want to support it, though.

[2018-12-13 14:40] spadgett commented on #871
I suspect the operator that manages the console will fail on 3.9, but I'm not certain. You could try

https://github.com/openshift/console-operator#running-against-a--400-cluster-min-311-recommended

cc @benjaminapetersen

[2018-12-13 15:05] benjaminapetersen commented on #871
Yeah, it will probably not deploy on 3.9 at this point (and would demand the console live in `openshift-console` namespace).

[2018-12-17 15:33] galletti94 commented on #921
This should be fixed now

[2018-12-18 08:48] cmoulliard opened #962 "We can't display/access the Web Terminal of a container"
## Info

Openshift Console: master branch
Cloud platform : k8s - 1.13

## Description

Issue : No terminal console is displayed as you can see here when we try to access a pod' terminal

![screenshot 2018-12-18 09 51 00](https://user-images.githubusercontent.com/463790/50142448-79a40900-02aa-11e9-8d37-53363f4fbd95.png)

Console has been launched using these commands

[code]

I can access remotely

[2018-12-19 01:40] spadgett opened #974 "iOS: You have to tap nav sections twice to expand them"
On iOS touch devices, you have to tap each nav section twice to open it. The first tap just triggers the hover style.

[2018-12-19 01:41] spadgett opened #975 "iOS/PF4: No way to close user kebab"
If you open the user kebab in the masthead on an iPhone, there'ss no way to close it without clicking one of the items. (Currently the only item in the menu is "Logout.")

[2018-12-19 01:42] spadgett opened #976 "iOS/PF4: Some pages have scrollbars where it's not needed"
All pages seem to have a scrollbar, even pages that don't fill the height of the screen.

[2018-12-19 01:44] spadgett opened #977 "PF4: Can't tap a masthead dropdown again to close it"
Once you open a masthead dropdown, clicking it again does not close the dropdown.

Related to #975

[2018-12-19 01:56] spadgett commented on #962
This is strange. I wouldn't expect any JS to have a syntax errors since it's run through both the TypeScript compiler and eslint. I haven't been able to reproduce (at least on OpenShift, I haven't tried Kubernetes 1.13).

Can you check the network tab to see if the response for 52-chunk... looks like JavaScript?

You might try current master as well to see if it's still an issue.

[2018-12-19 07:14] cmoulliard commented on #962
I have updated and **recompiled** the project from master branch and the error is not longer there

<img width="1415" alt="screenshot 2018-12-19 07 46 05" src="https://user-images.githubusercontent.com/463790/50204687-0069ec00-0366-11e9-9458-b582408d5c5a.png">

[2018-12-19 07:14] #962 closed

[2018-12-19 07:17] cmoulliard opened #978 "[Feature] Search by labels OR Select more than one Resource"
## Feature Request

As a user I would like to search for k8s resources using the **labels** as **query parameter** OR by doing a **join of different resources** as the current search filter only offers the possibility to search by resource.

![screenshot 2018-12-19 07 56 35](https://user-images.githubusercontent.com/463790/50204828-68b8cd80-0366-11e9-9533-a66cb200458c.png)

[2019-01-03 08:59] siamaksade opened #997 "Build is not visible in the Status"
When creating an app via the Developer Catalog, in the Status there are no signs of the build running. The UI appears as if the pod cannot deploy for some reason for a long time:

<img width="1055" alt="screenshot 2019-01-03 at 09 56 47" src="https://user-images.githubusercontent.com/1174934/50629702-fa673400-0f3d-11e9-8213-6de407f2598e.png">

User has to be curious enough and click around on *0 o

[2019-01-03 14:33] spadgett commented on #997
Yeah, known issue: https://jira.coreos.com/browse/CONSOLE-1024

[2019-01-03 14:33] spadgett commented on #997
/assign @TheRealJon

[2019-01-03 16:50] spadgett commented on #976
Low severity, but it would be nice to fix.

/assign @rhamilto

[2019-01-03 16:51] spadgett commented on #977
/assign @rhamilto

[2019-01-03 17:10] rhamilto commented on #975
This is an [upstream bug](https://github.com/patternfly/patternfly-react/issues/1125).

[2019-01-03 17:11] rhamilto commented on #977
This is an [upstream bug](https://github.com/patternfly/patternfly-react/issues/1113).

[2019-01-03 18:57] rhamilto commented on #976
This is an [upstream bug](https://github.com/patternfly/patternfly-next/issues/1174).

[2019-01-04 19:13] spadgett commented on #916
Will be fixed by #1010

[2019-01-09 20:02] sg00dwin commented on #817
Fixed in https://github.com/openshift/console/pull/810
updated to button in https://github.com/openshift/console/pull/1013

[2019-01-09 20:02] #817 closed

[2019-01-12 00:02] #916 closed

[2019-01-15 16:10] spadgett commented on #342
#1080 fixes this for the namespace page. We still need to look at it for the pod page.

cc @sjenning

[2019-01-15 16:37] spadgett commented on #342
@sjenning updated #1080 to handle the pods page, too 👍

[2019-01-15 19:03] #342 closed

[2019-01-18 21:43] eivantsov opened #1112 "Operator Hub page is broken"
It used to work just a few hrs ago, not I can see that tags have been updated with the latest version and this error comes up:

![image](https://user-images.githubusercontent.com/5337267/51413428-ebd36c00-1b3c-11e9-89d2-efd7859ff26a.png)

[2019-01-18 22:07] eivantsov commented on #1112
Tried to build and run - same results. I started to checkout to older commits, and one of them worked, https://github.com/openshift/console/commit/2644b08a8c66c9ffd434be6a1010afd860b06ecd Perhaps I could have checked out to an earlier commit.

[2019-01-18 22:08] spadgett commented on #1112
Fixed by #1103

https://bugzilla.redhat.com/show_bug.cgi?id=1667227

[2019-01-19 14:52] eivantsov opened #1113 "Operator details page is broken"
Steps to reproduce:

1. Run console from the latest Docker image against OKD 3.11
2. Create https://raw.githubusercontent.com/operator-framework/getting-started/master/memcachedoperator.0.0.1.csv.yaml
3. Go to installed operators and click on the operator name:

![image](https://user-images.githubusercontent.com/5337267/51428271-c93e6300-1bcf-11e9-84f6-187bf223ef60.png)

[2019-01-19 14:54] spadgett commented on #1113
/assign @alecmerdler

[2019-01-22 14:54] garagatyi opened #1119 "It is impossible to get container logs in the UI for init containers"
It is impossible to get container logs in the UI for init containers.
So, when an application inside of init container fails UI shows only init error status. No logs are available, no events in the events view are present.
But it is possible to get logs using OC `oc logs <POD> -c <CONTAINER>`.
This makes an investigation of a problem with an application way harder.
Please, add this feature.

[2019-01-22 15:10] spadgett commented on #1119
I agree this is important. What version are you using?

This should be fixed in the 3.11 admin console and 4.0 console by #122.

[2019-01-22 15:12] ibuziuk commented on #1119
AFAIK, we are using `v3.11.43` but init container logs are not available in pod logs

[2019-01-22 15:13] spadgett commented on #1119
Are you using the developer console or admin console in 3.11?

[2019-01-22 15:15] ibuziuk commented on #1119
could you clarify the difference (I thought those are synonyms for `OpenShift Web Console` ) ?

[2019-01-22 15:22] spadgett commented on #1119
There are two console in 3.11, a developer-focused console and an admin console. By default, if you installed with Ansible, you'll have both. If you're using `oc cluster up`, you'll only have the developer console. If you don't see any option for "Developer Console" and "Cluster Console" in a dropdown in the masthead, you probably don't have the admin console.

In 4.0, there will only be one conso

[2019-01-22 15:33] ibuziuk commented on #1119
@spadgett I do think I have permissions to do so :(

[2019-01-22 15:35] spadgett commented on #1119
What error do you see?

[2019-01-22 15:36] ibuziuk commented on #1119
![image](https://user-images.githubusercontent.com/1461122/51546163-dd01f780-1e63-11e9-9499-5ae0bfd18c20.png)

[2019-01-22 17:38] Pectojin opened #1120 "PROJECT_NAVIGATION canI fails on group permissions"
**Issue**
The `Resources -> Membership` navigation item disappears on the project page if the user is not directly assigned to a role that provides `verb: list, resource: rolebinding`.

In our cluster we assign permissions through group membership, so my users have read access on rolebindings through a group.

I was able to work around this by overwriting the canI dict, but it would be nice if the

[2019-01-22 21:50] spadgett commented on #1119
Are you logging in with the same ID as the other console? You might need to request access again.

Closing since init container logs have been added to the 4.0 console in #122

/close

[2019-01-22 21:50] #1119 closed

[2019-01-24 18:08] spadgett commented on #1120
I'm a little uncertain why this would be a problem since the console performs a `SelfSubjectRulesReview`, which should account for group permissions.

It might be that we're requesting access to `rolebinding` and not `rbac.authorization.k8s.io/rolebinding`. If you switch the `canI` stanza to following, does it work?

[code]

(Note that this issue should go in the openshift/origin-web-console. This

[2019-01-24 19:43] spadgett commented on #1120
/assign @rhamilto

[2019-01-24 20:50] spadgett commented on #1120
/close

Fixed by https://github.com/openshift/origin-web-console/pull/3110

[2019-01-24 20:51] #1120 closed

[2019-01-24 20:52] spadgett commented on #1113
You shouldn't be running the latest console against a 3.11 cluster. Do you see this error in a 4.0 install?

[2019-01-24 20:54] spadgett commented on #1113
Closing as this is not a valid configuration. Console relies on new APIs in 4.0. Please reopen if you can reproduce on a 4.0 cluster.

/close

[2019-01-24 20:54] #1113 closed

[2019-01-28 12:57] spadgett commented on #430
Addressed by #948

[2019-01-28 12:57] #430 closed

[2019-02-01 06:12] cmoulliard commented on #775
Do you want to keep this ticket opened then as you disabled the page when console is used top of k8s ? @spadgett

[2019-02-21 18:09] andybraren opened #1209 "Inconsistent unit labels in the PVC creation form"
When creating a Persistent Volume Claim, the unit dropdown next to the size field starts as `GiB`. Interacting with the dropdown changes the unit label from the expected `MiB/GiB/TiB` to the abbreviated `Mi/Gi/Ti` instead. Since abbreviated units are used elsewhere in the console, it seems like the elongated labels should be replaced.

![pvc-unit-change](https://user-images.githubusercontent.com/9

[2019-02-21 18:10] spadgett commented on #1209
/assign @zherman0

[2019-02-25 15:22] vrutkovs opened #1218 "Some pods may not have volumes"
Create a pod which doesn't have volumes and doesn't mount SA token:
[code]
Pod now cannot be viewed:
[code]

[2019-02-25 19:59] #1218 closed

[2019-02-26 18:14] zherman0 commented on #1209
Opened PR1228 to fix this https://github.com/openshift/console/pull/1228

[2019-03-01 12:45] #1209 closed

[2019-03-04 06:12] patlachance opened #1248 "Support http_proxy env variable"
Authentication fails if the openshift cluster's public endpoint is reachable only through an http proxy.

Error message on my environment:

2019/03/3 07:21:03 auth: unable to verify auth code with issuer: Post https://console.rh.hml.lab-nxtit.com:443/oauth/token:  net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

I tried configuring uppercase

[2019-03-07 07:12] AyushAmbastha opened #1258 "Capacity Metrics in PVs and PVCs"
Hi,
I was trying to display the 'Available' space on the PV or PVC for which I need the amount of storage 'used'. Do I need to make an API call as that value isn't shown in the yaml file?
How do I display this? @zherman0

[2019-03-07 09:49] GrahamDumpleton opened #1259 "Javascript error when trying to view standalone pod."
In OpenShift 4.0 deployed using try.openshift.com, if you have a standalone pod which wasn't created by a deployment, deployment config etc, but was created by a custom application directly using REST API, when trying to view that pod in the web console pods view, you get a Javascript error when rendering the page.

[code]

Have also seen this issue when console image was deployed direct into a 3.

[2019-03-07 11:20] vrutkovs opened #1260 "Incorrect position of edit icon near 'Default Pull Secret' in namespace dashboard"
Firefox 66.0b12, didn't check if it happens in other browsers

4.0.0-0.7, console 24942e86dd5bef0b17c1e33bfcd386b450c49b19

1. Home -> Status
2. Switch to Dashboard
3. Scroll down to Details

![screenshot_2019-03-07 project status openshift container platform](https://user-images.githubusercontent.com/114501/53953290-3dc35780-40d3-11e9-95a2-ab3e7e0f1d82.png)

[2019-03-07 15:04] zherman0 commented on #1258
@AyushAmbastha - that is not currently a feature available from the API.  I believe we are developing a metrics page that does keep track of the space used but I don't fully recall.  Perhaps @spadgett can comment on this.

[2019-03-07 15:44] sg00dwin commented on #1260
I believe this pr https://github.com/openshift/console/pull/1251 will fix this issue.

[2019-03-08 12:01] siamaksade opened #1267 "Pipeline status icon shows running when cancelled"
When a pipeline is cancelled, the status icon shows it as running.

<img width="624" alt="screenshot 2019-03-08 at 13 00 46" src="https://user-images.githubusercontent.com/1174934/54027525-374fe100-41a2-11e9-97d0-c73bc55361e4.png">

[2019-03-08 12:03] siamaksade opened #1268 "Pipeline (build) instance links to self"
The link "Build-4" in this example, links to the page that the user is already on. The link needs to get removed and show as text since it has no use.

<img width="350" alt="screenshot 2019-03-08 at 13 02 07" src="https://user-images.githubusercontent.com/1174934/54027631-8a299880-41a2-11e9-8b0c-f2ffcd06b60f.png">

[2019-03-08 12:09] siamaksade opened #1269 "Manual step in pipeline should link to a page on Jenkins with input buttons"
When a pipeline has a manual step, the _Input Required_ link is displayed on the pipeline:

<img width="680" alt="screenshot 2019-03-08 at 13 05 32" src="https://user-images.githubusercontent.com/1174934/54027837-2bb0ea00-41a3-11e9-814b-6d77684935f2.png">

Clicking on the link takes the user to the job page on Jenkins which doesn't have any input fields/buttons for the user to proceed with:

<img

[2019-03-08 12:09] spadgett commented on #1267
Can you share the YAML?

[2019-03-08 12:24] siamaksade commented on #1267
[code]

[2019-03-13 13:54] Lasherbr opened #1281 "[Feature] DeploymentConfig Back with resource limits form"
Cluster Version: 4.0.0-0.7
Expected Behavior: The deployment config resouce limit edition should be done through a form like on 3.x. Directly on yaml its much more subject to errors.

[2019-03-14 19:14] spadgett commented on #1268
/assign @sg00dwin

[2019-03-14 23:03] spadgett commented on #1260
Fixed by #1251

/close

[2019-03-14 23:03] #1260 closed

[2019-03-14 23:06] spadgett commented on #1259
@GrahamDumpleton Are you able to share the YAML for the pod?

[2019-03-14 23:08] spadgett commented on #1267
@siamaksade Sorry, I should have asked sooner. We needed the YAML for the build itself instead of the BuildConfig. (Don't know if it's too late now.)

[2019-03-14 23:10] spadgett commented on #1267
Nevermind, I see the problem. We're not handling cancelled status here:

https://github.com/openshift/console/blob/master/frontend/public/components/build-pipeline.tsx#L25-L31

[2019-03-14 23:15] GrahamDumpleton commented on #1259
[code]

[2019-03-15 01:20] spadgett commented on #1258
@brancz do you know if pvc usage metrics are available in prometheus?

[2019-03-15 01:29] spadgett commented on #25
Since this issue was opened, we've improved the first-time user experience. You're shown the projects list when first logging in, and we added an empty state message to other views in #185. There are still some edge cases where you can see the 403 message, but on balance, I think the current experience is reasonable.

/close

[2019-03-15 01:29] #25 closed

[2019-03-15 08:39] brancz commented on #1258
Unfortunately this is a bit fragmented in Kubernetes today. PVCs may have capacity and usage metrics, depending on the volume provider, and it seems that any CSI based volume doesn't have these at all. We can do this on a best effort basis but we'll very quickly hit cases where these metrics are not available.

We've already talked to sig storage about this, but as far as I know there have been no

[2019-03-15 11:02] vrutkovs commented on #1260
Works perfectly now, thanks

[2019-03-15 13:16] #1267 closed

[2019-03-15 14:21] suomiy opened #1296 "Group By gets reset in Status (overview) page"
Sequence

1. Group by Resource

![1](https://user-images.githubusercontent.com/3648838/54437753-9c24b180-4735-11e9-9e0d-1b21dcabf6cc.png)

2. Change (update) the example deployment object

3. Group by is reset to Application

![2](https://user-images.githubusercontent.com/3648838/54437791-b78fbc80-4735-11e9-92e2-8751d034c4c9.png)

note: this example has only one object, but happens with multiple o

[2019-03-15 17:59] spadgett commented on #1296
/assign @TheRealJon

[2019-03-15 20:19] kevchu3 opened #1298 "[Feature] Debug in Terminal option for pods in failed state"
The OpenShift 3.x web console previously had a Debug in Terminal option that spun up a separate Debug Container window with identical settings, changing the container's entrypoint to /bin/sh instead.  This option no longer appears in OpenShift 4.

[2019-03-16 14:08] spadgett commented on #1298
Thanks for the feedback. Note this is still possible using `oc debug`, although having it in the UI is nice.

[2019-03-20 23:08] #403 closed

[2019-03-22 08:50] wjiangjay opened #1320 "Default view for different users"
Hi:

Do we have any concerns to decide which page should be the default page after user(include cluster-admin) login to improve UX?

For me, if I am a ops permissions user, I prefer to a whole dashboard show out after I login, like /overview/all-namespaces page.

And for normal user without enough permissions, I prefer to show the dashboard after I click a project name instead of a resource list.

[2019-03-27 21:54] spadgett commented on #1320
I agree the cluster status page would be a better default for cluster admins. The problem is that we don't want to block load on the self subject access review request to check permissions. We'd have to investigate whether there's a good way around that.

[2019-03-30 01:07] vojtechszocs opened #1363 "Alternative way to manage Yarn installation"
Drawing inspiration from Facebook's [Jest](https://github.com/facebook/jest) 🃏 project, there's an alternative way to manage [Yarn](https://github.com/yarnpkg/yarn) 📦 installation.

Following steps are based on facebook/jest#8095:

1. create `.yarn/releases` directory
2. copy `yarn-<version>.js` to `.yarn/releases`
3. create `.yarnrc` file with contents `yarn-path ".yarn/releases/yarn-<version>.js

[2019-04-02 13:48] #1296 closed

[2019-04-03 16:03] ryanelian opened #1377 "Native Kubernetes Deployment: namespaces "default" is forbidden"
I'm attempting to run OpenShift Console in native Kubernetes (kubeadm) cluster using the instruction from README.

Unlike the README, I'm attempting to run the web console as a pod using this deployment:

[code]

Unfortunately I get this error upon loading the page:

![image](https://user-images.githubusercontent.com/8892187/55493656-90a51600-5663-11e9-877f-8c90131c14cd.png)

And the console pod l

[2019-04-05 09:41] cmoulliard opened #1387 "OperatorHub Tab don't show the Operators from marketplace"
## Issue

I followed [these instructions](https://github.com/snowdrop/component-operator/#how-to-install-the-operator-using-olm-marketplace-on-okd-3x) to install the OLM, Operator
 Marketplace  and some `OperatorSource` on `okd-3.11` but unfortunately the `OperatorHub` Tab don't show the Operators downloaded by the marketplace.

Remark: That fails too if I try to install the OCP resources as teste

[2019-04-05 11:59] spadgett commented on #1387
@jeff-phillips-18 @alecmerdler

[2019-04-08 10:02] cmoulliard commented on #1387
Can we get please a status about this ticket please @jeff-phillips-18 @alecmerdler ?

[2019-04-08 14:45] alecmerdler commented on #1387
Yes, the issue is with the `no model` warnings. OLM has not made a release yet with the new `apiVersions`, but the latest `master` of Console is looking for those new `apiVersions`. [Working on making a release now](https://github.com/operator-framework/operator-lifecycle-manager/pull/801).

The purpose of the "OperatorHub" UI is to provide a web interface for creating a `Subscription` to your Ope

[2019-04-08 15:30] cmoulliard commented on #1387
FYI. Info shared on `forum-marketplace` by Lance Galletti

"Looks like the operatorGroup CRD that you created here https://github.com/snowdrop/component-operator/blob/master/README.md#how-to-install-okd-311-using-the-ocp-resources has the version `v1alpha2` https://github.com/operator-framework/operator-lifecycle-manager/blob/master/deploy/okd/manifests/0.8.1/0000_50_olm_12-operatorgroup-default.y

[2019-04-09 01:20] ldimaggi opened #1401 "Consistent pattern of extremely slow downloads from quay.io causing test failures"
Seeing this pattern consistently on running tests such as: [https://github.com/redhat-developer/devconsole-operator/pull/77] - when running tests locally on OS3 cluster and remotely on OS4 cluster. 

The problem sometimes results in tests timing out and sometimes in tests failing when deployments timeout - example: 
 
[code]

See:
https://jira.coreos.com/browse/ODC-470

[2019-04-09 01:22] ldimaggi opened #1402 "Catalog sources and operators once imported are not sowing up reliably in UI"
Seeing this pattern recently - and other people have mentioned the same:

In OS3, creating a new catalog source and subscription, either through the UI or the oc CLI, does not relably result in the created entities being reliably created and displayed in the console UI.

After creating and pushing the operator and its registry to quay.io, this command is run:

[code]

The subscription appears in t

[2019-04-09 12:06] vojtechszocs commented on #1363
Fixed by #1362.

[2019-04-11 07:15] cmoulliard commented on #1387
I redeployed the project according to the instructions updated and using `olm 0.9.0`. The `OperatorHub` screen is still empty and reports such errors/warnings

[code]

![Screenshot 2019-04-11 09 10 52](https://user-images.githubusercontent.com/463790/55937718-fb44eb80-5c39-11e9-9b17-c6ef9e7105db.png)

FYI @alecmerdler @jeff-phillips-18

[2019-04-12 14:23] cmoulliard commented on #1387
What do you think could be the issue @alecmerdler @jeff-phillips-18 ?

[2019-04-12 17:10] suomiy opened #1425 "too many requests and consequent UI updates caused by watchAPIServices"
WebSocket is started (`watchK8sList`) when watching APIServices (`watchAPIServices`) which on update dispatches the  `updateListFromWS` action which in turn calls the appropriate reducer.

Some APIService can change their resourceVersion very rapidly. The reducer has this check to prevent unnecessary updates:

[code]

Nevertheless `watchK8sList` also dispatches second `extraAction` `getResources`.

[2019-04-12 17:18] spadgett commented on #1425
Duplicate of https://bugzilla.redhat.com/show_bug.cgi?id=1697803

We're working on making this better, and we've added some throttling (with more changes coming).

It's a bug that APIServices are changing so often, however.  That problem is fixed by https://github.com/openshift/origin/pull/22425

[2019-04-12 18:08] suomiy commented on #1425
ok, thanks

[2019-04-12 18:08] #1425 closed

[2019-04-12 20:43] #1363 closed

[2019-04-12 20:44] spadgett commented on #1402
Are there any network errors if you open browser developer tools?

Related to #1387

[2019-04-12 20:44] spadgett commented on #1402
cc @alecmerdler

[2019-04-12 20:57] spadgett commented on #1377
I haven't run against native k8s, but this does look like an RBAC issue. Try `kubectl auth can-i` to check if you have correct authorities on the service account.

It should be possible to set up authentication through dex:

https://github.com/dexidp/dex

Console has these flags:

[code]

`kubectl apply` is not currently possible through console unfortunately.

cc @alecmerdler

[2019-04-15 18:00] openshift-merge-robot opened #1433 "Future Release Branches Frozen For Merging | branch:release-4.20 branch:release-4.21"
The following branches are being fast-forwarded from the current development branch (main) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.20`
 - `release-4.21`

For more information, see the [branching documentation](https://docs.ci.openshift.org/docs/architecture/branching/).

[2019-04-16 09:27] cmoulliard commented on #1377
We suffer from the same issue if we use the instruction of the README

[code]

UI reports : `namespaces "default" is forbidden: User "system:serviceaccount:kube-system:default" cannot get resource "namespaces" in API group "" in the namespace "default"`

Questions :

- What is the workaround as we start locally the proxy using the command `./bin/bridge` ?
- Can we resolve it if we create a `Cluste

[2019-04-16 13:49] Jiehong opened #1435 "Displayed time does not respect locale format"
Hello,

Date/Time in the console UI is displayed in US locale format by default, and does not take into account the browser locale.

For example, my browser's language is set to `English (UK)`, yet I see the following:

![image](https://user-images.githubusercontent.com/1061229/56214741-bae0d580-605e-11e9-88ed-f3650fe5dca9.png)

Which is clearly not UK, but US.

In my case, I'd expect something su

[2019-04-16 14:00] Jiehong opened #1436 "Displayed time is not UTC+0 / cannot be set to UTC+0"
Hello,

Openshift seems to be displaying the date time in locale time zone, and there do not seem to have a way to display time as UTC+0 only (and maybe as ISO 3601 format, but that's another topic).

Indeed, having pods on different regions and tools all working in UTC+0, it's error prone to read date time in the console in the wrong time zone.

Note that the `oc` cli does not seem to suffer from

[2019-04-16 14:47] ryanelian commented on #1377
😢

[2019-04-16 17:20] spadgett commented on #1436
You should be able to hover over the time to see the UTC timestamp.

[2019-04-16 17:24] spadgett commented on #1435
This is a screenshot from previous 3.x console tracked at openshift/origin-web-console. However, the 4.x console also has a similar problem since it doesn't generate times for the user's locale.

https://github.com/openshift/console/blob/master/frontend/public/components/utils/timestamp.jsx#L72-L104

/kind bug

[2019-04-16 17:25] spadgett commented on #1436
Example screenshot:

![Screen Shot 2019-04-16 at 1 24 46 PM](https://user-images.githubusercontent.com/1167259/56230807-08ebde00-604b-11e9-9361-f91480b7f2bc.png)

(Note this is the 4.x console.)

[2019-04-17 13:27] spadgett commented on #1436
It's unlikely we would change the default since most users want to see timestamps in their local time. Closing since UTC is available as a tooltip.

/close

[2019-04-17 13:27] #1436 closed

[2019-04-23 13:47] suomiy opened #1477 "pod logs don't show a last line without a newline character (\n) at the end"

[2019-04-24 15:51] kevchu3 commented on #922
@alecmerdler I'm getting the exact same error when I try to deploy a CouchbaseCluster with couchbase-operator.v1.1.0.  Here's the YAML for my `CouchbaseCluster` object.  I've taken all of the YAML default values supplied by the operator.

[code]

I also tailed the logs (`oc logs -f couchbase-operator-ff85f5954-nvtq7`) from the couchbase-operator pod and found this error, so I created the cb-exampl

[2019-04-25 12:22] rhrazdil opened #1492 "It would be nice to have an ID on actions dropdown button on resource detail page"
We could use having an ID on actions button on resource detail page for kubevirt-web-ui test automation.

As most buttons that open an dropdown already have an ID, it would improve our test consistency.

This is the html structure of the button in question:
![dropdown_element_structure](https://user-images.githubusercontent.com/32546791/56735323-6d9eeb00-6765-11e9-8f32-5b3e01ffc978.png)

Having an

[2019-04-25 13:23] spadgett commented on #1492
Are these helpers in the view not sufficient?

https://github.com/openshift/console/blob/master/frontend/integration-tests/views/crud.view.ts#L116-L118

[2019-04-25 13:51] spadgett commented on #1259
Hey @GrahamDumpleton. I haven't been able to reproduce this unfortunately even with the YAML. Are you still seeing this with newer builds?

[2019-04-26 07:48] cmoulliard commented on #1387
Any Feedback ? @spadgett @alecmerdler @jeff-phillips-18

[2019-04-26 11:02] rhrazdil commented on #1492
These helper methods are of course sufficient to get to dropdown options.
What I'm aiming for is a single consistent way how to manipulate with dropdowns across the UI.

[2019-04-26 12:41] spadgett commented on #1492
Action dropdowns or any dropdown? Many pages have more than one dropdown, so an ID wouldn't be unique.

[2019-04-26 12:50] rhrazdil commented on #1492
Any dropdown, as all dropdowns are implemented as <button> and <ul> sibling elements.
The button IDs would need to be unique of course

[2019-04-26 14:53] jwforres commented on #1387
OperatorHub/marketplace is not supported on 3.11, we should not be spending time trying to make this work on 3.11. Please use 4.x installations of openshift.

[2019-04-26 14:55] #1387 closed

[2019-05-09 16:24] spadgett commented on #621
/assign @jhadvig

@jhadvig We have a few details pages in OLM that watch multiple resources. I would look at those when you start work on this.

[2019-05-09 16:27] spadgett commented on #621
Also tracked by CONSOLE-1450

[2019-05-10 13:42] spadgett commented on #338
I have a WIP PR #1536 that adds memory and CPU usage to the pod list. Thoughts? To me, this is way more useful than labels.

Incidentally, working on this helped me catch a real memory link prior to 4.1. Having the memory usage just there in the list makes it easy to notice problems you'd otherwise have to go looking for.

If we still need labels, could we add compact/expand option like for nodes?

[2019-05-10 23:28] christianvogt commented on #1492
For testing we should look at adding `data-test-id` attributes to Dom nodes. They only need to be unique within a hierarchy of other `data-test-id`s. Better than using classes because classes are for styling and you may change styles without breaking tests. Html IDs must be globally unique so that is bad for creating standalone components.

[2019-05-13 14:28] siamaksade opened #1561 "Copy Login Command shows invalid API url"
The oc login command under *? > Command Line Tools > _Copy Login Comman_* shows an internal URL which is not accessbile:

[code]

The result is:
[code]

The correct url is: `api.NNNN.openshiftdemos.com`

[2019-05-13 16:15] spadgett commented on #1561
Same as https://bugzilla.redhat.com/show_bug.cgi?id=1706689

This has since been fixed.

[2019-05-13 16:15] #1561 closed

[2019-05-14 00:30] spadgett commented on #1492
I'm reworking the actions in #1559 and adding data-test-ids

[2019-05-14 15:19] suomiy opened #1567 "DetailsPage' pages do not support dynamic components with state"
`PageHeading` and `HorizontalNav`are getting new data from Firehose.
`HorizontalNav` itself has `Switch` with `Route`s inside. The router does not support dynamically creating pages with different props with full support of lifecycle methods. Meaning the component is unmounted and mounted again with each underlying resource change.

Real example:
Any change of state is discarded, if any change occ

[2019-05-14 17:21] spadgett commented on #1567
Related to #1558 although it doesn't sound like #1558 will fix this specific problem from the description.

cc @christianvogt

[2019-05-15 12:34] kadel opened #1572 ""Copy Login Command" for odo"
It would be great to have "Copy Login Command"  in `odo` section similarly to how it is done for `oc`.

<img width="599" alt="Screenshot 2019-05-15 at 14 31 35" src="https://user-images.githubusercontent.com/57206/57775824-34331d00-771e-11e9-9cbd-4b2550a2905f.png">

`odo` has the same login command as `oc`, so simply replacing command name (`oc --token ...` for `odo --token ...`) will work.

It wi

[2019-05-15 13:12] spadgett commented on #1572
Currently, we're redirecting to the request token page from the OAuth server, although we plan to create one for console itself. We could add odo then.

@enj fyi

[2019-05-15 18:47] christianvogt commented on #1567
@suomiy i'm not sure i'm following you. Can you give a specific example of steps and how the problem manifests itself because I do not see the unmounting of components.

[2019-05-15 21:45] jupierce opened #1575 "RFE: quick link back to current project view"
It is often useful to dig down into resources of a given project X and then bounce back up to the full project view of X. Intuitively, I click on the project's name to do this, but that opens a drop down (which happens to be extremely long for me as cluster-reader and requires typing to filter). This can happen several times a minute so the context switch between the mouse and keyboard is costly.

[2019-05-16 11:48] suomiy commented on #1567
Please read the documentation of Route https://reacttraining.com/react-router/web/api/Route/route-render-methods.

We are using inline rendering of Route component (in HorizontalNav) which means that React lifecycle methods are not properly called - so it is not easy to debug.

Only noticable change is that the state is lost. I am not aware of any tab with state so you could try to experiment with

[2019-05-16 17:21] spadgett commented on #1567
Secret -> Reveal Values could be a good page to test. Revealed/hidden is tracked using component state.

[2019-05-16 17:22] christianvogt commented on #1567
@suomiy I think you are mistaken in that an inline function to the `render` prop does not mean it will unmount the child components. That only occurs with the `component` prop if an inline function is used.

Horizontal nav uses an inline `render` prop yes. But this will only cause a component to unmount if the return value of the `render` function is a different component. If you look at the docs,

[2019-05-16 17:52] christianvogt commented on #1567
@spadgett @suomiy Secrets works for me without losing state. Edit an annotation from the secrets page and watch the update of the page. The revealed secret is still revealed.

[2019-05-17 00:36] spadgett commented on #1492
#1559 added `data-test-id` and some updated helpers for actions.

/close

[2019-05-17 00:36] #1492 closed

[2019-05-17 01:22] spadgett commented on #1567
This should in fact be fixed by #1558. If you still see the problem, let us know.

/close

[2019-05-17 01:22] #1567 closed

[2019-05-17 10:38] suomiy commented on #1567
I am sorry for the unnecessary alert. I cannot reproduce this either (on my env).

It only happens in one of our environments for running the tests (quite consistently though). I was debugging it there and this seemed like the most probable cause, because it exhibited all the symptoms described here.

[2019-05-21 15:20] tinakurian commented on #1561
@spadgett has this been fixed in the UI as well? When creating a new openshift 4 cluster i still see the incorrect URL:

![image](https://user-images.githubusercontent.com/40298444/58108778-7050fc80-7bba-11e9-926a-ff35fc1a858c.png)

[2019-05-21 15:24] spadgett commented on #1561
Yes, what version do you have installed?

[2019-05-21 15:26] spadgett commented on #1561
[code]

[2019-05-21 15:28] tinakurian commented on #1561
4.1.0-rc.1

[2019-05-21 15:31] spadgett commented on #1561
Yeah, `rc.1` doesn't contain the fix. I'd try a newer release candidate.

[2019-05-23 08:39] rhuss opened #1605 "Sorting of CRD table is inconsistent"
In version 4.1.0-rc.5 when listing the CRDs via "Administration - Custom Resource Definitions", one gets the following initial listing:

![grafik](https://user-images.githubusercontent.com/99080/58237833-5ba16f80-7d46-11e9-8906-12a19a646b60.png)

I.e. the table is sorted with the first column (NAME), ignoring case ("adapter" vs. "Aletermanager").

When now explicitly sorting after the name by pres

[2019-05-23 12:14] spadgett commented on #1605
The difference is that we're sorting on different fields. By default, we sort on `metadata.name`. When you click on the name column, we're actually sorting on `spec.names.kind`.

[2019-05-23 12:23] spadgett commented on #1605
#1606 updates the default sort to use `spec.names.kind`, same as the name column. I'd like to think more about whether to change to the default to case insensitive since that potentially affects all tables. For most fields in k8s, it's not an issue.

[2019-05-23 12:23] spadgett commented on #1605
/assign

[2019-05-23 12:27] spadgett commented on #1575
The way you'd typically do this is to click "Status" again in the nav or use the browser back button. I think changing the dropdown behavior would be really confusing for users, and the chevron is a small click target. This would make the dropdown inconsistent with other dropdowns in the console, and clicking on the name vs chevron is a really subtle distinction. You can still get back in one clic

[2019-05-23 12:50] rhuss commented on #1605
Thanks ! Makes totally sense to use the same initial and column sorting (to avoid suprises like this).

Tbh, I would be a bit suprised that I would find the lowercase names after the upercase names as typically names/kinds are used in a case insensitive fashion (every tool kike oc or kubectl doesn't care about the case). I was also suprised that istio uses lower case names for the CRDs, never has

[2019-05-23 13:21] jupierce commented on #1575
Thanks @spadgett . "Status" does seem to do what I want, so this can be closed if desired. For my 2 cent contribution to usability: My intuition with the UI was that, since I was already looking at something like the status of a Pod, clicking "Status" again would not navigate away.
If the "Status" nav item was called "Project Status", I would have certainly tried it while looking around for a one-

[2019-05-23 13:22] spadgett commented on #1575
FWIW, we plan to restructure this menu some. I'm not sure if it would make this specific problem better or worse, though :)

cc @cshinn

[2019-05-23 13:23] spadgett commented on #1575
See https://github.com/openshift/openshift-origin-design/pull/167

[2019-05-23 15:38] spadgett commented on #997
/assign @rhamilto

[2019-05-23 16:28] #997 closed

[2019-05-23 18:33] #1605 closed

[2019-05-23 20:20] spadgett commented on #977
This has since been fixed.

/close

[2019-05-23 20:20] #977 closed

[2019-05-23 20:21] spadgett commented on #975
This has since been fixed.

/close

[2019-05-23 20:21] #975 closed

[2019-05-23 20:21] spadgett commented on #976
This has since been fixed.

/close

[2019-05-23 20:21] #976 closed

[2019-05-23 20:24] spadgett commented on #1268
/unassign

[2019-05-27 12:57] cmoulliard opened #1619 "Launch console using docker image and disabled auth"
## Question

Is it possible to launch the console using the docker image where we disable the auth, where we could specify the port to be used ?

[code]

[2019-05-28 00:08] beanh66 commented on #338
This change looks good to me @spadgett. I also created [this issue](https://github.com/patternfly/patternfly-next/issues/1861) in PatternFly to try and get the "expand all" behavior added to PF tables in the future. For example:

![expand-table](https://user-images.githubusercontent.com/18057044/58442737-351f6380-80bb-11e9-9073-0b93efbcb0b4.png)

[2019-05-29 06:45] aljesusg opened #1623 "Script bridge fail frontend/public/dist/index.html: no such file or directory"
[code]

[2019-05-29 06:46] #1623 closed

[2019-05-31 04:44] cloudbehl commented on #1258
FYI: The patch for exposing storage usage capacity is merged in k8s master. https://github.com/kubernetes/kubernetes/pull/76188

[2019-06-02 14:42] spadgett commented on #1619
Yes, it's possible. All options can be specified as command-line flags or env variables. Is this native k8s or OpenShift?

You should look at the following files (for k8s or OpenShift respectively) as starting points:

https://github.com/openshift/console/blob/master/contrib/environment.sh
https://github.com/openshift/console/blob/master/contrib/oc-environment.sh

Use `--base-address` or `BRDIGE_B

[2019-06-06 03:19] outcoldman opened #1678 "Pod Log Links Extension"
In OpenShift 3.11 we could customize the Web Console with external scripts, one example is the script for creating links for external logging solution (example from the OpenShift docs https://docs.openshift.com/container-platform/3.11/install_config/web_console_customization.html#extension-option-for-external-logging-solutions), but with the OpenShift 4.1 I cannot find this option in the configura

[2019-06-06 20:24] priley86 opened #1681 "Dockerfile seems broken on Mac"
Running Dockerfile today, I ran into the following (using Docker Desktop Community 2.0.0.3 Engine 18.09.2 on Mac):

[code]

This was while running the instructions here:
https://github.com/openshift/console#deploying-a-custom-image-to-an-openshift-cluster

Debugging for a bit, it seems this is tied to the multistage build losing context with the built `dist` directory. I was able to inspect the co

[2019-06-07 12:23] christianvogt commented on #1320
Consider server side check for first load.
We should also look at user settings. In the interim save them to local storage and let the user choose their landing page.

[2019-06-07 12:25] christianvogt commented on #905
Fyi @serenamarie125

[2019-06-07 19:18] spadgett commented on #1681
I was able to reproduce. I know this has not always been a problem. There might have been a change in recent Docker for Mac versions.

[2019-06-07 19:21] spadgett commented on #1678
We are looking at adding declarative, CRD based extensions in a future release. Some of the initial resources are in https://github.com/openshift/api/pull/318. For branding, we are adding it to the console config: https://github.com/openshift/api/pull/304. These changes didn't make 4.1, however.

Are there particular extension points you are looking for?

cc @alimobrem

[2019-06-07 19:39] kaczyns opened #1685 "React error 31 when rendering a CSV specDescriptor with nested objects"
We're using OpenShift v4.1.  We're adding spec descriptors to our operator and we've noticed that when the console tries to display instances of our CRD, if it tries to display something that is nested, we get a React error 31 similar to the following:
[code]

Consider the sample `memcached` operator, described here:
https://github.com/operator-framework/getting-started

We've built it, adding one

[2019-06-07 22:11] outcoldman commented on #1678
@spadgett I would love to see exactly the same capability as in the example in my first comment, ability to add links to external logging/metrics solution. We used this extension capability to allow our customers easily access logs in Splunk https://blog.openshift.com/monitoring-openshift-health-and-application/

[2019-06-08 14:55] DanyC97 commented on #1678
@spadgett i suspect this https://github.com/openshift/console-operator/pull/220 is needed too in addition to the PRs mentioned?

[2019-06-08 19:34] spadgett commented on #1678
For the links extension, you'd also need https://github.com/openshift/console-operator/pull/229 and #160. It doesn't yet have log links, but we should look at adding that back.

For custom logos, you'll need https://github.com/openshift/console-operator/pull/220.

[2019-06-10 13:05] spadgett commented on #1685
/assign @alecmerdler

[2019-06-10 13:16] spadgett commented on #1678
/assign @benjaminapetersen @rhamilto

We should look at adding back external logging links. I was thinking we could make the URL a template, so we could inject pod name / namespace / uid using lodash templates:

https://lodash.com/docs/4.17.11#template

That way you can still use declarative CRDs to add the link. Something like

[code]

[2019-06-10 13:59] alecmerdler commented on #1685
In this case the console should just ignore `newfield`, because we don't know how to display it (single-level fields are converted to text). But I would also consider what value is being added by having a `specDescriptor` that isn't well defined and doesn't have any `x-descriptor` capabilities?

[2019-06-10 14:21] spadgett commented on #1619
Closing since this is possible today through command-line flags or env vars. Let us know if you need more help.

/close

[2019-06-10 14:21] #1619 closed

[2019-06-11 13:32] kaczyns commented on #1685
Hi @alecmerdler - thanks for taking a look at this.  Yes, I'm not sure there is much value in having a `specDescriptor` that isn't well defined.  I agree that it would be better if we had an `x-descriptor` that could handle all of the different ways something (this particular something) would look.  We were hoping that the default behavior though would not involve the whole page being un-viewable

[2019-06-11 19:56] benjaminapetersen commented on #1678
In theory we could add `PodLog` as a location on the `ConsoleLink`, with an optional `HrefTemplate` prop, to use instead of `Href`.

[2019-06-11 20:01] spadgett commented on #1678
Right, it would be good to reuse the same CRD

[2019-06-11 20:22] outcoldman commented on #1678
Just an important note, I believe there are some customers, who use ELK + Splunk as well as log destinations, so they might want to have links to both solutions

[2019-06-12 14:26] benjaminapetersen commented on #1678
That would be fine, with the in-progress CRD based solution (if we add the `HrefTemplate` option), both could be added as 2 instances of a ConsoleLink CRD.

[2019-06-12 15:04] spadgett commented on #1678
cc @jcantrill

[2019-06-12 15:48] jcantrill commented on #1678
One point I would add that is likely to cause users to open bugs because in 3.11 we made efforts to link a user to a query based on their pod and namespace.  There was additional logic for that link based on if they were ops logs or if you were an ops user.  I don't see how this solution will allow that and best we can offer is to link users to the application and user's will need to understand ho

[2019-06-12 15:51] spadgett commented on #1678
Yeah, I was thinking about this since I made my initial proposal. Would it work if we also provided some kind of ns filter to choose what namespaces a particular pod log link includes?

We might have to make this a separate CRD if it diverges too much from `ConsoleLink`

[2019-06-12 18:34] benjaminapetersen commented on #1678
Yeah, that old link was a bit gnarly.

[2019-06-19 19:04] rhamilto commented on #1678
Somthing like  `namespaceFilter: ^openshift-`?

@jcantrill, will a solution like this cover your use case?

After discussing this in person with @spadgett and @benjaminapetersen, it will be a separate CRD.

[2019-06-20 14:15] spadgett commented on #1681
This is only an issue with newer Docker for Mac versions.

[2019-06-20 15:32] spadgett commented on #1575
We've added breadcrumbs to the details pages in #1725. Project status is now a
"Workloads" tab on the project details page.

/close

[2019-06-20 15:32] #1575 closed

[2019-06-24 15:22] danielhelfand opened #1806 "[Feature] Cassandra Imagestream in Developer Catalog"
I would like the ability to add a Cassandra database imagestream to the Developer Catalog and see it under the Databases tab in the web console.

I currently have a pull request out to [sclorg/cassandra-container](https://github.com/sclorg/cassandra-container/pull/6/files) to add a CentOS 7 imagestream for Cassandra.

Would there be anything else needed to accomplish this besides adding a Cassandr

[2019-06-26 20:10] danielhelfand commented on #1806
This seems like more of an issue with how to add database images to the Developer Catalog and less about the console itself. I'll close this for now.

[2019-06-26 20:10] #1806 closed

[2019-06-27 11:50] jhadvig commented on #621
Following PRs have been merged to address the issue:
https://github.com/openshift/console/pull/1491
https://github.com/openshift/console/pull/1699
https://github.com/openshift/console/pull/1712
https://github.com/openshift/console/pull/1762

@spadgett can this issue be closed ?

[2019-06-27 12:52] spadgett commented on #621
History added in #1762 and tag linking fixed by #1712

/close

[2019-06-27 12:52] #621 closed

[2019-07-01 15:20] jeffspahr commented on #1678
Linking an RFE from the old origin-web-console:
https://github.com/openshift/origin-web-console/issues/3092

Sam's notes here would meet our needs:
https://github.com/openshift/console/issues/1678#issuecomment-500412623

[2019-07-01 18:17] jupierce opened #1874 "RFE - centralize information about route & registry in About page"
In OpenShift 3.x, the About page displayed information about routes, DNS, and how to access the internal registry. In OpenShift 4, this information is available, but distributed around the UI. Personnel fielding user issues with starter clusters are interested in having a single link they can share to get users on track and would benefit from this information being restored.

Opening here so that

[2019-07-01 18:20] wgordon17 commented on #1874
Here's a screenshot of the information that we're providing in v3:

![image](https://user-images.githubusercontent.com/22222756/60457957-59ff7d00-9c0b-11e9-938d-97e6ab7257d2.png)

[2019-07-08 17:03] spadgett commented on #1874
For context, here are the 4.x implementations: #1431 and #1491

This actually seems more hidden to me than showing up directly on the resource pages themselves. If you have a route, you can see the canonical router hostname for that route. If you have an image stream, you can see specific commands for pushing to and pulling from that image stream.

From an implementation standpoint, this is tricky

[2019-07-08 17:04] spadgett commented on #1874
We could conceivably get the public registry hostname from one of the image streams in the `openshift` namespace and show it in the about dialog. Router canonical hostname is more difficult.

[2019-07-10 16:12] spadgett commented on #1248
We're adding proxy support to the operator in https://github.com/openshift/console-operator/pull/254

[2019-07-10 17:39] priley86 opened #1986 "Convert detail lists to PF4 tables"
Just an initial issue to start gathering notes around PF4 Detail table conversion.

Noted detail views so far (carryover from #1465):
- [ ] Cluster Settings (cluster-settings.tsx)
- [ ] k8s-resource.tsx
- [ ] oauth.tsx
- [ ] webhooks.tsx
- [ ] container.tsx
- [ ] chargeback.tsx
- [ ] ingress.jsx
- [ ] pod.tsx
- [ ] package-manifest.tsx
- [ ] container-table.tsx
- [ ] endpoints.tsx
- [ ] routes.tsx

[2019-07-10 21:29] spadgett commented on #1986
#1891 converts the volumes table

[2019-07-10 21:35] spadgett commented on #1986
also image-stream.tsx here: https://github.com/openshift/console/blob/master/frontend/public/components/image-stream.tsx#L184-L201

[2019-07-12 04:16] gouyang opened #2015 "'login.scenario.ts' is used in many test suite when kubeadmin password is set"
https://github.com/openshift/console/blob/2edd3c6e3f079b2b2e246f86f00dd21db5ae6133/frontend/integration-tests/protractor.conf.ts#L21

'login.scenario.ts' is using in many test suites and it's called separately in suite 'login' as well.
It's better to have a simple authentiation which just provides login functionality for other suite.

[2019-07-15 21:50] spadgett opened #2037 "Visual issues with new dashboards"
cc @rawagner @lizsurette @rhamilto

![Screen Shot 2019-07-15 at 5 42 03 PM](https://user-images.githubusercontent.com/1167259/61251538-bb097380-a728-11e9-9237-4136e4bc5e02.png)

<img width="583" alt="Red Hat OpenShift Container Platform 2019-07-15 17-48-29" src="https://user-images.githubusercontent.com/1167259/61251608-f60ba700-a728-11e9-8538-752e6079b023.png">

[2019-07-15 21:51] spadgett commented on #2037
The tooltips under "Details" are a weird when not needed. For instance, "AWS" has a tooltip. They also use a different tooltip style than the rest of console.

[2019-07-15 23:59] #1248 closed

[2019-07-16 01:01] lizsurette commented on #2037
@spadgett Thanks for calling these out so clearly! @andybraren @mceledonia - Mind working with @rawagner and others to help with suggestions around these bugs where we can help? I think generally it's about confirming icon sizes and such :)

[2019-07-16 04:35] andybraren commented on #2037
Draft PR #2041 attempts to address most of these except the Utilization card's text cutting off and the differing icon sizes in the Inventory card. Any ideas on those @matthewcarleton?

Changing to Cluster ID makes sense. I suggest we remove the tooltips entirely @rawagner and let the text wrap, which is what our future dashboard designs will do. Text wrapping is included in the PR.

![image](http

[2019-07-16 07:33] rawagner commented on #2037
@andybraren that was fast ! :)
Here is a PR for fixing utilization axis cut off https://github.com/openshift/console/pull/2044

[2019-07-16 08:11] rawagner commented on #2037
@andybraren
that happens happens when the card is smaller and text `- <number> times in the last.. ` flows to new line

here's how it looks with wider events card

![events-hyphen](https://user-images.githubusercontent.com/2078045/61277077-aa511000-a7b1-11e9-9550-4180ee59bb2f.png)

any idea how to fix that with some clever css ?

[2019-07-16 12:40] spadgett commented on #2037
I'd expect the text to break at word boundaries instead of wrapping together, but we might want to just pull it down to the next line if there's not enough room.

In general, I feel like there's a bit too much content in this card. If this is cluster-wide events, there could be a lot, and this is a small space. They could be moving fast in an active cluster. Maybe we should link out to the full ev

[2019-07-16 12:43] spadgett commented on #2037
Thanks for the quick turnaround on these items! The dashboards have a ton of potential, and I realize we're iterating quickly here. I just want it to feel really polished when we ship 👍

[2019-07-16 16:35] andybraren commented on #2037
Hmm... I suppose just wrapping is fine for now at small sizes. I've updated my PR to tweak the HTML/CSS of the timestamp line a bit (hopefully correctly).

![image](https://user-images.githubusercontent.com/9122899/61311738-f6f21680-a7c4-11e9-9adc-f4a46f0bda1c.png)

We agree, and the future "Activity" card design that will eventually replace this Events card doesn't include "# times in the last X

[2019-07-17 12:06] rawagner commented on #2037
@spadgett @andybraren here is a [PR for Events card ](https://github.com/openshift/console/pull/2063). Added View all link and removed `# times in the last X hours` and `Generated from`.

[2019-07-17 17:12] #2037 closed

[2019-07-20 15:12] #1678 closed

[2019-07-23 16:38] sharafcmr opened #2136 "Unable to provision an OpenShift template from UI, when the CustomResource object in the OpenShift template has "spec.template" as a property defined"
Unable to provision an OpenShift template from UI, when the CustomResource object in the OpenShift template has  "spec.template" as a property defined

**Describe the bug**
Provisioning a cluster from OpenShift console is not proceeding after you click "create" button when you have "template" property(eg: Kafkaconnects2i.spec.template.pod.labels) defined in Kafkamirrormaker, Kafkaconnect or Kafkac

[2019-07-23 19:07] spadgett commented on #2136
@sharafcmr 3.11 console bugs should probably be reported at openshift/origin-web-console.

So you click the button and nothing happens? Can you open the JavaScript developer console for your browser and see if there are any runtime errors?

https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_are_browser_developer_tools

/kind bug

[2019-07-23 19:42] kevchu3 commented on #922
Linked to https://bugzilla.redhat.com/show_bug.cgi?id=1702751.

As an FYI, I'm still observing this issue for couchbase-operator.v1.1.0 in the most recent OpenShift 4.1.6.

[2019-07-24 10:32] aruniiird opened #2145 "Fix NooBaa capacity card logic"
According the [NooBaa doc](https://docs.google.com/document/d/15lugKm-ljNIJiDRfKBhnHWNwdqrF04dPw5cgDZ93-UA/edit#heading=h.jxj6d3pghiuz),  we should be collecting top N (where N=6 here) items excluding the 'Others' label and then append the 'Others' label at the end.

[2019-07-24 14:17] sharafcmr commented on #2136
Here is the error which i received in the console
[code]

[2019-07-28 19:36] spadgett commented on #2136
@sharafcmr I see the problem. We're incorrectly assuming a resource with `spec.template` is a k8s workload and trying to check if you have quota. We access `spec.template.spec` without a null check.

[2019-07-28 19:45] spadgett commented on #2136
Fix in https://github.com/openshift/origin-web-console/pull/3140

Bugzilla bug: https://bugzilla.redhat.com/show_bug.cgi?id=1733806

[2019-07-28 19:52] spadgett commented on #2136
Note this is only a problem in 3.x, not in 4.x

[2019-07-29 12:42] #2136 closed

[2019-07-31 13:40] gouyang opened #2230 "Update webdriver to match chrome version 76"
Chrome 76 is available on Fedora 30 now, run test meet error "session not created: Chrome version must be between 71 and 75". It seems need to update webdriver-manager version to webdriver-manager-12.1.5.

[2019-08-02 18:15] redallen opened #2251 "Webpack isn't treeshaking library bundles"
With only [babel-loader] pointed at an `entry: index.js`, Webpack will treeshake harmony imports like `import { Button } from 'patternfly-react';` and not include the entirety of the `patternfly-react` project in it's bundle like it is currently:

![image](https://user-images.githubusercontent.com/47335686/62389963-2a57d380-b52f-11e9-81fc-5685864387af.png)

As a few examples, `patternfly-react`'s

[2019-08-03 13:29] aruniiird opened #2252 "Y axis labels are missing from 'Data Consumption' card of Object Service dashboard"
Y axis labels, which describe the units in 'Data Consumption' card is missing. We require this as the absence of the labels may lead to confusion.

[2019-08-08 12:53] aruniiird opened #2301 "Persistent storage dashboard card labels should be prefixed with 'OCS'"
Persistent Storage dashboard cards like,
Health
Details
Inventory
should be prefixed with 'OCS' label. Makes it easy distinguish from 'Object Service' dashboard.

Jira Tikect: https://jira.coreos.com/browse/RHSTOR-481

[2019-08-08 19:58] aruniiird opened #2309 "Wrong unhealthy-icon in bucket and resource-provider cards of Object service dashboard"
Bucket & resource-provider cards (in Object service dashboard) are showing wrong icon while displaying unhealthy counts. It should be showing a 'red-circle-with-exclamation' icon in order to be consistent with other cards.

[2019-08-09 07:29] aruniiird opened #2311 "Object count display logic in bucket-card should be fixed"
Currently the a larger amount of objects, in buckets-card, are shown like this,

![buckets_inventory_card_old](https://user-images.githubusercontent.com/895234/62761894-79f54c80-baa5-11e9-8b09-000dec8917ac.png)

Should be fixed to show the amount properly...

[2019-08-09 10:41] #2309 closed

[2019-08-09 19:44] spadgett commented on #2251
https://jira.coreos.com/browse/CONSOLE-1651

[2019-08-10 05:32] aruniiird opened #2322 "Capacity card queries, for Storage Dashboard, are wrong"
The current queries, for ceph storage dashboard capacity card, are not working. Should be fixed

[2019-08-10 13:24] spadgett commented on #2145
/kind bug
/assign @aruniiird

[2019-08-10 13:24] spadgett commented on #2322
/kind bug
/assign @aruniiird

[2019-08-10 13:24] spadgett commented on #2311
/kind bug
/assign @aruniiird

[2019-08-10 13:25] spadgett commented on #2301
/kind bug
/assign @aruniiird

[2019-08-10 13:25] spadgett commented on #2252
/kind bug
/assign @aruniiird

[2019-08-10 13:28] spadgett commented on #2230
Working on this in #2320. The problem is that 76 is not the stable version in our console builder image, so it will break CI. It will also break the release-x.y branches.

We need to come up with a way of dealing with this going forward as this will happen with every major chrome release now as chromedriver now only works for a specific major version of chrome.

[2019-08-10 13:28] spadgett commented on #2230
/assign

[2019-08-10 13:30] spadgett commented on #2251
/kind bug

[2019-08-10 13:35] spadgett commented on #1320
We've changed the default page to the cluster dashboards for cluster admins in #2008. We've changed the default project page to the project dashboard in #1694. This is addressed in 4.2.

/close

[2019-08-10 13:35] #1320 closed

[2019-08-12 18:25] #2230 closed

[2019-08-13 06:30] #2322 closed

[2019-08-15 23:30] #2311 closed

[2019-08-16 16:49] redallen opened #2381 "Use only a single version of lodash"
Even with `yarn` hoisting, we have 4 versions of lodash/lodash-es that could likely be reduced down to one newer CJS `lodash`. The larger lodashes are in `@patternfly/react-charts` (where Victory uses the entirety of `lodash`), `kubevirt-web-ui-components`, `patternfly-react`, and `@console/*`.

There are some [tools](https://survivejs.com/webpack/optimizing/build-analysis/#duplication-analysis) t

[2019-08-16 18:36] spadgett commented on #2381
cc @alecmerdler @vojtechszocs @dgutride

[2019-08-16 18:43] spadgett commented on #2251
I believe this is specific to the kubevirt plugin, likely kubevirt-web-ui-components. All of the PF3 components drop out of the main vendor bundle when disabling the kubevirt plugin.

cc @vojtechszocs

Current master:

![Screen Shot 2019-08-16 at 2 41 17 PM](https://user-images.githubusercontent.com/1167259/63190332-036fc600-c034-11e9-9bb7-6cf2eef025f1.png)

With kubevirt plugin disabled:

![Scree

[2019-08-16 18:46] spadgett commented on #2251
@dgutride fyi

[2019-08-16 18:48] spadgett commented on #2251
@mareklibra fyi

[2019-08-16 19:30] redallen commented on #2251
Correct, it is due to `kubevirt-web-ui-components`. That's why I went upstream to provide esm exports for it, and am now using them in #2232 .

[2019-08-17 21:20] jcaianirh opened #2384 "(API Explorer): Missing spacing between filters"
Found by Tony Wu
<img width="953" alt="Explorer__no-spacings-between-filters" src="https://user-images.githubusercontent.com/35978579/63217364-4b194f00-c113-11e9-8109-634fa8950b22.png">

[2019-08-17 22:08] jcaianirh opened #2386 "(apiExplorer): Table Entry should be vertical top aligned"
Found by Tony Wu:
<img width="1355" alt="Explorer__vertical-center-aligned" src="https://user-images.githubusercontent.com/35978579/63217762-0218c900-c11a-11e9-85ca-ea138198169e.png">

[2019-08-17 22:42] #2384 closed

[2019-08-19 15:59] vojtechszocs commented on #2251
@spadgett @redallen @mareklibra @jelkosz

This ^^ dependency was added due to migrating code from [kubevirt/web-ui](https://github.com/kubevirt/web-ui) fork to Console monorepo, impacting following packages:
- `frontend/packages/kubevirt-plugin`
- `frontend/packages/console-shared`

After 4.2 gets released and `master` branch re-opens for development, the KubeVirt group should dedicate some sprint

[2019-08-21 07:52] Rikbruggink opened #2435 "openshift-console ignores no_proxy list and cant connect to the kubernetes endpoint"
openshift console 4.2 ignores no_proxy list .

# release info

console                                      sha256:0cf9ed306abffac465ede431976394a378cc374c01c2f0c8280c06637049a264
  console-operator                              sha256:b1a6553595d696ba86d764bb93c0c8c5a077cf626642f3a1f763d5312c5ab4b3

[2019-08-21 16:19] spadgett commented on #2435
This is tracked by https://bugzilla.redhat.com/show_bug.cgi?id=1743455

/close

[2019-08-21 16:19] #2435 closed

[2019-08-21 16:20] spadgett commented on #2386
Fixed by #2387

/close

[2019-08-21 16:20] #2386 closed

[2019-08-26 14:54] e-minguez opened #2487 "[persistent storage] latency says 'no datapoints found'"
[code]

![latency](https://user-images.githubusercontent.com/346758/63699993-2ebb9780-c822-11e9-96fb-c73fa6a84d42.png)

[2019-08-26 14:57] e-minguez opened #2488 "[persistent storage] Inventory cards shows 0 pvcs/nodes/pvs"
![no_data](https://user-images.githubusercontent.com/346758/63700080-5874be80-c822-11e9-9b1a-6215a7320b0e.png)

[code]

[2019-08-26 16:04] e-minguez opened #2489 "High CPU consumption"
I've observed high cpu consumption when leaving the tab opened in the background in this scenario:

- OCP4 deployed
- CNV deployed
- OCS deployed but only persistent storage available (no object storage)

I believe is because there are a lot of queries in the background (triggering the dev-console in firefox shows a bunch of them) that doesn't give results back.

[2019-08-27 13:59] rawagner commented on #2487
@cloudbehl

[2019-08-27 14:00] rawagner commented on #2488
AFAIK persistent tab show only PV/PVCs which were provisioned by ceph. @cloudbehl

[2019-08-27 14:19] e-minguez commented on #2488
This is exactly the case. I only have ceph deployed via the OCS operator.

[2019-08-27 14:26] cloudbehl commented on #2487
@e-minguez Query Issue from the backend. The PR is merged in ceph-mixins[1]. The backporting to Rook ceph[2] is also done and merged, should be available with the next build.

[1]. https://github.com/ceph/ceph-mixins/pull/71/files
[2]. https://github.com/rook/rook/pull/3705/files

[2019-08-27 14:27] cloudbehl commented on #2488
@e-minguez The OCS team has told that Provisioner will not available in PVC YAML always. So we need to look for Storage class name to find PVC Provisioned by rook-ceph.

[2019-08-27 14:35] cloudbehl commented on #2488
/assign @cloudbehl

[2019-08-28 04:12] lrx0014 opened #2511 "The icon in the OperatorHub page cannot be displayed"
The icon cannot be displayed in the operator infomation cards in OperatorHub page, got a 404 response

[code]

the response body:
[code]

I use the OKD 3.11 with latest origin-console image
![issue](https://user-images.githubusercontent.com/13842428/63825278-c210dc00-c98c-11e9-96d7-b8cfcaac6eea.png)

[2019-08-30 10:01] #2252 closed

[2019-08-30 13:50] anmolsachan opened #2549 "StorageCluster CR needs to be fixed for OCS installer for Bare-metal Deployments."
Current CR for StorageCLuster differs from https://github.com/openshift/ocs-operator/blob/1b5961f06f4ad0d03227312f0d7b2ccb8e7ec1f9/deploy/crds/ocs_v1alpha1_storagecluster_cr.yaml#L8 . It needs to fixed.

[2019-08-30 13:52] cloudbehl commented on #2549
/assign @gnehapk

[2019-08-30 16:43] spadgett commented on #2511
Fixed by #2523

/close

[2019-08-30 16:43] #2511 closed

[2019-08-30 16:45] spadgett commented on #2489
What page are you on? Home -> Dashboard?

cc @rawagner

[2019-09-03 11:36] bipuladh opened #2569 "Fix for showing decimal values in AreaGraph's Y-axis"
This issue refers to [https://github.com/openshift/console/pull/2296](2296) I am trying to come up with a solution for showing integers on the y-axis instead of floating-point values as discussed on PR 2296(link above). I have found few ways to implement a fix for the issue which is as follows:

1) Round all the values inside the humanize function. It will allow us to come up with clean rounded va

[2019-09-03 11:37] bipuladh commented on #2569
@cloudbehl ?

[2019-09-04 15:01] spadgett commented on #2487
Both referenced backend PRs have merged. If this is still an issue, please reopen.

/kind bug
/close

[2019-09-04 15:01] #2487 closed

[2019-09-04 15:19] mrhillsman commented on #922
@alecmerdler @kevchu3 this should be closed yes? The operator can be installed and used even though the UI is not displaying the information a user expects due to how the operator is updating the status resource correct?

[2019-09-06 08:35] ctron opened #2619 "Allow grouping field in CR view"
Using the `specDescriptors` in a CSV, it is possible to contribute details to the overview screen of a CR.

However, adding multiple fields there clutters the view, and doesn't provide much help to the user. I think it would be good to be able to "group" fields, and also visually align them. Maybe even split them off using something like tabs.

[2019-09-06 08:47] ctron opened #2620 "Provide a "boolean" status descriptor"
Currently showing a boolean value in a status descriptor (defined in a CSV) you can only use "text". Whereas in the "spec" section, you have a "boolean switch" and a "checkbox" available.

I think it would make sense to add a boolean status indicator for the status as well.

[2019-09-06 09:13] ctron commented on #2620
It also looks like the "text" type doesn't work with a boolean. It only shows "None". I guess this is due to the fact that the value is of type boolean, and not string.

[2019-09-06 14:00] kevchu3 commented on #922
@mrhillsman yes, this issue can be closed out now, thanks for the explanation.

[2019-09-06 17:17] #922 closed

[2019-09-09 01:11] danielhelfand opened #2636 "Appreciable Delay for Logs to Start Streaming via 4.2 Web Console for Pipelines"
#2499 Introduced improvements for viewing the logs of an OpenShift Pipelines pipeline run. In using this new feature, I have noticed an appreciable delay of several minutes for logs to actually start appearing via the **Logs** section of the **Pipelines** tab.

I am using the 4.2 Web Console as part of an OpenShift workshop found [here](https://github.com/openshift-labs/lab-tekton-pipelines). The

[2019-09-09 13:14] spadgett commented on #2636
cc @christianvogt

[2019-09-09 13:14] spadgett commented on #2620
cc @alecmerdler

/kind feature

[2019-09-09 13:17] spadgett commented on #2619
cc @alecmerdler
/kind feature

[2019-09-09 13:18] spadgett commented on #2569
cc @TheRealJon
/kind feature

[2019-09-09 13:19] spadgett commented on #2549
Fixed by #2548

/close

[2019-09-09 13:19] #2549 closed

[2019-09-09 13:20] spadgett commented on #2488
/kind bug

[2019-09-09 13:21] spadgett commented on #2488
Fixed by #2329

/close

[2019-09-09 13:21] #2488 closed

[2019-09-09 13:24] spadgett commented on #2251
Fixed by the following PRs:

#2372
#2383
#2595

/close

[2019-09-09 13:24] #2251 closed

[2019-09-09 13:25] spadgett commented on #2636
/kind bug

[2019-09-09 13:27] spadgett commented on #2301
Fixed by #2378

/close

[2019-09-09 13:27] #2301 closed

[2019-09-09 13:27] spadgett commented on #2145
Fixed by #2146

/close

[2019-09-09 13:27] #2145 closed

[2019-09-09 14:10] spadgett commented on #2489
/assign @cloudbehl

[2019-09-09 14:10] spadgett commented on #2489
/kind bug

[2019-09-09 14:14] spadgett commented on #1401
Sorry, I'm a little unclear what the issue is or how your CI is set up. It sounds like it's obsolete since the dev console no longer needs an operator. Is that correct, @ldimaggi ?

[2019-09-09 14:17] spadgett commented on #775
We've since disabled this page on vanilla k8s.

/close

[2019-09-09 14:17] #775 closed

[2019-09-09 14:17] spadgett commented on #1259
We haven't been able to reproduce even with the provided YAML. Closing for now. If you see this with current builds, please let us know.

/close

[2019-09-09 14:17] #1259 closed

[2019-09-09 15:07] christianvogt commented on #2636
cc @abhinandan13jan

[2019-09-09 15:37] spadgett commented on #905
/assign @debsmita1

[2019-09-09 15:40] alecmerdler commented on #2619
We've added a [`fieldGroup` capability](https://github.com/openshift/console/blob/master/frontend/public/components/operator-lifecycle-manager/descriptors/types.ts#L22) which is currently used to [group related fields in the "Create Operand" form](https://github.com/openshift/console/blob/master/frontend/public/components/operator-lifecycle-manager/create-operand.tsx#L437). Implementing this in th

[2019-09-09 16:06] abhinandan13jan commented on #2636
----------------------------------------------------------------------------------------------
@christianvogt  @spadgett The delay is introduced at the `ResourceLog` component level on admin side. Any delay introduced could be most likely from the `wsFactory` utility functions or the response from server. The `ResourceLog` component is used by the Pipeline/Tekton Logs to render the referred view a

[2019-09-09 16:15] abhinandan13jan commented on #2636
the actual elapsed time for each task
![Screenshot from 2019-09-09 21-43-54](https://user-images.githubusercontent.com/24852534/64547809-0ddb6200-d34b-11e9-8b79-06852a545970.png)

[2019-09-09 16:44] ldimaggi commented on #1401
This issue can be closed as obsolete - thanks!

[2019-09-09 16:44] #1401 closed

[2019-09-10 05:39] #905 closed

[2019-09-10 10:44] e-minguez opened #2656 "downloads pod terminate by timeout"
In a rhhi.next environment using [install-scripts](https://github.com/openshift-kni/install-scripts) when applying a machine config, all the pods are evacuated except the download's one.

[code]

Eventually, it times out and the host can be rebooted but it would be nice to debug it.

[2019-09-10 10:52] e-minguez commented on #2656
In a 3 nodes cluster it happens 3 times, one per node.

The oc describe output:

[code]

[2019-09-10 11:37] bipuladh commented on #2569
I have performed more testing on this issue with various solutions. The reason why victory shows fractions right now in the main dashboard is that we are converting the bytes to appropriate power in the following manner `tickFormat={tick => humanize(tick).string} ` in the area graph implementation.
What we can do is convert all the data points to appropriate power beforehand and pass it to the are

[2019-09-10 12:30] e-minguez commented on #2656
I think this is related -> https://stackoverflow.com/questions/53199243/why-does-not-kubernetes-pod-graceful-stop

[2019-09-10 23:54] wking commented on #2656
Downloads pod is part of console-opertor, not this repo.  And we've set `terminationGracePeriodSeconds` since openshift/console-operator#282.  So I'm not sure what's going on, but I'm sure this repo isn't where a fix will happen ;).  Closing in favor of [rhbz#1745772][1].

/close

[1]: https://bugzilla.redhat.com/show_bug.cgi?id=1745772

[2019-09-10 23:54] #2656 closed

[2019-09-17 13:59] jparrill opened #2738 "Error on UI showing an over hundred percentage on VMs vs Pods tab"
Hi there,

We've been testing to disconnect a `/dev/vda` from one of the masters, this `vda` was part of the Ceph cluster created by OCS deployment. The facts are like this:

00:00:20 - Disconnect VDA from master-1
00:01:12 - openshift-storage health is degraded in UI
00:01:31 - Rebuilding in Progress 0.0%
00:01:59 - Disk device /dev/dm-0 not responding, on host master-1.
00:02:09 - rook-ceph-osd-

[2019-09-18 07:59] karmab commented on #2487
![image](https://user-images.githubusercontent.com/1840387/65129135-ffe8a980-d9fa-11e9-8b4f-ae585e5b6401.png)

[2019-09-18 14:35] spadgett commented on #2738
cc @rawagner

[2019-09-18 14:35] spadgett commented on #2738
/kind bug

[2019-09-18 14:37] rawagner commented on #2738
@cloudbehl please take a look

[2019-09-18 14:39] spadgett commented on #2738
/assign @cloudbehl

[2019-09-24 12:48] ldimaggi opened #2820 "Running install_knative_serving_mocks.sh in shell window with default profile results in unreadable text"
Steps to recreate:

Running the script - frontend/packages/knative-plugin/yamls/knative-serving/install_knative_serving_mocks.sh - in a shell window with a white background and black text results in output that is unreadable:

![cannot_see_text](https://user-images.githubusercontent.com/642621/65512745-d66ec880-dea7-11e9-978f-22dfe19ab9fa.png)

[2019-09-24 18:41] eitchugo opened #2825 "Customizing Monitoring External links on interface"
Hi there,

Is there any way to customize the external links in the navigation menu under item "Monitoring"? I didn't find any option in the ConsoleConfig resource, and by looking at the code, I think it's generated by querying the routes under the 'openshift-monitoring' project (I'm not certain about it, please correct me if I'm wrong).

Use case here is that I have a custom domain for prometheus/

[2019-09-26 13:29] spadgett commented on #2825
It's not currently possible unfortunately.

We do let you contribute to the application launcher menu in 4.2 using a `ConsoleLink` CRD, but this won't replace what's in the left nav.

[2019-09-26 13:31] spadgett commented on #2820
/cc @christianvogt @joshuawilson

[2019-09-26 13:31] spadgett commented on #2820
/kind bug

[2019-09-27 13:29] spadgett commented on #2489
This could be related to https://github.com/openshift/console/pull/2804/commits/d639a006f56f847148f59655100816c26c11cf0c

@e-minguez can you tell us exactly which page and tab you were on?

[2019-09-27 13:44] christianvogt commented on #2820
cc @invincibleJai

[2019-10-01 11:40] hellfosa commented on #1377
Hello, "BRIDGE_K8S_BEARER_TOKEN" it's wrong env, try to use "BRIDGE_K8S_AUTH_BEARER_TOKEN".

Fully working config:
[code]

[2019-10-07 08:22] yaacov opened #2923 "node-sass 4.8.x is not supported on Node 12"
**Description**:

Currently we use node-sass": "4.8.x" [package.json#L174](https://github.com/openshift/console/blob/master/frontend/package.json#L174)
New fedora 31 will ship with Node 12

Console will not compile with nodejs v12, because of [incompetability](https://github.com/sass/node-sass#supported-nodejs-versions-vary-by-release-please-consult-the-releases-page-below-is-a-quick-guide-for-min

[2019-10-10 16:05] #2489 closed

[2019-10-10 16:12] spadgett commented on #2923
/assign

[2019-10-10 19:27] danielhelfand opened #2955 "Ability to Specify Service Account for Pipeline Run via Pipelines View"
Currently, the start pipeline option allows an end user to specify pipeline resources, but it doesn't allow a user to specify a service account for the pipeline run as shown below:

![image](https://user-images.githubusercontent.com/34258252/66599747-fb369180-eb71-11e9-8b3d-1d9168c20ac1.png)

This option exists with the Tekton CLI (`tkn`), but does not appear to exist via the web console.  It woul

[2019-10-10 20:13] #2923 closed

[2019-10-10 20:18] spadgett commented on #2955
/cc @christianvogt
/kind feature

[2019-10-10 22:32] christianvogt commented on #2955
The decision was made to exclude the service account from the UI and wait for tekton to provide a default: https://github.com/tektoncd/pipeline/pull/1227

cc @serenamarie125  @siamaksade

[2019-10-10 22:39] danielhelfand commented on #2955
@christianvogt Thanks for the clarification. Will this be available for OpenShift 4.2 then, or is there a way we are recommending users set up pipelines to avoid a scenario where a user triggers a pipeline through the UI without somehow specifying a service account?

[2019-10-10 23:03] siamaksade commented on #2955
@danielhelfand it will be available on OCP 4.2. It's already merged upstream and will be available in OpenShift Pipelines 0.8.

[2019-10-11 01:08] danielhelfand commented on #2955
Thanks @siamaksade. My misunderstanding. Unless there is some use case for using a different service account with pipelines besides the default, I think this can be closed.

[2019-10-11 13:45] christianvogt commented on #2955
/close

[2019-10-11 13:45] #2955 closed

[2019-10-11 17:04] vojtechszocs commented on #2569
@andybraren What are your thoughts on points raised in Jon's comment above?

Assuming all the vertical (Y axis) ticks use `GiB` unit, a tooltip for e.g. `0.1 GiB` data point should be down-scaled to show `100 MiB`, correct?

Do we want to render the same-unit ticks, e.g. only`GiB` regardless of the actual values, or adapt (down- or up-scale) them like the following?

[2019-10-11 17:38] bipuladh commented on #2569
https://github.com/openshift/console/pull/2937/files

[2019-10-11 22:21] andybraren commented on #2569
@vojtechszocs @TheRealJon @bipuladh

I chatted about this with some other folks and we quickly agreed that the y-axis tick marks should always have the same unit label, so always `GiB` or always `TiB` depending on the largest possible value:

`1 TiB, 0.5 TiB, 0 TiB`

Since the tooltip should match the value shown in the Utilization card, I mocked up a comparison of what it would be like if the mea

[2019-10-21 20:19] ncameronbritt opened #3036 "Dashboard Top Consumers card should point to in-console monitoring page"
Since we now have the Metrics/Monitoring page in the console, the "view more" link on the Top Consumers card should probably point to that page (with the appropriate query applied) rather than linking out to Prometheus.

cc @cshinn

![Screen Shot 2019-10-21 at 4 16 30 PM](https://user-images.githubusercontent.com/8974593/67239865-33fe2280-f41e-11e9-85b9-39be26f7f492.png)

[2019-10-22 09:38] nikhil-thomas opened #3040 "Instances of Clusterwide CRDs are not displayed properly in InstalledOperators"
## Bug Report

**What did you do?**
Installed `openshift-pipelines-operator` which provides a clusterwide CRD
the went to
`Installed Operator` > `OpenShift Pipelines Operator`
click on `OpenShift Pipelines Config` tab

wait until an instance with name `cluster` appears
(openshift-pipelines-operator controller creates an instance of its clusterwide CRD automatically)

**What did you expect to see?*

[2019-10-22 20:02] cshinn commented on #3036
This is actually the case for every graph in the console. Ideally they'd open the same link on the "Monitoring > Metrics" page. In this case, we'd also want to remove the time range from the query as well so that we can display the graph and show more information.

[2019-10-23 15:16] #2569 closed

[2019-10-24 15:08] kyoto commented on #3036
FYI @rawagner

[2019-10-30 19:24] spadgett commented on #3036
Fixed by #3132

[2019-10-30 19:24] #3036 closed

[2019-10-31 15:47] jcaianirh opened #3174 "Create Operator Subscription Page contains &quot; in error text"
The error text when an operator has already been installed is as follows:

`Operator subscription for namespace &quot;jcc&quot; already exists`

and should look like: `Operator subscription for namespace 'jcc' already exists`

[2019-11-11 13:16] spadgett commented on #3174
Fixed by #3175

/close

[2019-11-11 13:16] #3174 closed

[2019-11-12 19:50] komish opened #3362 "Replace "PodCount" with a generic "Count" dynamic UI widget"
Wondering if it would make sense/be easy to decouple the podCount widget to a generic count widget where we get the same behavior but without the implicit object type ("pods"). Not a huge change on the face of things, but might be more complicated under the hood, so figured I'd ask.

[2019-11-13 14:31] vrutkovs opened #3377 "Hide `OpenShift Cluster Manager` when OKD branding is used"
OKD-on-FCOS clusters don't report to cloud.redhat.com, so the link needs to be hidden when OKD branding is used

[2019-11-13 14:34] spadgett commented on #3377
/assign @rhamilto

[2019-11-13 14:48] spadgett commented on #3377
/kind bug

[2019-11-13 15:34] ncameronbritt opened #3380 "CRQ details does not show total or used"
Currently the Cluster Resource Quota details pages do not show the total quota available or the amount used on the Overview page. This information is important for OSD customers so that they can see how much of the available quota they are using and determine whether they need to manage their quota. At the very least this information should be brought up to the Overview tab of the details page so

[2019-11-13 20:50] #3377 closed

[2019-11-19 19:49] spadgett commented on #3380
/kind bug
/assign

[2019-11-19 23:29] #3380 closed

[2019-11-27 11:36] wilmardo commented on #1377
A quick workaround for this is to create a clusterRoleBinding with cluster-admin privileges for the service account referenced as token:
[code]

WARNING: This gives the service account full cluster-admin privileges!

[2019-12-05 14:21] invincibleJai commented on #2820
`install_knative_serving_mocks.sh` is no more needed post-release of 0.1.2 Openshift serverless operators and `install_knative_serving_mocks.sh` has been removed.

https://github.com/openshift/console/tree/master/frontend/packages/knative-plugin

Can we close this?

[2019-12-05 21:41] christianvogt commented on #2820
/close

[2019-12-05 21:42] #2820 closed

[2019-12-06 23:21] petr-balogh opened #3715 "ceph-storage test suite failing with missing storagecluster"
I see that new test suite add-capacity.scenario.ts as added yesterday and when I ran the suite on OCP cluster where OCS is not installed yet I am getting this error:

[code]

I think that the suite for installation should be separated with other UI tests or has to be ordered that installation will run as first and then the rest of the tests.

I will submit the PR where I separate installation and

[2019-12-06 23:36] petr-balogh opened #3717 "OCS installation test is failing"
Below is the error I see. @bipuladh can you please take a look?
Openshift version is: 4.2.0-0.nightly-2019-12-06-071530
[code]

[2019-12-07 06:47] bipuladh commented on #3717
What is the state of the cluster? This script assumes we have the standard setup with 3 worker nodes. And `openshift-storage` namespace is not created. It looks like you ran `deploy-with-olm.yaml` file before running this hence the creation of `openshift-storage` namespace is failing.

[2019-12-07 08:02] petr-balogh commented on #3717
Hello, it is cluster with 3 nodes.

I created the namespace and operator group as this is documented in ocs documentation that user has to add namespace and operator group so I created: https://github.com/red-hat-storage/ocs-ci/blob/master/ocs_ci/templates/ocs-deployment/deploy-with-olm.yaml which has jut those two. Do you deal also with monitoring label for namespace and creation of operator grou

[2019-12-07 08:04] petr-balogh commented on #3717
@bipuladh also please look at this issue: https://github.com/openshift/console/issues/3715

[2019-12-07 23:14] shyRozen commented on #3717
@petr-balogh The script create the namespace as the script do what the user should do. We (ux group) decided the the yaml should not be done in test code. Please see the yaml we decided on in the doc I've send you. It describe all the step need to be done before the test code.

[2019-12-09 15:02] petr-balogh commented on #3717
@shyRozen @bipuladh  can you please confirm my question about:

* operator group is also handled from deploy UI test?
* monitoring label for namespace is also created?

I didn't get today to this as a lot of mtgs but will continue at the evening or tomorrow for sure.
Thanks

[2019-12-10 07:39] bipuladh commented on #3717
Yes both of them are handled.

[2019-12-10 07:39] bipuladh commented on #3717
All you need to do is add CatalogSource.

[2019-12-10 11:18] petr-balogh commented on #3717
@bipuladh

Tried that and now failing with other issue:
[code]

Do you know what could be the issue now? Thanks

[2019-12-10 11:21] bipuladh commented on #3717
Do you have 3 worker nodes? @petr-balogh

[2019-12-10 12:13] petr-balogh commented on #3717
yep:
[code]

[2019-12-10 12:14] bipuladh commented on #3717
@petr-balogh m5.4x large machines?

[2019-12-11 09:20] petr-balogh commented on #3717
@bipuladh yep as I confirmed to you on hangout chat we use m5.4xlarge machines.

I hit the issue second time in the row:
[code]
Right after OCP deployment in the job I am running.
Full debug log:
http://magna002.ceph.redhat.com/ocsci-jenkins/openshift-clusters/pbalogh-ui/pbalogh-ui_20191211T080151/logs/ocs-ci-logs-1576051876/tests/ecosystem/deployment/test_deployment.py/test_deployment/logs

Must

[2019-12-11 19:11] spadgett commented on #3040
Fixed by #3477

/close

[2019-12-11 19:11] #3040 closed

[2019-12-12 11:13] Avni-Sharma opened #3770 "Link for etcd operator is broken"
https://github.com/openshift/console/tree/52d33b1cdcfe7d452863aae31f2dbedac15feecf/frontend/packages/operator-lifecycle-manager/src/components/descriptors#example

The etcd operator link is broken here.

[2019-12-12 11:52] #3715 closed

[2019-12-13 10:54] jchraibi opened #3782 "Add workloads from Administrator perspective"
Hi,
It would be great to be able to add workloads from the Administrator perspective, without needing to switch to Developer perspective.
It is already possible by accessing it through: https://console_url/add/ns/project_name, but it would be good to have a button in the UI to do it.
Thanks!

[2019-12-20 17:01] alosadagrande commented on #1377
Woraround worked fine.

I also tried to create a new serviceAccount, assign cluster-admin privileges to it and config deployment object of the console to run with that serviceAccount, but same error is shown.

Should be hardcoded in some part of the console code?

Regards,

[2019-12-26 02:24] liqlin2015 commented on #2825
@spadgett Do you know if there is plan to support such case in a CRD?

I see the OCP 3.11 doc step https://access.redhat.com/documentation/en-us/openshift_container_platform/3.11/html/configuring_clusters/install-config-web-console-customization#web-console-project-left-navigation. Can this be applied to OCP 4.2 too to get the same result?

[2020-01-14 18:27] jdhirst1 opened #3959 "Odd text rendering issue in dashboard"
During testing of OKD4 (4.4.0-0.okd-2020-01-13-234448), I have noticed an odd text rending issue in openshift-console, characters are moving about as the page is scrolled. Noticed in the Status page as shown below, but also shows up in many other places.

Tested in Chrome for Linux x64 78.0.3904.108 (Official Build).

I don't have other machines to test with, can we see if this is reproducible?

E

[2020-01-15 10:19] jpkrohling opened #3967 "Operand's version at .Status.Version instead of .Spec.Version"
Some Operators, such as the Jaeger Operator, manage the version of their operands. As such, there's no `Version` field under the `Spec` node, but there is one under `Status` instead.

The console's UI should fallback to `.Status.Version` in case `.Spec.Version` is empty.

https://github.com/openshift/console/blob/0150aba43092ae28e7585de5119895352e34bce1/frontend/packages/operator-lifecycle-manager

[2020-01-22 16:23] jomeier opened #4040 "API EXPLORER link not working in 4.4.0-0.okd-2020-01-21-152938"
Hi,

if I follow the link in the console

Home -> Explore

it results in a white page in the browser.

The debug window in Chrome (Version 79.0.3945.117 (Official Build) (64-bit)) shows this:
- Network Tab:
  sharing-config -> 404
- Console:
[code]

Greetings,

Josef

[2020-01-22 18:34] itsptk opened #4043 "Operator links for 'repository' and 'container image' should be clickable in OperatorHub"
URLs appear for both **Repository** and **Container Image** for operators in OperatorHub, but neither are clickable links. Ideally these would be clickable for easy access.

![operator links](https://user-images.githubusercontent.com/54860125/72922616-57858180-3d1b-11ea-8401-f35f5f69859d.png)

[2020-01-22 18:38] itsptk commented on #4043
Closing this and moving to be tracked by https://issues.redhat.com/browse/CONSOLE-2034

[2020-01-22 18:38] #4043 closed

[2020-01-24 10:26] alosadagrande commented on #1377
Hi all,

I created a [blog post and several videos](https://kubevirt.io/2020/OKD-web-console-install.html) about how to run the OpenShift web console on native Kubernetes. It is also explained the serviceaccount issue.

Hope it helps.

[2020-01-31 18:04] a1exeyz opened #4139 "[Feature] resourceRequirements to support storage request"
urn:alm:descriptor:com.tectonic.ui:resourceRequirements should support storage request format too, you should be able to disable items you don't want to see (cpu/mem/etc):

      resources:
        requests:
          storage: "5Gi"

[2020-02-02 22:14] jomeier commented on #4040
It's working in the latest ci build. Will close this one.

[2020-02-02 22:14] #4040 closed

[2020-02-03 16:54] spadgett commented on #3959
/kind bug
/assign @rawagner

@rhamilto @sg00dwin fyi in case you've seen this

[2020-02-03 16:55] spadgett commented on #3782
/kind feature

cc @serenamarie125 @beanh66 @christianvogt

[2020-02-03 16:57] spadgett commented on #3770
/kind documentation

@ecordell Do you know what the link should be?

[2020-02-03 16:58] spadgett commented on #3967
/kind feature

[2020-02-03 16:59] spadgett commented on #3967
cc @tlwu2013

[2020-02-03 16:59] spadgett commented on #4139
/kind feature

[2020-02-03 17:03] spadgett commented on #4139
See also https://bugzilla.redhat.com/show_bug.cgi?id=1794844

[2020-02-03 20:45] benjaminapetersen commented on #4139
Closing this out since we have a bugzilla to track.

[2020-02-03 20:45] #4139 closed

[2020-02-03 21:24] spadgett commented on #3770
/assign @tlwu2013

[2020-02-04 03:38] #3770 closed

[2020-02-04 09:14] rawagner commented on #3959
I cant reproduce on chrome 78.0.3904.108 or 79. Is it happening only on dashboards page or on others too ? Can you try with chrome 79 too ?

[2020-02-04 10:55] startxfr opened #4173 "Improve resource search in web console"
Hi all,

In OCP 4.3 and previous versions, there is no equivalent of the `oc get all -l xx=yyy` search request within the web console.
In the search menu, we can search only a defined resource, but not all resources. Is it possible to add an all option to the resource kind dropdown list ?
If request is to huge to perform when no filter is apply, perhaps adding the all option could be suggested onl

[2020-02-05 17:37] jdhirst1 commented on #3959
I think this can be closed as I noticed the same issue when browsing the Openshift documentation site on this system. It seems to be something with text rendering for the font that's used, however I'm not quite sure.

[2020-02-06 09:59] vrutkovs opened #4223 "Alerting / Metrics shows "forbidden""
https://origin-release.svc.ci.openshift.org/releasestream/4.4.0-0.okd/release/4.4.0-0.okd-2020-02-06-060436

Dashboard / Alerting / Metrics show "Forbidden" or unavailable, same on every other screen metrics are used.

Console logs:
[code]

[2020-02-06 11:31] ppitonak opened #4224 "404 when installing an operator with manual approval strategy"
1. open OpenShift web console
2. navigate to Operators -> Operator Hub -> search for "container sec"
3. click install
4. choose **Manual** approval strategy
5. click on `container-security-operator` subscription
6. click on `1 requires approval`

Expected
* I end up on URL https://console-openshift-console.apps.example.com/k8s/ns/openshift-operators/operators.coreos.com~v1alpha1~InstallPlan/instal

[2020-02-06 12:08] vrutkovs commented on #4223
Dupe of https://bugzilla.redhat.com/show_bug.cgi?id=1794885

[2020-02-06 12:08] #4223 closed

[2020-02-07 01:55] serenamarie125 commented on #3782
Good point @jchraibi.  When a project is empty we provide a way to access the Add page shown below:
![AccessingAdd](https://user-images.githubusercontent.com/12504403/73994281-fec10600-4922-11ea-988e-723e5ac62d88.gif)

We should consider an additional solution

FYI @sspeiche

[2020-02-07 02:25] spadgett commented on #4224
This will be fixed by #4170

/assign
/kind bug

[2020-02-07 02:31] spadgett commented on #4173
#3875 adds the ability to search for multiple resources at once. You can bookmark these queries for reuse. Does this meet your needs?

Note that `all` on the CLI is not really all resources, but a small subset of important resources. We might consider adding an option to the resources dropdown that gives you the same set of resources.

/kind feature
cc @beanh66 @bmignano

[2020-02-07 12:36] ppitonak opened #4247 "Pipeline: Start last run starts a pipeline from different namespace"
1. install OpenShift Pipelines and follow steps in https://github.com/openshift/pipelines-tutorial/ twice in two different namespaces, don't create the second pipeline run
2. open Pipeline -> Pipeline Runs in console
3. open Actions dropdown
4. select `Start Last Run`

expected:
* there is no `Start Last Run` option because it's the first time the pipeline is started

actual:
* pipelinerun is crea

[2020-02-13 17:45] miyamotoh opened #4311 "Enable Firefox as browser for e2e tests"
In order to support more hardware platforms (eg. IBM Power, Z), I'd like to propose running the e2e/integration tests with Firefox, instead of Chrome, as Chrome simply is not available on as many platforms as Firefox is.

However, I do realize switching browser would be risky to CI pipeline stability. So, as the first step, I'd like to propose some adjustments to existing test code/config to run i

[2020-02-14 14:46] jchraibi opened #4322 "CRW console integration fails if there is .git extension in git repo"
Hi,

When CodeReady Workspaces is deployed, the integration in the console (Edit source button) fails if there is a ".git" extension in the repo URL -> CRW is unable to locate the devfile.yaml in the root or clone the git repo.
--------
The workaround
- It works if we ommit the ".git" in the repo URL.
For example: https://github.com/sclorg/nodejs-ex.git fails whereas https://github.com/sclorg/node

[2020-02-14 15:02] sspeiche commented on #4322
/fyi @christianvogt @andrewballantyne

[2020-02-15 08:01] HeroMeiKong opened #4329 "Frontend Development: can't find UI"
I run 'yarn dev', then, I find 'Project is running at http://localhost:8080/', but I can't see UI, it was directory, please tell me how to see the UI ?

[2020-02-17 04:29] jchraibi opened #4331 "Setting all env vars from secret does not work"
Hi,
Using the console, when choosing to inject all vars from a secret to a deployment/deploymentConfig, it only creates  the keys and does not set the values.
Expected behaviour is to set both the key=value as environment variables in the pods.

[2020-02-17 04:38] #4331 closed

[2020-02-17 04:40] jchraibi commented on #4331
closing issue as the secret contained "-" instead of "_" in keys, I thought the "-" was automatically converted in "_" when injecting keys from secret/configmap

[2020-02-17 10:03] sunix commented on #4322
In my opinion, it has to be fixed in CRW: CRW should be more robust and accept git URI that finish with `.git`

[2020-02-18 17:43] christianvogt commented on #4247
/assign @christianvogt
/kind bug

[2020-02-19 16:00] christianvogt commented on #4322
@jchraibi could you please provide more information about the error you encountered.

I tested this on OpenShift 4.3.2 with CRW operator v 2.0.0.
I created a new project using the dev-catalog and used the sample URL. I was able to load a workspace using the the URL with `.git` suffix.

You may want to raise your issue with https://github.com/eclipse/che if you can still reproduce this.

[2020-02-19 16:19] jchraibi commented on #4322
Hi Christian,
Did you put a devfile in the git repo root ? The problem I encountered is
that when there is a .git extension, CRW does create a new workspace but is
unable to load the devfile.
So yes, it is probably better to raise the issue in che side.

Jaâfar CHRAÏBI
Principal Technical Marketing Manager - Cloud Platforms
Tél: + 33.7.76.88.95.16

*Learn more about OpenShift: http://learn.openshi

[2020-02-19 18:48] christianvogt commented on #4322
/close
Confirmed that indeed with `.git` extension, the devfile is loaded as the default instead of what's in the project.
Closing issue as it's an upstream bug and @jchraibi said he would get it logged upstream.

[2020-02-19 18:48] #4322 closed

[2020-02-21 12:01] ppitonak opened #4405 "No pipeline section in Import from git"
1. login as non-admin to **OpenShift 4.4**
2. open developer perspective
3. Add -> From Git -> scroll down

expected:
* there is a `Pipelines` section and I can add a pipeline to my project
![odc_pipeline_template2](https://user-images.githubusercontent.com/445100/75032998-27f89f00-54aa-11ea-9d79-4edb43955d97.png)

actual:
* `Pipelines` section is completely missing
* works fine when I login as ku

[2020-02-24 17:28] tam512 opened #4444 "Kabanero CR instance in OCP 4.3 console shows apiVersion v1alpha1 instead of v1alpha2"
- Using OCP 4.3, install Kabanero 0.6.0, then create a Kabanero CR instance using the default yaml (_oc apply -n kabanero -f https://raw.githubusercontent.com/kabanero-io/kabanero-operator/0.6.0-rc.5/config/samples/default.yaml_).
- When viewing the kabanero instance using command line _`oc get kabanero -n kabanero -o yaml`_, it shows **`apiVersion: kabanero.io/v1alpha2`**, but when viewing the ka

[2020-02-24 18:57] kaczyns commented on #4444
It's worth noting here - the `kabaneros.kabanero.io` CRD has both a v1alpha1 and v1alpha2 version configured.  Both versions are served, but only the v1alpha2 version is stored.

[2020-02-25 13:37] ppitonak opened #4468 "Pipeline template loading never ends (4.3)"
* login **as non-admin** to OpenShift 4.3 with Pipelines 0.10.5 installed
* switch to developer perspective
* click *Add* and then *From Git*
* select one of builder images

expected:
* I see how my pipeline will look like

actual:
* spinner never disappears

![odc_pipeline_template](https://user-images.githubusercontent.com/445100/75252136-56dd8080-57dc-11ea-9b72-8c9519228be9.gif)

[2020-02-25 14:45] ppitonak commented on #4468
Seeem to be the same problem as in https://github.com/openshift/console/pull/3607

[2020-02-25 14:48] vikram-raj commented on #4468
@ppitonak Yes, I am going to cherry pick #3607 into release-4.3.

[2020-03-03 23:32] erikerlandson opened #4618 "RFE: a terminal/shell window on the openshift web console for doing 'oc' commands"
Not all environments have easy access to a shell. Being able to pull up a terminal window for the purpose of running 'oc' commands against the cluster api could be very handy. A nice feature would be to have it pre-logged in to whatever login you used to access the console, so 'oc login' isn't required.

[2020-03-03 23:35] erikerlandson opened #4619 "RFE: a button on the imagestream console screen for "bring this image up with a shell""
A shorthand way to just bring up a pod that runs some image, with a terminal window.

(see also: https://github.com/openshift/console/issues/4618)

[2020-03-04 08:28] cben opened #4620 "GitHub IDP(s) "authentication error" when already logged as wrong github user"
[initially seen when opening console via cloud.redhat.com/openshift — https://issues.redhat.com/browse/SDA-1786 — but I believe independent]

Steps to Reproduce:
1. Add two Github IDPs on a cluster as bellow:

    Github user | organization | IDP name
    -- | -- | --
    user1 | org1 | myidp1
    user2 | org2 | myidp2

2. Open openshift console, login via myidp1 -> login to github as user1
3. Log

[2020-03-04 15:39] Jamstah opened #4628 "Session state is stored in a persistent cookie"
When the openshift session cookie is created, a maxage is set that matches the length of time the cookie is valid.

Because this is set, the browser stores the cookie in a persistent way, and the user does not have to reauthenticate if they close the browser and reopen it.

As there is no option for "remember me" or "This is a public computer", I feel that a better approach may be to use a session

[2020-03-09 08:53] jchraibi opened #4691 "Display next certs rotation in UI (+ alert?)"
Certs rotation happen once every 30 days after the 24h initial certs rotation, and the cluster needs to be up at that timeframe. It would be great to have an alert in the UI that explicitly shows the next certs rotation so that admins make sure the cluster is on.

[2020-03-12 09:37] prafull11 opened #4720 "RFE: selector descriptor should work with Kubernetes Custom Resource as well"
Currently, there is no way to describe the Kubernetes Custom Resource using descriptor. User should be able to use the the selector field for kubernetes Custom Resources as well.

For example, I can select the secrets using the following descriptor:
`'urn:alm:descriptor:com.tectonic.ui:selector:core:v1:Secret'`

Same way I should be able to select the custom resource Target as:
'urn:alm:descriptor

[2020-03-16 01:01] morstad opened #4736 "HELM3 : values.yaml is re-ordered and comments stripped in edit window"
The values.yaml content displayed on install is re-ordered with comments stripped.  Removal of comments and re-ordering is concerning for following reasons  :
- global and / or common parameters which need to be updated by user aren't displayed at top
- comments to guide users input are removed (thisincludes license acceptance text and pointer to README.MD externally hosted as not displayed during

[2020-03-16 16:48] sbose78 commented on #4736
Thanks for logging this @morstad . The comments are lost because the deserialized values.yaml ignores comments.

We are looking at the feasibility of pulling in the raw file.

[2020-03-16 16:51] sbose78 commented on #4736
Based on the slack conversation with @pedjak , we need to check if https://github.com/helm/helm/blob/master/pkg/chart/chart.go#L36 can be used to populate the raw  file, in the response.

[2020-03-16 17:01] pedjak commented on #4736
Here is the line where `values.yaml` gets parsed: https://github.com/helm/helm/blob/master/pkg/chart/loader/load.go#L97

[2020-03-17 19:00] amobrem opened #4752 "Populate name of CatalogSource into filter sidebar for custom catalogs"
When you add a customer CatalogSource, it currently shows up as “Custom” for the provider type instead of using the catalog display name.

The proposal would be to use the following naming scheme via annotation to display this, and fall back to the actual name of the CatalogSource if not set. As you can see, this means it will need to be truncated in some cases.

[code]

**Folks using custom catal

[2020-03-19 15:56] sbose78 commented on #4736
Suggestion: Provide another file called `values-{something}.yaml` that would be a symlink to values.yaml . If this file is available, the UI could render the yaml as is - thereby preserving the comments and order!

@pedjak & @rohitkrai03
Please work this out :-)

[2020-03-21 19:39] markmont commented on #4329
I started working with OpenShift Console today and had the same question.

It looks like `yarn run dev` only watches for changes and rebuilds the webpack, the web application itself is still served through `bridge`.  The following worked for me:

[code]

Then go to https://localhost:9000/ in your web browser.

Now when you make a change to a file under the `frontend` directory, the change will be

[2020-03-25 07:44] gyliu513 opened #4813 "Any plan to support localization?"
Like supporting Chinese, Japanese language etc.

[2020-03-25 17:18] jchraibi opened #4816 "RFE: save components locations in topology view"
The topology view is useful only if we can nicely arrange the components layouts in groups for an app, like front, middle and backend, AND be able to recall that when switching back to the topology view. Otherwise, when opening the topology everything gets shuffled again and it get less readable.

[2020-03-25 23:42] ryanelian commented on #1377
Back to this thread.

Thank you to everyone who guided me for successfully deploying OKD Console to Native Kubernetes cluster.

(Known good configuration for kubeadm 1.17.4)

[code]

[2020-03-25 23:42] #1377 closed

[2020-03-25 23:53] ryanelian opened #4820 "How to Get Node Metrics on Native Kubernetes Cluster?"
Continuing discussion from https://github.com/openshift/console/issues/1377 albeit different topic hence different thread.

---

### Problem Description

The pages `/dashboards` and Compute Nodes (`/k8s/cluster/nodes`) unfortunately are partially-working in a native Kubernetes cluster (kubeadm 1.17.4)

I wonder what should be done to achieve complete functionality on those pages? Are there additio

[2020-03-26 04:40] akashshinde opened #4821 "Helm installation request times out"
Helm install api request times out when installation takes more than 20 secs.

To handle such issues we might need to introduce async request.

[2020-03-27 03:29] sbose78 commented on #4736
Let's call the file
ordered-values.yaml

[2020-03-31 15:21] Jamstah commented on #3967
Could we use a `StatusDescriptor` to specify which field to include? The version we'd like in the table is in Yet Another Location - `status.versions.reconciled`.

[2020-03-31 18:00] sbose78 commented on #4736
@pedjak @akashshinde @rohitkrai03 Could we look for `ordered-values.yaml` to populate the yaml editor in the UI ?

Hi @morstad Would this work ?

[2020-04-01 12:39] ddonahue007 opened #4872 "Volumes table disappears while scrolling on initial load of the page."
**Experienced this on:**
  *  Chrome: Version 80.0.3987.149 (Official Build) (64-bit)
  *  Firefox: 68.6.0esr (64-bit)

I have include a link to a short clip that demonstrates the behavior I am experiencing.

https://drive.google.com/open?id=1GsHGQ5UwjQZQ2Da4g7YD3eKtS6aLRigm

[2020-04-01 13:07] ddonahue007 commented on #4872
Closing, opened Bug in Bugzilla

https://bugzilla.redhat.com/show_bug.cgi?id=1819752

[2020-04-01 13:07] #4872 closed

[2020-04-01 14:57] pedjak commented on #4736
@sbose78 the proposed name is fine (or any other). In any case @rohitkrai03 should need to look in Release response for that name under `files`. If there, it could be used for rendering.

[2020-04-01 15:16] bfabec opened #4876 "specDescriptors fieldDependency requires spec prefix"
Attempting to use the fieldDependency specDescriptor within my CSV but the console doesn't seem to render based on the example provided:
[code]

https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#20-fielddependency

The UI doesn't change based on setting the value on or off:

<img width="658" alt="Screen S

[2020-04-01 19:42] bfabec commented on #4876
FieldDependency isn't part of OCP 4.3 as shown here:
https://github.com/openshift/console/blob/release-4.3/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md

Note that I tried the latest version of the console code and there is still what looks to be an issue.  To get the fieldDependency to work, I had to add the following descriptor:
 - 'urn:alm:descri

[2020-04-02 01:17] yzhao583 commented on #4876
@bfabec Really appreciate the feedback! Yes, you are right, the "fieldDependency" specDescriptor is not included in OCP 4.3, but you may see it in OCP 4.4. Regarding the issue you mentioned. unfortunately, I could not regenerate it. I pulled the latest code and tested it locally, the feature works fine. Could you please maybe pull the latest code again and have a try? Thanks again for the feedback

[2020-04-02 02:15] bfabec commented on #4876
@yzhao583 thanks for the response and adding this feature, it will be very useful in making a clean ux experience!  I retried it again with the master branch, but am seeing the following for my fieldDependency:

<img width="629" alt="Screen Shot 2020-04-01 at 9 04 22 PM" src="https://user-images.githubusercontent.com/6558437/78203411-7f503e80-745c-11ea-9f23-7f290d3c7c7b.png">

The specDescriptor f

[2020-04-02 02:30] bfabec opened #4885 "OLM text descriptor is being added to all items (select no longer working)"
With the current version (master branch) of the openshift/console, when trying to create an instance of a csv that contains the `urn:alm:descriptor:com.tectonic.ui:select` specDescriptor, it shows it as a `text` type instead.

The specDescriptor looks like the following (note, there is no `text` descriptor).
[code]

<img width="632" alt="Screen Shot 2020-04-01 at 9 16 51 PM" src="https://user-imag

[2020-04-02 03:54] morstad commented on #4736
@sbose78 orderd-values.yaml works - have instructed teams to add

[2020-04-02 13:21] beanh66 commented on #3782
@jchraibi thanks for pointing that out. @serenamarie125 We could use the + Add icon in the masthead for this. Currently it's only for import YAML but we've talked about adding the other options there as well. @alimobrem

[2020-04-02 14:54] morstad opened #4898 "RFE : HELM - Federated Repository Support"
Request ability to federate 1-n helm repository(s) into Developer catalog for customers who use helm charts from multiple locations (internal / external) and / or  providers.  Customer choice to pick and chose which helm repositories to include - from defined or custom list.   This would also enable partners to curate catalogs for inclusion base RH helm catalog (similar to how there are multiple o

[2020-04-02 15:18] sbose78 commented on #4898
Thanks Nancy, will triage it for our 4.6 planning. @siamaksade

[2020-04-02 17:18] yzhao583 commented on #4876
Really could not see the issue here, maybe you can regenerate the image and try again. Thanks

[2020-04-02 19:17] sbose78 commented on #4736
tracked internally https://issues.redhat.com/browse/ODC-3485

[2020-04-03 01:36] bfabec commented on #4876
@yzhao583 - do you have a working example (index or csv) that I can try with the master branch?

[2020-04-03 11:11] pedjak commented on #4821
The timeout is set on the requester side, not at the endpoint side.

[2020-04-03 18:23] pedjak commented on #4736
For the record, `helm package` command puts into tarbals `values.yaml` cleaned from any comments and with alphabetically sorted keys. Thus, adding an extra `value.yaml` under another name is the only way to solve this, patching Helm would not help, because all charts in all repos in the wild contain only cleaned up `values.yaml`

[2020-04-06 12:44] sspeiche commented on #4816
We allow you to arrange things into app grouping and name them using Kubernetes app label guidelines.

Moving nodes in the graph around and saving the locations, is tracked in a Jira issue (will update when I locate it)

[2020-04-07 12:38] prafull11 commented on #4720
@yzhao583 Can you please comment. Is this possible to this in near future?

[2020-04-08 06:28] prafull11 opened #4962 "UI rendering the complete CRD instead of just name"
I have two CRD's named **application** and **backup** in which we have to provide application name in the backup CR.

User just needs to provide the application CR name which he want to link to the backup CR and we find the  proper object reference and mutate it to the backup CR. However in the UI it is asking for all the information from the use. I just want that UI don't render all the fields of

[2020-04-08 08:30] prafull11 opened #4966 "Clusterwide CRD is not showing on the UI properly on openshift 4.4 pre builds"
I am installing my CRDs in cluster mode but I am not able to see the objects created by it in UI.

`test@prafull:~/samples$ kubectl get nodes
NAME                                                       STATUS   ROLES    AGE     VERSION
ocp-te-d5nm2-m-0.c.amazing-chalice-243510.internal         Ready    master   5d18h   v1.17.1
ocp-te-d5nm2-m-1.c.amazing-chalice-243510.internal         Ready    mast

[2020-04-08 11:22] prafull11 opened #4970 "alternative to ui:label spec descriptor to use"
I want to take labels as an input in my CR spec for selecting some resources. Earlier there was descriptor which is deprecated now
`- urn:alm:descriptor:com.tectonic.ui:label`

Can anyone please let me know alternative descriptor to select the labels? Thanks

[2020-04-08 13:25] prafull11 commented on #4966
I have verified that this issue happens on the 4.3 as well.

[2020-04-09 19:57] christianvogt commented on #4821
There is a client side timeout here:
https://github.com/openshift/console/blob/4ce7272c4ae06b197ce89f48d07e90795c85c9d5/frontend/public/co-fetch.js#L99

It's been in place for a long time but I do not agree with having this timeout.
Will look into having it removed.

[2020-04-14 13:34] spadgett commented on #4966
Hi @prafull11, are you able to provide steps to reproduce? It worked OK for me using the CNV operator as reported in https://bugzilla.redhat.com/show_bug.cgi?id=1757526, so we might need the specific CSV/CRDs you're testing.

[2020-04-14 18:17] tlwu2013 commented on #4962
Hi @prafull11 ,

Want to reply here as well in addition to the separate email thread.
This is about some Operand's fields show up on the creation form but you want to hide them instead.

It's because OCP console also generates fields for Operand's creation form from its OpenAPI Schema in the CRD yaml in addition to the fields from the specDescriptors.

We've planned to have "a new specDescriptor t

[2020-04-14 18:18] tlwu2013 commented on #4720
Hi @prafull11 ,

Want to reply here as well in addition to the separate email thread.
This one is the same as the previous RFE for “_a descriptor to specify k8s resource including CR instance with GVK_" info.

This one is targeting OCP 4.6 release in our backlog too.

[2020-04-14 18:18] tlwu2013 commented on #4970
Hi @prafull11 ,

Want to reply here as well in addition to the separate email thread.

This one is about the need to have "a descriptor that allows me to specify labels for identifying a set of objects via a selector".
We are also working on planning the selector descriptor for OCP 4.6 release.

In your case, are you looking more for a simple map of `{key,value}` pairs (`matchLabels`)?
Or you woul

[2020-04-15 17:58] spadgett commented on #4885
cc @TheRealJon @tlwu2013 @benjaminapetersen

[2020-04-15 18:22] spadgett commented on #4820
It will probably take a code change.

Right now, the console backend proxies to Prometheus and Alertmanager. We assume the OpenShift monitoring stack is running in the `openshift-monitoring` namespace and hard-code several services since they're at well-known locations:

https://github.com/openshift/console/blob/master/cmd/bridge/main.go#L37-L51

We'd need some way to make this configurable for na

[2020-04-15 18:28] ryanelian commented on #4820
That is convenient. I am running Prometheus using prometheus-operator Helm chart:

https://github.com/coreos/prometheus-operator

https://github.com/helm/charts/tree/master/stable/prometheus-operator

I wonder if the Console is compatible with prometheus-operator metrics.

[2020-04-15 18:29] spadgett commented on #4736
Fixed by #5037
/close

[2020-04-15 18:29] #4736 closed

[2020-04-15 18:32] spadgett commented on #4618
Enhancement proposal: https://github.com/openshift/enhancements/pull/182

[2020-04-15 18:33] spadgett commented on #4468
/assign @vikram-raj
/kind bug

[2020-04-15 18:39] spadgett commented on #4329
Thanks @markmont 👍

You do need to run the bridge binary separately. Console requires the backend to proxy requests to the API server. Let us know if you still have questions.

[2020-04-15 18:39] #4329 closed

[2020-04-15 18:43] spadgett commented on #4444
This is related to https://bugzilla.redhat.com/show_bug.cgi?id=1822437

We're working on updating the CRD page to prefer the most recent API version (ordering by stable > beta > alpha, then version). Note that you can also get to the resource from Home -> Search or Home -> Explore to use the more recent API version.

/kind bug
/assign @jcaianirh

[2020-04-15 18:49] spadgett commented on #4620
cc @stlaz

[2020-04-15 19:05] lizsurette opened #5063 "Upgrade available, but awaiting approval has misleading Status value of "Upgrading""
I have an operator that has an upgrade available, but since it has a manual approval strategy, it needs to be approved before the upgrade kicks off. Technically, it's not upgrading, but the Status says it is. I think we should update this text to be more accurate if possible. Maybe something like "Upgrade awaiting approval"?

What do you think @itsptk ?

<img width="1680" alt="Upgrade Needs Approv

[2020-04-15 19:23] itsptk commented on #5063
Agreed! @tlwu2013 and I had talked about this issue recently and think we will try and fix this as a bug in 4.5. I created https://issues.redhat.com/browse/PD-458 to capture it. Tony, was there a dev issue or bug tracking this yet?

[2020-04-15 19:45] spadgett commented on #2825
We don't have any plans in the near-term to make the left nav customizable via a CRD. Currently, the links in the masthead, user menu, help menu, and project dashboards are customizable. The steps from the 3.11 doc won't work for 4.x.

Note that in recent releases, we've implemented native experiences for metrics and dashboards, so these are no longer link out to Prometheus/Grafana. They link to i

[2020-04-15 22:52] tlwu2013 commented on #5063
Yes, just created a new [console bug](https://issues.redhat.com/browse/OLM-1696) to track this (also attached the old OLM bug on this new bug for synced up the background).

[2020-04-15 23:09] lizsurette commented on #5063
Awesome, thanks @tlwu2013 and @itsptk !

[2020-04-16 16:19] prafull11 commented on #4966
Okay, issue was in our CSV. With latest changes it is working fine. Closing this issue. Thanks for your support.

[2020-04-16 16:19] #4966 closed

[2020-04-16 21:40] bfabec commented on #4885
Verified today this is still a problem within the release-4.4 branch.

[2020-04-16 22:04] bfabec commented on #4876
Verified that this is still a problem in todays build on release-4.4.  I believe either the example of fieldDependency needs to change or the code needs to change.

https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#20-fielddependency

The example talks about setting the field dependency to the control pat

[2020-04-16 22:39] yzhao583 commented on #4876
Unfortunately, I still really really cannot see the issue. @Sam Padgett
<spadgett@redhat.com> @Tony Wu <tony.wu@redhat.com> Can you guys help to
verify this? Much appreciated.

On Thu, Apr 16, 2020 at 6:05 PM bfabec <notifications@github.com> wrote:

--

Yu Zhao

*Senior Software Engineer*

Middleware Solutions Engineering

Systems Engineering

Red Hat Canada <https://www.redhat.com/>

yzha@redhat

[2020-04-16 23:51] yzhao583 commented on #4876
@bfabec I just pulled the latest release-4.4 branch and did a test for you. Here is my result.

![OCP-4 4-BA](https://user-images.githubusercontent.com/24922241/79517228-92960900-801b-11ea-97e6-1e7bea5d0506.gif)

[2020-04-17 00:07] yzhao583 commented on #4876
I just pulled the latest release-4.4 branch and did the test for you. Here is the result:

![Apr-16-2020 20-04-50](https://user-images.githubusercontent.com/24922241/79517937-a80c3280-801d-11ea-9197-7cca2d753cdb.gif)

[2020-04-17 17:27] sp98 opened #5098 "Typo in alert message - *opertor"
There is a typo in the alert message - `opertor`
https://github.com/openshift/console/blob/23ee5beb7fe0ed467f678d48b2b49b7d5a928b19/frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx#L320

[2020-04-21 18:58] benjaminapetersen commented on #5063
Closing this out as there is a Jira, but migrating the Jira to Bugzilla (nice string eh?):
https://bugzilla.redhat.com/show_bug.cgi?id=1826481

[2020-04-21 18:58] #5063 closed

[2020-04-21 20:51] btannous opened #5139 "x"
x

[2020-04-21 21:17] #5139 closed

[2020-04-22 20:45] yzhao583 commented on #4876
@bfabec We finally figured out the issue, and we really apologise for all the inconveniences. I have already submitted the PR to fix the issue. [https://github.com/openshift/console/pull/5157](https://github.com/openshift/console/pull/5157)

The issue should be fix in 4.4.z version

[2020-04-23 02:14] bfabec commented on #4876
Awesome, many thanks @yzhao583 !!  I will try out the fix once it merges.

[2020-04-23 14:35] sundeep-co-in commented on #4813
Have tried to approach `i18n` of OpenShift Console.
For initial feasibility, looked at 3 frameworks: `react-intl`, `react-i18next` and `lingui`

**react-intl**

most popular and feature rich react i18n framework. stable. famous. heavier. big community. messages can be extracted using babel. formatting APIs. `BSD-3-Clause` license. *wip*: https://github.com/sundeep-co-in/console/pull/7

**react-i18

[2020-04-23 14:52] yeplaa opened #5171 "Developer catalog GUI : Customization of menu"
Hello,

On OCP 4.3, i wish to customize the Developer GUI.
Indeed bellow my needs :

- In the "+Add"-> "From Catalog" menu, i wish add a category (like Databases menu for example)
- I wish that the categories that are displayed on the left hand side (Languages, Databases, Middleware ...) allow to add new subcategories in this current categories (For example, I wish add Elasticsearch, Redis, Cassan

[2020-04-24 11:44] sspeiche commented on #5171
Internal tracking RFE https://issues.redhat.com/browse/ODC-3671

[2020-04-26 18:35] morstad opened #5190 "HELM - Console displays 'Install Helm Chart' screen w/o values.yaml when index.yaml points to invalid tgz path"
When installing helm chart from OCP developer catalog if the helm repo index.yaml points to invalid location the install screen is displayed without values (tgz can't be found) and no error message.

![image](https://user-images.githubusercontent.com/24810680/80316296-a2071600-87c2-11ea-90cf-6d5589fbc198.png)

@pedjak

[2020-04-27 19:49] andrewballantyne commented on #4468
/assign

@ppitonak We've discussed this on a few occasions. Where is the testing with issue? I believe the Operator is the one with a fix here.

If needed, we can port our fix back to 4.3 that just hides the section when you lack permissions for it. @siamaksade and I discussed this and we agreed it was a hack that didn't really resolve the issue for the user.

Let me know when you get a chance Pav

[2020-04-28 07:08] yeplaa commented on #5171
Thanks @sspeiche for your reply. Have you any information on the treatment of the problem?

[2020-04-28 13:45] spadgett commented on #4813
Hi, thanks @sundeep-anand. This is helpful and matches what we've been looking at as well. We're currently evaluating it with the Patternfly team and did some investigation in https://github.com/patternfly/patternfly-react/issues/3952.

[2020-04-28 13:45] spadgett commented on #5098
/kind bug
/assign

[2020-04-28 13:52] spadgett commented on #4962
We've implemented a hidden spec descriptor in #5094. Let us know if this meets your needs.

/close

[2020-04-28 13:53] #4962 closed

[2020-04-28 13:55] spadgett commented on #5190
/assign @sbose78

[2020-04-28 13:58] spadgett commented on #4752
Closed by #4819

/close

[2020-04-28 13:58] #4752 closed

[2020-04-28 14:03] pedjak commented on #5190
/assign @rohitkrai03

can you take a look?

[2020-04-28 14:04] spadgett commented on #4405
@ppitonak can you verify this user can list pipelines in the `openshift` namespace? There are a few access checks we make before we show the section:

https://github.com/spadgett/console/blob/5e7196eda0e2aa2d888877a5de3fd9e500c9da42/frontend/packages/dev-console/src/components/import/pipeline/PipelineSection.tsx#L20-L39

/cc @christianvogt

[2020-04-28 14:12] rohitkrai03 commented on #5190
@pedjak I'll take a look.

[2020-04-28 17:42] #5098 closed

[2020-04-29 02:45] gyliu513 opened #5225 "Data lost between CR YAML and Form switch"
When I create a Kong CR from OCP UI as follows with YAML

![image](https://user-images.githubusercontent.com/4461983/80556469-390fe000-8a06-11ea-83a9-b3e53836a2e2.png)

Then I click `Edit Form` and change name to `demo`

![image](https://user-images.githubusercontent.com/4461983/80556491-504ecd80-8a06-11ea-97f0-5a0237541cd1.png)

Then click `Edit YAML` and switch back to YAML

![image](https://use

[2020-04-29 15:47] spadgett commented on #5225
/assign @TheRealJon
/kind bug

[2020-04-30 12:35] rohitkrai03 commented on #5190
@morstad Do you mean we need to show some kind of error message if we don't have the values.yaml for the editor or are you facing this issue for specific chart that shouldn't happen?

[2020-04-30 12:46] morstad commented on #5190
@rohitkrai03 The issue was the helm index was updated with invalid URL for the helm chart tgz.
 This has been fixed, but an error chart indicating tgz not found vs displaying as if could install would be preferred.

[2020-04-30 13:29] spadgett commented on #4224
#4170 has merged.

/close

[2020-04-30 13:29] #4224 closed

[2020-04-30 13:55] rohitkrai03 commented on #5190
Okay, I'll bring this up with our UX team to come up with an alert or something so that users are aware of it.

[2020-04-30 17:16] marikaj123 commented on #4444
@spadgett - This is considered severe error from our product perspective when the fix would be available?

[2020-05-01 13:50] spadgett commented on #4444
Understood.

We plan to address this in a 4.4.z release. I'd subscribe to the Bugzilla for the latest updates.

[2020-05-01 16:08] aharbis opened #5260 "How to specify array type with specDescriptors"
I'm using OCP 4.3, and trying to build out our CSV for our Operator. We have a property in our CRD that is an array of strings, which represent Kubernetes Secrets. Using the following `specDescriptors`:

[code]

the following is rendered in the form in OLM:

![image](https://user-images.githubusercontent.com/20443310/80819778-a73dd980-8ba3-11ea-9ba6-888a2cdefef6.png)

I've reviewed the [OLM Descri

[2020-05-04 13:24] khrm commented on #4468
/close
Resolved by an update to operator.

[2020-05-04 13:24] #4468 closed

[2020-05-04 14:23] jschuler commented on #4813
Hey @sundeep-anand , I like what you've done here, I took a look at react-intl and react-18next as well and they're both really good. I liked how easy it was to create namespaces/separate files that can be loaded on-demand with i18next. Also they have a cool parser that understands Typescript which makes it simple to parse openshift frontend code for usages of translations. My sample PR is here ht

[2020-05-04 20:40] spadgett commented on #5260
cc @tlwu2013 @TheRealJon

[2020-05-05 04:30] sundeep-anand commented on #4813
hi @jschuler @spadgett  - welcome!
it's great to see all investigations done. somehow I too have a feeling of moving ahead with `i18next` for the kind of `i18 infra` we may look forward. I really like your work @jschuler and shall try testing `PR` (_as we progress_) as well as contributing where-ever I can.

[2020-05-06 19:33] aharbis opened #5321 "How to hide a particular spec field from the "Edit Form" UI"
I tried to use the following:

[code]

But the spec field is still being shown in the console UI when I click `Edit Form`. Is there a way to hide the field? I do not want to just stick it in `advanced`.

[2020-05-06 19:34] aharbis commented on #5321
Looking at the [OLM Descriptor Reference](https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md) I do not see anything that looks like it would behave as "hidden"

[2020-05-07 20:16] aharbis opened #5347 "specDescriptors and console UI do not support complex structs"
We are building our operator using Go, and the Operator SDK. Using `specDescriptors` I've been unable to determine how to properly build out structure in the Console UI **Edit Form** view.

For example, I have some struct in my spec like this:

[code]

I have manually added each field in the struct to the following `fieldGroup`:

[code]

and this allows them to show up together in the creation vie

[2020-05-11 17:13] TheRealJon commented on #5260
@aharbis Could you maybe post some YAML snippets for your CRD `spec.validation.openAPIV3Schema` and/or the matching CSV `spec.customresourcedefinitions.owned`? These are the data sources that are used to generate the form. Also, maybe some example of things you tried that didn't work as expected?

[2020-05-11 19:40] spadgett commented on #5260
/assign @TheRealJon

[2020-05-11 19:50] spadgett commented on #5347
cc @tlwu2013 @TheRealJon

[2020-05-11 19:52] spadgett commented on #5321
We've recently added a hidden spec description to 4.5, see #5094

@tlwu2013 @TheRealJon

[2020-05-11 19:54] spadgett commented on #5225
@gyliu513 What OpenShift version is this? We only added syncing in 4.4 (#3894).

[2020-05-11 20:04] spadgett commented on #4173
Fixed by #3875 which allows you to query multiple resources with an optional label filter.

We don't plan to add "All" since in a typical OpenShift cluster there are something like 100 resources. Console has to make separate requests for every resource. This does not scale when watching all resources in all namespaces.

/close

[2020-05-11 20:04] #4173 closed

[2020-05-11 20:05] spadgett commented on #3959
Thanks for the update. Closing for now.

/close

[2020-05-11 20:06] #3959 closed

[2020-05-11 20:07] spadgett commented on #3717
/assign @bipuladh

[2020-05-11 20:10] spadgett commented on #1281
@christianvogt I know we've added a form for this when Importing from Git. Can you update resource limits for existing Deployment Configs?

[2020-05-11 20:12] spadgett commented on #871
Closing for now since 3.9 is no longer supported and 4.x should perform much better. Let us know if you see similar issues in a 4.x console.

/close

[2020-05-11 20:12] #871 closed

[2020-05-11 20:12] spadgett commented on #338
Closing since the pods list no longer shows labels.

/close

[2020-05-11 20:13] #338 closed

[2020-05-11 20:16] spadgett commented on #1402
@ldimaggi Are you still seeing this issue? I know there were several Bugzilla bugs in this area that have since been fixed.

Do you see the CSV using the CLI? Are there any errors if you look at the Subscription or Install Plan?

[2020-05-11 20:19] spadgett commented on #1685
We've added error boundaries around all OLM descriptors (#4160). This should prevent runtime errors for any descriptor problem, and will still show the details page and other descriptors. Let us know if you're still seeing this in 4.4.

/close

[2020-05-11 20:20] #1685 closed

[2020-05-11 20:23] christianvogt commented on #1281
@spadgett yes we have a form which can be used during import and when editing the imported application.

However this form is not available when simply editing a DC that was created through other means.

Something to consider @openshift/team-devconsole-ux

[2020-05-11 21:18] spadgett commented on #3967
We're actually removing this field from the table in #5310 because most operands don't have it. Let us know if you have concerns.

[2020-05-11 21:26] kaczyns commented on #1685
@spadgett Thanks Sam!

[2020-05-11 23:18] aharbis commented on #5260
Here's the full end-to-end example of our `ImagePullSecrets` property.

[code]

CSV:

[code]

CRD:

[code]

In the console, it's rendered as a single drop-down of type `Secret`. There is no way to specify or select more than one. I have an example screenshot in my original post.

I'm not really sure what else I could "try." There's no way to tell the console via `specDescriptor` that this is an ar

[2020-05-12 01:32] gyliu513 commented on #5225
I was using OCP 4.3. @spadgett

[2020-05-12 14:45] spadgett commented on #5225
Thanks, closing as this is addressed by #3894 in 4.4.

/close

[2020-05-12 14:47] #5225 closed

[2020-05-13 16:32] TheRealJon commented on #5260
@aharbis

If you look at the [docs](https://github.com/openshift/console/blob/release-4.3/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#array-field-group) for 4.3, under the Ceation View, there is a note that the widget doesn't support add/remove capabilities. That feature is added in 4.4, and will be further improved in 4.5. In 4.3, the arrayFieldG

[2020-05-13 18:40] aharbis commented on #5260
Thanks @TheRealJon. I was actually noticing that in 4.4 I was seeing some of our objects render with the add/remove capability, but not all. For example, the `ImagePullSecret` example above still only provides a single drop-down option, even on 4.4. However, we have a `Users` object array, and that offered the add/remove capability.

[2020-05-13 19:49] TheRealJon commented on #5260
@aharbis

So, 4.4 added the ability to add/remove items to an array field, but still only supports object type items. If adjusting your schema is an option, you can fix this issue by making each of your imagePullSecret items an object with a single string property:

[code]

My guess is that your schema property for users is something like:
[code]
In which case, it is supported because the users.it

[2020-05-13 19:58] TheRealJon commented on #5260
Note that in 4.5, array type schemas are fully supported and this will no longer be an issue. So if you don't want to change your schema, you can wait and this will just work as you are expecting in 4.5.

[2020-05-13 21:34] TheRealJon commented on #5347
@aharbis The fieldGroup descriptor is not supported in Display Views, as noted in the [fieldGroup descriptor reference](https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#15-fieldgroup). Your best bet would probably be to prefix your descriptor displayNames with 'User' so that they can be differentiated in

[2020-05-14 01:38] aharbis commented on #5347
Appreciate the response @TheRealJon.

Long term, what are the plans to support structs like this (as well as nested structs) natively without the need to "hack" the `fieldGroup` or `displayNames`?

The above `UserSpec` is an example of a custom, but flat, struct. We have plenty of other structs in our CRD that are far more complex, and include arrays of nested structs, etc. Are there plans in futu

[2020-05-14 14:04] aharbis commented on #5347
I would also add that in practice, the above example `UserSpec` is allowed in array form, so in the CR YAML you would see something like:

[code]

[2020-05-14 16:24] TheRealJon commented on #5347
@aharbis In 4.5, the creation form will have more robust support for rendering schema objects and arrays, including nested structures. This only applies to the creation view though. @tlwu2013 might have more insight on future plans for the display/modify views.

[2020-05-15 07:37] cajosc opened #5455 "Change the default access mode when creating PVCs"
When creating a PVC, the default access mode is hard-coded to _ReadWriteOnce_ [here](https://github.com/openshift/console/blob/master/frontend/public/components/storage/create-pvc.tsx#L52). We're using NFS-backed storage and would like to change the default to _ReadWriteMany_. Would it be possible to make this a configuration setting?

[2020-05-15 22:30] tlwu2013 commented on #5347
Hey @aharbis, as @TheRealJon mentioned, the creation view is our first step to have more robust support for rendering schema.

The team is actively improving both the UX/features of managing Operands in the console, and the modify/display views are definitely on our radar. Thanks for being engaged and providing feedback!

[2020-05-18 12:58] spadgett commented on #5455
That's only the default value. There should be a radio button. Are you using a storage class with`kubernetes.io/no-provisioner`?

https://github.com/openshift/console/blob/master/frontend/public/components/storage/create-pvc.tsx#L26

cc @gnehapk

[2020-05-18 19:25] cajosc commented on #5455
Yes, there is a radio button, but the default selected option is _Single User (RWO)_. I'd like to change the default selected option to _Shared Access (RWX)_ to make it easier for our users to select the correct option.

![image](https://user-images.githubusercontent.com/783983/82251583-bc5d8b00-994d-11ea-8b73-39fb51bbcbff.png)

[2020-05-18 21:29] spadgett commented on #5455
Oh, sorry I misread. You're asking for an option to change the default.

We default to RWO since it's supported by pretty much every provider. We can look at making it configurable.

cc @alimobrem

[2020-05-19 12:09] cajosc opened #5488 "Show the developer perspective by default?"
Is it possible to show the developer perspective by default, preferably with an option to show the administrator console for certain users/groups?

[2020-05-20 05:27] #3967 closed

[2020-05-21 13:50] sethpeterson opened #5519 "Edit form view by default"
Is there a setting that I can specify in my CSV to show the "Edit Form" view as the default view instead of the yaml creation view when creating an instance of a CR from my operator?

[2020-05-25 06:56] bjleiji commented on #4813
Hello @spadgett @sundeep-anand @jschuler , my colleague @xuruili and myself are interested with this project.  We are from IBM globalization team. Not sure can we join this project?  and  I have a following questions:
1. Per above discussion, in my understanding , team will use i18next framework, right?  Is any volunteer from developer team to extract the messages on UI to PII(Program Integrated I

[2020-05-27 16:54] omajid opened #5606 "Show the OpenShift version to normal users in the About page"
As someone who is just getting started with OpenShift, one of the first questions I generally want an answer to when I am looking at an OpenShift console is to find out the version.

The "About" dialog shows the Kubernetes version. I have to read through the OpenShift release notes to figure out what version of OpenShift that maps to.

Can you include the OpenShift version the about dialog as well

[2020-05-27 17:11] andybraren commented on #5606
Hi @omajid

The Details card in the top-left corner of the Cluster Overview landing page and the About dialog should both include the OpenShift version. I believe it was added to the Overview in 4.2-ish, and it may have been in the About dialog before then (not sure).

Are those the places you'd expect to see the OpenShift version?

![image](https://user-images.githubusercontent.com/9122899/830503

[2020-05-27 17:20] omajid commented on #5606
Oh, that's great to see!

I think I must be using an older version of OpenShift. I don't see the "Cluster Overview" page in my instance. The About dialog only shows the Kubernetes version (1.16.2), which makes me suspect I am running 4.3?

[2020-05-28 08:39] sanduteo95 commented on #4876
Hi @yzhao583, we believe we are still seeing this issue in a `4.4.4` OpenShift cluster. Do you know the exact date this fix will be released and what minor version it will be under?

[2020-05-28 23:02] yzhao583 commented on #4876
@sanduteo95 Sorry for the inconvenience, as what I can see the PR has already been merged. https://github.com/openshift/console/pull/5157

Unfortunately, I do not have the information about the specific version including this fix. I think it should be released very soon, as I can see it has been verified by all parties.

[2020-06-01 10:22] jmtd commented on #5606
Thanks @omajid for filing. I'm glad this is addressed in 4.4 in some respect. I'd also expect ot see it in the output of `oc version`. (Just firing up a 4.4 cluster to check the output of that)

[2020-06-01 14:58] omajid commented on #5606
I start up a local instance using Code Ready Containers.

![image](https://user-images.githubusercontent.com/174451/83421936-cf189b00-a3f6-11ea-88db-f5d1a898bcd5.png)

[code]
Is this something CRC is doing? Or something more general to OpenShift

[2020-06-01 16:04] spadgett commented on #5606
You currently need authority to see the `ClusterVersion` resource to get the OpenShift version. This is not a console limitation per se. It's true across the platform.

I agree normal users should be able to see the version.

[2020-06-01 16:10] spadgett commented on #5519
Hi, this is the default in OpenShift console now. I believe we made the switch in #4944, which will be in the 4.5 release. For earlier versions, there's unfortunately no way to change it.

cc @TheRealJon @itsptk
/close

[2020-06-01 16:10] #5519 closed

[2020-06-01 16:14] spadgett commented on #5488
It's not possible at the moment, but it's something we can consider. Note that we remember the last selected perspective, so this would only apply the very first time you loaded console.

@christianvogt @serenamarie125 @sspeiche

[2020-06-01 16:51] christianvogt commented on #5488
Automatically launching into the developer perspective something we're looking at in the 4.6 release. However this item is focused on determining if there's some heuristics we can apply to determine this per user.
I really do not know if this will be possible without some admin configuration as suggested in the original post.

[2020-06-10 08:09] skuffe opened #5709 "k8sResourcePrefix descriptor with custom resource"
Hello,

In the operator i am currently developing, i would like to have a dropdown on the creation form of one of my CR's where i can select another CR. I though the k8sResourcePrefix descriptor would do this, but it doesn't seem to work when specifying a custom resource, or perhaps i am specifying it incorrectly?

My descriptor in the CSV is defined like this

[code]

Group, version, kind of my C

[2020-06-11 03:35] redmikhail opened #5719 "Project drop-down menu for Workloads view may include projects that regular user has no access to in OCP 4.4 console"
For non cluster-admin users Administrator OCP UI Console **Project** drop-down menu on top of main pane may include projects ( projects that appear may be different , users observed “default”, “kube-system”) that user does not have access to when any of the options in Workloads section are selected. While a user does not have ability to make changes or list objects from corresponding project it ma

[2020-06-18 16:51] bfabec commented on #4876
Verified that this is fixed in 4.4.6, many thanks to you @yzhao583 !

[2020-06-18 16:51] #4876 closed

[2020-06-18 16:52] bfabec commented on #4885
Verified this is fixed in ocp 4.4.6, thanks OCP!

[2020-06-18 17:58] spadgett commented on #5719
Console remembers the last project you selected. I suspect this is where the project is coming from. If you have `default` selected, then log in as a different user, `default` will be still be selected regardless of access. We should consider making the last selected project a per-user value.

There are some other edge cases where this can happen if you favorite or pin a project that gets deleted.

[2020-06-22 16:58] spadgett commented on #5709
Hi, this has recently been fixed in #5641. The fix will be available in 4.6.

@TheRealJon fyi

[2020-06-22 16:59] #5709 closed

[2020-06-24 15:13] afreen23 commented on #2738
This chart is no longer supported. Its dropped after 4.2 release.
Hence closing this issue.

/close

[2020-06-24 15:13] #2738 closed

[2020-06-24 15:26] spadgett commented on #4720
This was added in #5641 and will be available in 4.6.

/close

[2020-06-24 15:26] #4720 closed

[2020-06-24 16:03] spadgett commented on #5606
I opened this Bugzilla against the OpenShift API server since there's currently no API the console can use:

https://bugzilla.redhat.com/show_bug.cgi?id=1850656

[2020-06-24 16:21] spadgett commented on #4821
Fixed by #5023

/close

[2020-06-24 16:21] #4821 closed

[2020-06-24 16:27] spadgett commented on #5260
This is fixed by #4944 in 4.5

/close

[2020-06-24 16:27] #5260 closed

[2020-06-30 19:28] cynthia-rempel opened #5863 "Tell the user not to use IE when the user browses using IE"
Hi,
How are you doing today?
Our organization has several users that attempt to browse to everything using IE.  Would it be possible to make it so that when the user browses to the openshift console, it tells the user IE is not supported, and to try one of the supported browsers?
It would be really helpful :)
Thanks!

[2020-07-13 02:40] rohitkrai03 commented on #5488
https://github.com/openshift/console/pull/5911 fixed this.

[2020-07-13 13:41] #5488 closed

[2020-07-16 20:56] spadgett commented on #4872
Fixed in 4.5 by #4880

[2020-07-21 01:10] Bilal-io opened #6041 "Unable to detect the builder image. - List not showing up"
Hello, I am getting an issue with the console not displaying image options:
![image](https://user-images.githubusercontent.com/4480581/88001009-a9d60e00-cac4-11ea-9f9e-dbca39663727.png)

Could be related, but not sure:
[code]

Please let me know if there is any other information or logs I need to provide.

OpenShift Version: 4.5.2

[2020-07-21 16:30] spadgett commented on #6041
cc @christianvogt

[2020-07-22 18:12] edeandrea opened #6077 "When CodeReady Workspaces is installed on the cluster - the link to load devfile should load the devfile from the appropriate branch"
Cross-posted also as https://github.com/eclipse/che/issues/17448

### Steps to reproduce
1. Log into OpenShift cluster as cluster admin
1. Deploy the Eclipse Che operator as well as a `CheCluster` instance, then wait for it to spin up
1. If logged in as administrator, on left side menu change 'adminstrator' to 'developer' to show `topology` link on left nav bar.
1. Click **+Add**
1. Click **From G

[2020-07-23 13:13] apupier opened #6084 "Upgrade Yaml Language Server to 0.9.0"
currently in 0.5.4 version. https://github.com/openshift/console/blob/77856f48439612c4b577f601a1bb0c40c65cd2bc/frontend/package.json#L156

it would be nice to upgrade it to latest version. it contains a lot of improvements and bugfixes.

[2020-07-24 07:11] apupier opened #6091 "Provide tests for Yaml editor component"
I found no test checking that the Yaml Editor is working. It would be nice to add one. it will avoid potential regression and ease upgrades.

[2020-07-24 08:16] apupier commented on #6091
found a test part of the integration-tests:
https://github.com/openshift/console/blob/e4a25f3c713ba36aa7aab14792941ba151246434/frontend/integration-tests/tests/crud.scenario.ts#L104-L119

would remain interesting to have one for the component itself

[2020-07-24 09:15] apupier opened #6093 "[Question]Why Yaml editor is registering providers to Monaco Editor although there is a Language Server a,d the monaco-languageclient?"
I noticed that several providers are registered to the Monaco Editor:

https://github.com/openshift/console/blob/e4a25f3c713ba36aa7aab14792941ba151246434/frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts#L90-L195

although the goal of using the a Language Server and a Language client is to not have to do that. The Language Server should be registered one time using the la

[2020-07-24 16:39] spadgett commented on #6093
/assign @JPinkney
who worked on this

[2020-07-24 16:43] spadgett commented on #6091
Hi @apupier. The YAML editor is used extensively throughout our integration tests. If it's not working, we'll definitely catch it.

[2020-07-24 16:46] #6091 closed

[2020-07-24 16:52] spadgett commented on #6084
Hi @apupier, we are already working on this as part of https://bugzilla.redhat.com/show_bug.cgi?id=1849101. Closing this issue to avoid tracking it twice.

cc @rebeccaalpert

[2020-07-24 16:52] #6084 closed

[2020-07-24 17:03] spadgett commented on #6077
cc @christianvogt

[2020-07-24 18:50] JPinkney commented on #6093
I technically didn't do the original/first setup with the monaco and yaml language server integration, that stuff was done here: https://github.com/gorkem/yaml-server-browser-example/blob/master/src/client.ts#L71 and then I just ported the code all over.

I don't think there's anything forbidding it off the top of my head, we were just on a tight deadline so I just ported that code, made it work,

[2020-07-26 02:07] Bilal-io commented on #6041
Moved on. Will close.

[2020-07-26 02:07] #6041 closed

[2020-07-31 11:09] Chengxuan opened #6175 "Custom Resource form view doesn't consider mutating webhook for validation."
In Kubernetes design, the mutating admission webhook is invoked before any validation:

from [here](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#what-are-admission-webhooks)

A flow chart view:
![image](https://user-images.githubusercontent.com/5425125/89029171-bd377380-d325-11ea-89eb-12745325aef3.png)

Therefore, when a user is creating a Custom Object

[2020-07-31 23:55] bfabec opened #6182 "Console UI crashes on fieldDependency with same property name"
With OCP 4.5+, the console UI crashes due to what seems to be the path property name contains the same property name of the fieldDependency. In the following example, `enabled` is in both the path `topology.appDisco.enabled` and the x-descriptor `urn:alm:descriptor:com.tectonic.ui:fieldDependency:topology.enabled:true`:

[code]

When trying to create the custom resource via the OCP UI via the Form

[2020-07-31 23:56] bfabec commented on #6182
@yzhao583 fyi

[2020-08-03 15:48] spadgett commented on #6182
/assign @TheRealJon

[2020-08-03 15:52] spadgett commented on #6175
cc @TheRealJon @tlwu2013

We might need a CSV annotation to disable validating the form against the schema.

[2020-08-04 12:42] Chengxuan commented on #6175
@spadgett With some test on the spec descriptor https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#specDescriptors-1

it's possible to tell the console to ignore the schema validation. (we overrode an enum field with text and the enum constraint went away) This issue might be invalid.

[2020-08-06 15:59] emamihe opened #6251 "Route Labels request"
Hi,
In openshift 3.x there was label option in console which seems to be removed in openshift console 4.5. This feature is really useful in terms of openshift ingress routers selection for use cases like routers sharding.
It would be awesome if you guys have integration with openshift-ingress-operator to pick up the router name in routes page that the user could easily select it and appropriate la

[2020-08-10 14:35] spadgett commented on #6251
cc @alimobrem

[2020-08-10 14:38] spadgett commented on #6175
Thanks for the feedback. Closing since this can be addressed with descriptors.

[2020-08-10 14:38] #6175 closed

[2020-08-11 09:55] emamihe opened #6291 "Bug in openshift console routes page"
Hi all,

There's a bug in Openshift console which it shows itself whenever you create a pod let's say listening on port tcp/8080 by the running application and then you expose it via clusterIP service on port tcp/80. once the service created when you go for creating route for it surprisingly the wizard page for creating route will pickup port 80 as target-port instead of the port 8080. that's why

[2020-08-15 20:28] Bilal-io opened #6333 "Logs out when an image is building"
I have been facing an issue where I get logged out during an image build.

Errors seem related to these calls, I am listing them in the order they were called:

1.
[code]
2.
[code]
And then logout gets called
[code]

Let me know if there is more info I can provide to help debug the issue.

[2020-08-17 12:32] emamihe commented on #6291
@spadgett Do you have any idea regarding this?

[2020-08-18 14:57] kanadaj opened #6357 "Metrics without Thanos"
Hi there,

Is there any hope of making the console's metrics work properly with only Prometheus (sans Thanos) on upstream Kubernetes? I'm not quite sure what kind of endpoints the console expects and whether those endpoints can be satisfied by Prometheus itself instead of Thanos.
The hard-coded namespace is only a minor issue since I can just deploy Prometheus wherever and add proxy pods if/where

[2020-08-18 21:55] #6357 closed

[2020-08-21 15:23] bfabec opened #6399 "OLM instance creation contains missing parameters within the yaml view"
In OCP 4.5.5, when creating an instance within an operator (OLM), there are two views: yaml and form.  The form view is rendering correctly, but the yaml view is missing properties that have empty default values. This is new in OCP 4.5.x, and we would still like to render properties with empty values as it allows the user to see which properties needs values. This problem/change renders the yaml e

[2020-08-24 13:34] spadgett commented on #6291
This is fixed by #6284 which was opened at around the same time as this issue. The fix was backported to 4.5.z and 4.4.z as well. Can you try the latest? If this is still an issue, please reopen. Thanks!

[2020-08-24 13:34] #6291 closed

[2020-08-24 20:39] emamihe opened #6421 "Compatibility issue with Safari in openshift-console 4.7"
Hi all,

There's an issue in openshift-console which seems that the assset files are not compatible with Safari browser. but it's fine with Google Chrome and Firefox.
This is the page it shows me when I open it in Safari:

<img width="1676" alt="image" src="https://user-images.githubusercontent.com/33328203/91094028-76f8da00-e66f-11ea-82d0-9aaf1551f855.png">

[2020-08-28 15:20] andrewballantyne commented on #6421
cc @spadgett

[2020-08-29 20:54] emamihe opened #6476 "Alerting dashboard issue in openshift console 4.7"
Hi all,

It seems there is issue in Openshift Console 4.7, when I try to open up the alerting dashboard under monitoring section it shows me 404 not found message:
![image](https://user-images.githubusercontent.com/33328203/91645939-39c18d00-ea5f-11ea-9068-a69518133c05.png)

the url goes to /api/prometheus/api/v1/rules but responded with 404
I would be grateful if you can have look into this.

Tha

[2020-08-31 16:07] spadgett commented on #6421
Thanks for the report. Fixed by #6252. See https://github.com/openshift/console/pull/6252#issuecomment-675027938. Let us know if you still see the issue.

/close

[2020-08-31 16:08] #6421 closed

[2020-08-31 16:19] spadgett commented on #6399
@TheRealJon Is this fixed by #5988? (That fix would be available in 4.5.6.)

[2020-08-31 16:20] spadgett commented on #6399
/assign @TheRealJon

[2020-08-31 16:27] spadgett commented on #6333
If console receives a 401 HTTP response, it will redirect to login. I would expect 403 forbidden if you don't have authority to get the resource. I'm a little suspicious about the 500 error as well on the `ClusterVersion` request. You should get 403 if you don't have authority.

@Bilal-io Is there any chance your session expired? Do you consistently get logged out only on this page?

[2020-08-31 16:29] spadgett commented on #6476
@dtaylor113 @kyoto We've seen this before... Do you know if we have a Bugzilla bug tracking?

[2020-08-31 17:36] dtaylor113 commented on #6476
@spadgett, possibly related:  https://bugzilla.redhat.com/show_bug.cgi?id=1866200