[2020-08-31 21:54] Bilal-io commented on #6333
@spadgett I don't believe it was because the session expired, because sometimes I am interacting with the page and it happens.
Could it be because the leader changed? Does that usually make the session expire? Because I do sometimes get warnings that the leader has changed.

I believe I get logged out at other times, but I always linked it to the fact an image is being built. I'll monitor that.

I

[2020-08-31 22:19] apupier opened #6482 "Upgrade yaml-language-server to 0.10.1"
currently in 0.9.0 https://github.com/openshift/console/blob/911783a5ab7035b8432013e27ce9fe71e7528d92/frontend/package.json#L166

The 0.10.1 version has been released https://github.com/redhat-developer/yaml-language-server/releases/tag/0.10.1

see changelog for new features https://github.com/redhat-developer/yaml-language-server/blob/0.10.1/CHANGELOG.md#0100

[2020-09-01 13:50] spadgett commented on #802
/remove-lifecycle stale

[2020-09-01 19:26] spadgett commented on #6476
/assign @kyoto
/kind bug

[2020-09-01 21:41] bfabec commented on #6399
I believe this is fixed in 4.5.6, thanks!

[2020-09-01 21:41] #6399 closed

[2020-09-01 23:03] emamihe opened #6491 "Categorizing feature request for Developer Catalog"
Hello back,

One of the features I really enjoy in Openshift is Developer Catalog which is highly customizable through "openshift" namespace and templates manifests.
But there is just one problem there regarding categorization for the items in left pane:
<img width="1654" alt="Screen Shot 2020-09-02 at 03 07 45" src="https://user-images.githubusercontent.com/33328203/91913477-f79c8380-ecca-11ea-87

[2020-09-02 09:41] kyoto commented on #6476
@dtaylor113 I don't think that issue would explain a 404 error

@emamihe Do you also get a 404 error on the Silences tab?

[2020-09-03 14:26] spadgett commented on #6491
cc @christianvogt @serenamarie125

[2020-09-03 14:46] serenamarie125 commented on #6491
We have an Epic around this very request!  https://issues.redhat.com/browse/ODC-3671

[2020-09-03 16:43] emamihe commented on #6491
Yes I know Serena jan, This is not a thing that just limited for changes in openshift-console. It definitely needs changes in Kubernetes layer probably some new CRDs, changes in controller manager and finally integration with Console. Anyway, can't wait to see it :)

[2020-09-03 16:46] emamihe commented on #6476
Yes @kyoto jan
<img width="1659" alt="image" src="https://user-images.githubusercontent.com/33328203/92143581-b7541700-ee2a-11ea-9829-9a6f4aa75b75.png">

[2020-09-04 01:00] kyoto commented on #6476
Thanks @emamihe. Actually that "Not Found" message is different from a 404 and simply means that there are no silences yet. So it looks like your connection to Alertmanager is fine, but the Prometheus `/rules` call is failing.

I wonder if it's just `/rules` or all Prometheus API calls 🤔 If you go to the "Monitoring > Dashboards" page (which uses different Prometheus API endpoints), does it load c

[2020-09-05 20:27] emamihe commented on #6476
You're welcome Kyoto jan,
Yes monitoring dashboard page is working and there's no issue there.

[2020-09-08 06:19] morstad commented on #5190
@rohitkrai03 What was result of discussion with UX team?   In this scenario the index is pointing to incorrect location for tgz - there is no helm chart at all to render thus empty screen.

[2020-09-08 06:21] rohitkrai03 commented on #5190
We have a bug to address this and UX came up with a generic alert message to show when the chart is unreachable.

[2020-09-08 06:32] morstad commented on #5190
When will this be delivered?

[2020-09-08 07:47] Jiehong commented on #1435
/remove-lifecycle stale

[2020-09-08 11:19] suomiy commented on #1477
created an appropriate BZ for this bug: https://bugzilla.redhat.com/show_bug.cgi?id=1876853

[2020-09-10 20:52] #802 closed

[2020-09-11 20:44] aharbis opened #6602 "Add ability to hide older apiVersions in a CSV to avoid extra CRD tabs in the OLM UI"
We recently added a new `apiVersion` to our operator so our `ClusterServiceVersion` provides metadata for both `v1beta1` and `v1beta2` CRDs. On OCP 4.5 this leads to some interesting (and undesireable) behavior in the Operator UI.

In our `v1beta1` API group, we have a single CRD: `DataPowerService`.
In our `v1beta2` API group, we have two CRDs: `DataPowerService` and `DataPowerMonitor`.

In the U

[2020-09-14 18:11] oiricaud opened #6619 "When comparing an object on the console and on the terminal I get different output."
If you look at the images... I have a `yaml` file and I have different outputs. The console image has a `>` instead of a `|` and creates more lines than necessary and messes up the parsing

`ocp 4.3.5`
<img width="823" alt="Screen Shot 2020-09-14 at 1 06 18 PM" src="https://user-images.githubusercontent.com/11867058/93121809-14ea2e00-f68b-11ea-9091-6ef6f37bbd9a.png">

<img width="812" alt="Screen

[2020-09-15 04:32] kevchu3 commented on #1298
/close

[2020-09-15 04:33] #1298 closed

[2020-09-16 21:29] emamihe opened #6656 "Issue in session verification in openshift-console 4.7"
Hi all,

It seems there's an issue in openshift console session verification that when I login into openshift console it shows me the message below and then it logout, this usually happens when my session expires and then I re-authenticate and login back this issue pops out.
It gets fine when I login into dashboard by removing whole path after the subdomain part
<img width="956" alt="image" src="h

[2020-09-17 13:07] spadgett commented on #2619
We've added some level of grouping in #6103 and #6178. @ctron Is this what you were thinking of?

cc @TheRealJon @tlwu2013
/remove-lifecycle stale

[2020-09-17 13:08] spadgett commented on #2620
cc @TheRealJon @tlwu2013

[2020-09-17 13:22] redallen commented on #2381
On the patternfly side we've pinned lodash to `"lodash": "^4.17.19",`. It looks like Openshift still has mixed versions of lodash and lodash-es:
![image](https://user-images.githubusercontent.com/47335686/93475973-40f1f300-f8c7-11ea-9bf4-8dfce97efcdc.png)

[2020-09-17 14:03] spadgett commented on #1298
Just a quick note that we are still tracking this as a story, and it's on our backlog to implement.

[2020-09-17 14:58] christianvogt commented on #2636
We have done some improvements to the web logs since this issue was first opened.
I just tested the tkn cli against the dev-console and both streamed the logs at the same time.

[2020-09-17 14:58] christianvogt commented on #2636
/close

[2020-09-17 14:58] #2636 closed

[2020-09-17 15:32] rohitkrai03 commented on #5190
https://github.com/openshift/console/pull/6572 Fixes the issue.

[2020-09-18 07:28] #5190 closed

[2020-09-18 19:30] spadgett commented on #5321
Closing since this should be fixed by #5094. Let us know if that doesn't address the issue.

[2020-09-21 13:54] spadgett commented on #1435
I believe this will be addressed in 4.x as part of #6194. @rebeccaalpert can you confirm?

[2020-09-21 14:09] NissesSenap opened #6695 "OLM dashboard show operator version from all channels"
## Feature Request

### Is your feature request related to a problem? Please describe.
I would like to see which versions is available on all the channels when I'm choosing to install a operator.

### Describe the solution you'd like
Ether show the different operator versions available when first clicking the operator.

![image](https://user-images.githubusercontent.com/14774899/93777151-aece4f80-

[2020-09-21 14:16] tchughesiv opened #6696 "password type not available in StatusDescriptors"
It would be nice if we could display status fields as the password type in Operator Hub.
https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#8-password

Today, this is only an option in SpecDescriptors.

[2020-09-21 14:33] rebeccaalpert commented on #1435
@spadgett - We're only using the "en" locale right now for English rather than breaking it down to US, UK, etc., but we could specify more granular "en" locale times by adding additional locales to i18next.

For English, it looks like there's:
- English - Australia | en | en-au
- English - Belize | en | en-bz
- English - Canada | en | en-ca
- English - Caribbean | en | en-cb
- English - Great Brit

[2020-09-22 20:16] spadgett commented on #4813
The localization enhancement proposal is https://github.com/openshift/enhancements/pull/466. The initial PR for localization is #6194.

[2020-09-22 20:17] spadgett commented on #4813
Closing this issue. Please follow the above PRs for updates. Thanks!

[2020-09-22 20:17] #4813 closed

[2020-09-23 13:32] spadgett commented on #1435
@rebeccaalpert We should look at supporting at least some of these locales for date and number formats.

[2020-09-23 19:24] spadgett commented on #6619
These YAML documents are equivalent. One is using folded style and the other literal style, but the content is the same. See https://stackoverflow.com/questions/3790454/how-do-i-break-a-string-over-multiple-lines

We don't have a ton of control over what scalars are used in the js-yaml library we have, and it's hard to have a simple rule for every case.

/close

[2020-09-23 19:24] #6619 closed

[2020-09-23 19:25] spadgett commented on #6656
@emamihe Is it possible you have multiple tabs open when this happened? There are some known issues around logging in with multiple tabs, which can happen after session expiration.

[2020-09-23 19:38] spadgett commented on #6695
cc @tlwu2013 @TheRealJon

[2020-09-23 19:54] #5321 closed

[2020-09-23 21:30] oiricaud commented on #6619
@spadgett Gotcha, my pipeline breaks when I use `>` as opposed to use `|`. I had a pipeline in cluster `a` and wanted to move this pipeline to cluster `b` so I copied and pasta and noticed when I use `>` my pipeline concatenates my bash scripts and breaks the pipeline, but thanks for the information.

[2020-09-24 13:38] spadgett commented on #6619
This seems odd. It shouldn't as long as you leave a blank line whenever you want a newline. Did you also use `>` in the YAML in the other cluster?

[2020-09-30 14:44] luksa opened #6797 "Console crashes when creating operand with a multi-version CRD"
We've recently introduced an additional version into our CRD and updated the CSV to use the new version. This broke the creation of the CR via the web console. The following error occurs:
[code]

I've been investigating the issue and it seems to happen with any CRD that contains more than one version. As far as I could gather from debugging the javascript code, it seems that an empty `definitions`

[2020-10-02 10:23] patpot44 opened #6813 "can't access anymore to my web console"
One week after the installation of my cluster OCP 4.5.11 with 1 bastion, 3 master nodes, and 2 worker nodes, I can't access any more to my web console (https://console-openshift-console.apps ...). I've got the message PR_END_OF_FILE_ERROR on my browser firefox (version 80.0.1).
When check the namespace openshift-console, I've got this :
[code]
As you can see, I tried to delete pod console, to recr

[2020-10-02 13:17] patpot44 commented on #6813
Other informations:
[code]
It seems that I've got auth issue, but I don't know how to correct this error. Need some help.Thanks

[2020-10-02 13:20] patpot44 commented on #6813
Other informations:
[code]
It seems that I've got auth issue, but I don't know how to correct this error. Need some help.Thanks

[2020-10-03 21:04] emamihe commented on #6656
Hi Sam,
No. it's not possible

[2020-10-05 10:12] jchraibi commented on #3782
/remove-lifecycle stale

[2020-10-05 14:49] burkhat opened #6836 "Missing User RoleBindings in the Project Access Web UI"
**Describe the bug**

https://github.com/openshift/okd/issues/346

We've one RoleBinding for a project admin which includes two users.
Via the CLI we can see the two users if you describe the rolebinding.

_"[root@amu1123 ~]# oc describe rolebinding gitops-user-binding
Name:         gitops-user-binding
Labels:       argocd.argoproj.io/instance=ns-dev-c2-0eu1-
Annotations:  Role:
  Kind:       Clus

[2020-10-06 00:13] #6696 closed

[2020-10-06 20:44] willhaines opened #6858 "Create Secret component allows saving SSH key without trailing newline"
If you create an SSH key secret by pasting the contents without an empty line at the end, then git clone will fail to authenticate.

![okd-ssh-key-bug](https://user-images.githubusercontent.com/4226764/95257708-f38be600-07e1-11eb-8b57-3c9708a63ce9.gif)

Simply adding an empty line to the secret contents fixes the problem. IMHO, this would probably be best fixed upstream in SSH, however there is pr

[2020-10-07 09:09] stlaz commented on #4620
/remove-lifecycle stale
I only noticed this issue now.

The problem is that you're already logged in to GitHub so when you attempt to login to myidp2, it reaches GitHub where you already have an active session as user1, so that is kept.

A solution would be to add a logout redirect URI to our config (needs RFE) so that console might attempt to close your GitHub session for you. In that case though

[2020-10-07 11:32] morstad commented on #4898
Function is in 4.6 - verified via nightly builds.

[2020-10-07 11:32] #4898 closed

[2020-10-07 15:19] #6858 closed

[2020-10-08 12:15] suomiy commented on #1477
fixed in https://bugzilla.redhat.com/show_bug.cgi?id=1876853

[2020-10-08 12:15] #1477 closed

[2020-10-09 13:04] kaczyns commented on #4444
It looks like this was fixed in 4.4.x, according to the bugzilla.  I think this is OK to close, does anyone else agree?

[2020-10-09 17:36] spadgett commented on #4444
This should be fixed by https://bugzilla.redhat.com/show_bug.cgi?id=1822437 in 4.4.z. If it's not, please feel free to reopen.

/remove-lifecycle stale
/close

[2020-10-09 17:36] #4444 closed

[2020-10-09 19:00] spadgett commented on #6797
This appears to be the same bug that is fixed by #6821. @TheRealJon can you confirm?

[2020-10-09 19:06] spadgett commented on #6797
I've confirmed with @TheRealJon this is indeed fixed by #6821. See also https://bugzilla.redhat.com/show_bug.cgi?id=1884613

/close

[2020-10-09 19:06] #6797 closed

[2020-10-09 19:11] spadgett commented on #6813
Hi @patpot44, can you check the status of `oc get clusteroperators`? What operators are degraded? It looks like either authentication or ingress are not healthy.

cc @stlaz

[2020-10-09 19:14] spadgett commented on #6836
cc @christianvogt @andrewballantyne since this is in the dev console UI

[2020-10-09 19:16] spadgett commented on #6602
cc @TheRealJon @tlwu2013

Do you guys know if this is possible with the internal resource annotation?

[2020-10-09 20:19] andrewballantyne commented on #6836
Thanks for tagging us @spadgett. @burkhat we have logged an issue on our backlog and will try to get to it asap, apologizes for the inconvenience.

https://issues.redhat.com/browse/ODC-4989

[2020-10-12 14:45] TheRealJon commented on #6602
Normally, yes we could hide a provided API and the corresponding instance list tab using the `'operators.operatorframework.io/internal-objects'` annotation. But, this would be an interesting case because that annotation only accepts a CRD name. So, if we add the DataPowerService to it, I believe all of the provided API cards and instance tabs would be hidden, not just a specific API version. We wo

[2020-10-12 14:48] spadgett commented on #6602
We should probably only show one API version for each kind/group. We can use the utility added in #5355 to find the preferred version.

[2020-10-13 15:39] spadgett commented on #4813
The initial PR #6194 that adds the i18next framework and some localizations has merged. We have follow on PRs for localizing different sections of the UI.

[2020-10-13 22:30] beaumorley commented on #1281
@serenamarie125 wondering if this is something we want to keep open. Example of forms that existing in 3.x that are no longer available. Which is what we hear from customers.

[2020-10-14 01:30] #2015 closed

[2020-10-14 13:05] TheRealJon commented on #6602
This is now being tracked in bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1888036
Closing.

[2020-10-14 13:05] #6602 closed

[2020-10-15 13:49] abkieling commented on #5347
I miss more documentation about specDescriptors in the Openshift docs. Are there any plans to improve that?

[2020-10-15 19:07] WillNilges opened #6947 "Reduce number of clicks in developer/admin dropdown"
Right now, I have to open the developer/admin dropdown and then click the mode in order to change. I think it'd make more sense if you could toggle the modes with a slider or something, since there's only two of them.

![image](https://user-images.githubusercontent.com/42927786/96174968-27f55580-0ef8-11eb-9aed-b014d41bd81c.png)

[2020-10-16 08:26] linqingping opened #6950 "Support multiple YAML documents in a single file when importing YAML"
An error occurred
Error parsing YAML: YAMLException: expected a single document in the stream, but found more

[2020-10-19 16:19] spadgett commented on #6947
cc @serenamarie125 @alimobrem @christianvogt @beanh66

[2020-10-19 16:20] spadgett commented on #6950
We currently don't support multiple YAML documents in a single file when importing YAML. We're tracking this as a feature. You'll need to create each resource separately or use the CLI for now.

cc @alimobrem

[2020-10-21 12:07] beanh66 commented on #6947
Thanks, that's an interesting point @WillNilges! I cannot recall if that was considered when the perspectives were originally designed but I know @serenamarie125 and @beaumorley were looking into this switcher from a discoverability perspective so maybe they can weigh in on future plans. Adding @mceledonia here as well since he may have worked on some of the earlier visuals!

[2020-10-22 16:35] cmoulliard opened #6982 "UI Screen of the Origin console is empty with the web browser"
### Issue

UI Screen of the Origin console is empty with the web browser
I can curl the console and I got this response
[code]

The browser console reports the following errors
[code]

Log of pod reports
[code]
But I can call from my machine the address
[code]

### Information

Yaml resources deployed on a kubernetes cluster 1.19
[code]

[2020-10-23 04:41] cmoulliard commented on #6982
I was able to fix the issue after adding the following rbac and deployment change.

**IMPORTANT**: That should be great to document it like also how to install the kubernetes resources to be used to deploy the okd console

[code]
and of course, we must specify to the deployment, the sa to be used
[code]

[2020-10-23 15:50] spadgett commented on #5606
/remove-lifecycle stale

[2020-10-27 01:18] #622 closed

[2020-10-27 02:03] #6482 closed

[2020-10-27 15:45] spadgett commented on #6982
Hi, @cmoulliard. It sounds like you've got it working, which is good.

I'm not sure we want to document this approach. This seems only workable in toy environments since user auth is disabled. Also it's not a great idea to make the console service account system admin or disable TLS verification. If running in cluster, you don't want to use off-cluster mode (which is for development).

The support

[2020-10-27 15:45] #6982 closed

[2020-10-28 01:22] #712 closed

[2020-10-28 15:03] LeslieKuo opened #7018 "ocp4.5.1 UI: Fail to render storageclass select dropdown after install ocs-operator"
## Issue Summary
The storageclass select dropdown didn't render successfully when create openshift container storage cluster on ocp4.5.1
Storageclass can be seen with cli. But cannot be seen in the openshift console under ocs operator
![image](https://user-images.githubusercontent.com/18239311/97331185-0c089100-18b4-11eb-8578-a45f47dfd323.png)

![image](https://user-images.githubusercontent.com/18

[2020-10-31 01:42] edeandrea commented on #6077
Ping so the issue doesn't go stale

[2020-11-02 14:51] spadgett commented on #6182
/remove-lifecycle stale

[2020-11-02 15:11] sxd opened #7072 "specDescriptors and console UI doesn't support object array"
When having this definition on a CRD

[code]
With the object defined like this:

[code]

The console UI can't render the object as it should, or at least, I wasn't able to render this with any of the types I've tried.

Help needed here to understand if this it's a bug or just me that doesn't understand how to render this object

[2020-11-04 19:49] #845 closed

[2020-11-04 19:49] #874 closed

[2020-11-04 19:49] #978 closed

[2020-11-04 20:44] spadgett commented on #7018
/kind bug
/assign @cloudbehl

[2020-11-04 20:45] spadgett commented on #7072
/assign @TheRealJon

[2020-11-04 21:33] TheRealJon commented on #7072
@sxd We don't currently support  objects with arbitrary properties in our form generator or details pages. @tlwu2013 Is this a feature that we have in the pipeline anywhere? If not, is it something to consider?

[2020-11-05 03:35] sxd commented on #7072
It will be great to know if this will be supported since it's a good feature for the interface since it will solve issues with other types too in the future

[2020-11-05 16:29] cwilkers opened #7119 "Typo in error message of kubevirt plugin"
s/adminstartor/administrator/

Edit: Change code reference to master branch
https://github.com/openshift/console/blob/master/frontend/packages/kubevirt-plugin/src/strings/vm/messages.ts#L7

[2020-11-05 18:49] spadgett commented on #7119
/kind bug
/assign @cwilkers

[2020-11-06 10:40] #7119 closed

[2020-11-07 22:36] erikerlandson commented on #4619
/close

[2020-11-07 22:36] #4619 closed

[2020-11-09 08:12] #1572 closed

[2020-11-09 14:07] #1268 closed

[2020-11-09 18:34] rottencandy commented on #6077
Fixed in #6764

[2020-11-10 02:08] #1258 closed

[2020-11-11 02:12] #1681 closed

[2020-11-12 02:15] #1874 closed

[2020-11-12 20:17] #623 closed

[2020-11-13 02:18] #1269 closed

[2020-11-13 08:35] christophd opened #7202 "Consider adding Jobs to topology view"
AFAIK topology view displays Deployments and DeploymentConfigs but Job items are not handled. What is the rationale behind this?

I'd find it useful to also see the Job state and its details as part of the topology view. Also grouping and connecting with other items on the topology view would be very useful as Jobs may be a significant part of a deployment.

[2020-11-13 17:48] mbukatov opened #7211 "Remove remaining occurences of "multi cloud gateway" string"
Based on https://github.com/openshift/console/pull/7138 I see that Console should not use "multi cloud gateway" string, but when I try to grep for it, I see few occurences:

[code]

Checked on 43e041787

[2020-11-15 07:23] ckvtvm-arch commented on #1387
I have same issue in 4.6 - cant find the operators in operatorhub

se "crc [command] --help" for more information about a command.
  %       kubectl get opsrc upstream-community-operators -o=custom-columns=NAME:.metadata.name,PACKAGES:.status.packages -n marketplace
NAME                           PACKAGES
upstream-community-operators   <none>
       oc get opsrc upstream-community-operators -o=cus

[2020-11-18 04:30] dpkshetty opened #7247 "Ctrl-W closes browser running the console/terminal window"
When I am in the terminal (of a Pod) ... on a bash shell, Ctrl-W ideally should delete a word (backwords) but it closes the browser window. It would be good to fix Ctrl-W binding such that it is consumed by the terminal window and not by the browser!

[2020-11-18 20:41] #2381 closed

[2020-11-18 20:41] #2620 closed

[2020-11-21 14:54] #3362 closed

[2020-11-23 02:58] #1986 closed

[2020-11-28 15:21] #4247 closed

[2020-11-30 16:37] wtrocki opened #7363 "Local development issue"
Hi

I'm looking to build my customized OpenShift UI extension and work against my openshift dedicated cluster. When running I'm getting errors

2020/11/30 16:34:47 Failed to dial backend: 'websocket: bad handshake' Status: '403 Forbidden' URL: 'https://devshift.org:6443/api/v1/namespaces/console-user-settings/configmaps?watch=true&fieldSelector=metadata.name%3Duser-settings-kubeadmin'

"system:ser

[2020-11-30 16:42] wtrocki commented on #7363
I'm using kubeadmin login token to get access

[2020-11-30 16:43] wtrocki commented on #7363
Ignore. Problem solved.

[2020-11-30 16:43] #7363 closed

[2020-11-30 18:21] #6333 closed

[2020-12-01 09:32] #4691 closed

[2020-12-01 16:40] sandrobonazzola opened #7380 "KubeVirt Web UI shows old Fedora / CentOS releases"
OKD 4.6 is running on Fedora CoreOS 33 but KubeVirt Web UI is showing only fedora 29 - 31. All of them will be on end of life soon now that 33 is out. CentOS 6 is also past end of life.
Please refresh the list of operating systems in VM creation wizard.

[2020-12-01 23:33] wberr opened #7385 "Use Dpulls to manage dependent PRs"
Hey there :wave:,

I'm walid, the creator of [dpulls](https://www.dpulls.com/), a Github app that helps you manage you dependent PRs.

I noticed that this PR https://github.com/openshift/console/pull/7339 has a dependency on it https://github.com/openshift/console/pull/7291. After some research, I've also noticed that several other PRs depend on other ones and I thought maybe you'd be interested t

[2020-12-06 15:53] #4816 closed

[2020-12-06 15:53] #4970 closed

[2020-12-06 15:53] #4618 closed

[2020-12-06 15:53] #4820 closed

[2020-12-06 21:54] #2825 closed

[2020-12-07 02:33] kyoto commented on #6476
Intermittent failures when accessing the `/rules` API were identified. See issue https://bugzilla.redhat.com/show_bug.cgi?id=1897252.

[2020-12-07 17:38] spadgett commented on #4618
Note that this was recently added to OpenShift console through the web terminal operator: https://www.openshift.com/blog/a-deeper-look-at-the-web-terminal-operator-1

/remove-lifecycle rotten

[2020-12-07 17:42] spadgett commented on #7380
/cc @jelkosz

[2020-12-07 18:00] spadgett commented on #7247
It looks like a similar request was closed in xterm.js, which is the terminal we use: https://github.com/xtermjs/xterm.js/issues/2812

We can evaluate if this is possible to do.

[2020-12-07 18:01] spadgett commented on #7211
/assign @bipuladh

[2020-12-07 18:01] spadgett commented on #7202
I believe this is now been added. @christianvogt, can you confirm?

[2020-12-07 18:03] erikerlandson commented on #4618
@spadgett thanks - I have seen that operator in the catalog but didn't realize it addresses this use case

[2020-12-07 18:04] christianvogt commented on #7202
Cron Jobs and jobs were added to the topology view.

/close

[2020-12-07 18:04] #7202 closed

[2020-12-07 18:09] christophd commented on #7202
Thanks so much!

[2020-12-07 21:25] spadgett commented on #6950
This feature is being tracked by JIRA https://issues.redhat.com/browse/CONSOLE-1338. Closing the issue to avoid duplication.

/close

[2020-12-07 21:25] #6950 closed

[2020-12-07 21:26] spadgett commented on #5171
/remove-lifecycle rotten

[2020-12-07 21:27] spadgett commented on #5171
Implemented in 4.7 by #7196. See also https://github.com/openshift/enhancements/pull/508

/close

[2020-12-07 21:27] #5171 closed

[2020-12-07 21:29] spadgett commented on #6491
/remove-lifecycle stale

[2020-12-07 21:30] spadgett commented on #6491
We've added custom categories in #7196. These are configured through the console operator config.

/close

[2020-12-07 21:31] #6491 closed

[2020-12-07 21:34] spadgett commented on #2619
This is available in 4.6.

/close

[2020-12-07 21:34] #2619 closed

[2020-12-07 21:58] #4405 closed

[2020-12-07 23:05] th365thli commented on #5709
@spadgett

Is there any new documentation for this?

I'm looking here: https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md

But that link still only describes how to use k8sresourceprefix with default kubernetes resources.

I've been trying to get it work with my project but am unable to reference my other

[2020-12-07 23:10] th365thli commented on #5709
- description: The IMS SSID
       displayName: IMS SSID
       path: opr_ims
       x-descriptors:
       - urn:alm:descriptor:ims.ibm.com:v1alpha1:TMDB

This is what I'm trying.

[2020-12-08 13:59] spadgett commented on #5709
Hi, @th365thli. Can you try `urn:alm:descriptor:io.kubernetes:ims.ibm.com:v1alpha1:TMDB`?

cc @tlwu2013

[2020-12-08 16:48] christianvogt commented on #6077
/close

[2020-12-08 16:49] #6077 closed

[2020-12-08 16:49] christianvogt commented on #5863
@spadgett does console have / need a ticket tracking this?

[2020-12-08 17:14] spadgett commented on #5863
/remove-lifecycle rotten

[2020-12-08 17:18] spadgett commented on #5863
Hi, @cynthia-rempel. Sorry for the delay triaging this. I've migrated it to a Bugzilla bug. It's tracked here: https://bugzilla.redhat.com/show_bug.cgi?id=1905627. Please subscribe to the bug for updates. Thanks!

/close

[2020-12-08 17:19] #5863 closed

[2020-12-09 11:01] bipuladh commented on #7211
@mbukatov The instances you are quoting are not valid. As two of those are from tests and the infoPage is not used anymore since Noobaa Operator is now an Internal Object. Instances which are visible to the user have been updated as part of https://github.com/openshift/console/pull/7138.

[2020-12-09 15:15] #7211 closed

[2020-12-09 15:54] jchraibi opened #7490 "The (pod) filters should be in a fixed pane to remain visible with long lists"
I believe the filter section of the console should be in a fixed pane same as the project drop-down, because it disappears when you scroll down in a long list of pods for example.
![image](https://user-images.githubusercontent.com/19349382/101653031-36b34100-3a3f-11eb-8c0c-a5e825e9a3f5.png)

[2020-12-10 10:06] #1402 closed

[2020-12-10 10:06] #3717 closed

[2020-12-11 09:04] jchraibi opened #7521 "Displaying Build duration in the UI"
It would be great to display build durations in the UI (as it was the case in OpenShift 3)
![image](https://user-images.githubusercontent.com/19349382/101883952-44c8a500-3b98-11eb-8ccd-941989b2be2a.png)

[2020-12-11 12:12] apupier opened #7526 "Remaining "minus" icon to remove item from navigation after clicking cancel"
this is a minor UI glitch. When clicking on the - icon to remove an item from navigation, the - icon remains active until a click occurs somewhere else although this - icon should appear only on hover.

![minusIconOpenShiftConsole](https://user-images.githubusercontent.com/1105127/101902186-88300d00-3bb2-11eb-8d13-afc49288fd6a.gif)

[2020-12-11 22:13] #5455 closed

[2020-12-13 04:16] #1281 closed

[2020-12-14 16:24] #5347 closed

[2020-12-15 04:24] #4311 closed

[2020-12-17 14:32] delamart opened #7592 "[FEATURE REQUEST] Navigation by label"
Currently I can navigate between different resource types and the views are always filtered by the same project via the top drop-down.
It would be very helpful if I could keep an active label filter between views.
For example to view only resources for a given helm app for example between DEV/TEST/PROD namespaces.

[2020-12-21 05:00] #5719 closed

[2020-12-22 17:01] rebeccaalpert commented on #1435
We've added English (UK) timestamps as of 4.7, but have not addressed other English timestamp formats yet.

[2020-12-23 06:30] NissesSenap commented on #6695
/lifecycle frozen

[2020-12-23 16:21] jwendell opened #7647 "Wrong error message: "Fix the above errors:""
The list of errors are displayed below, not above.

[2020-12-23 16:22] jwendell commented on #7647
![error-above](https://user-images.githubusercontent.com/125759/103017094-1be9cd80-4511-11eb-8960-294d8ca06bf8.png)

[2020-12-30 05:18] #6093 closed

[2021-01-05 08:56] gouyang opened #7703 "Strace of protractor reporting wrong line number"
I'm struggling with this for quite a long time,  there is a similiar issue https://github.com/angular/protractor/issues/5252, but it does not help because we already have `skipSourceMapSupport: true` in protractor config.

[code]
I'm running tests on Fedora 33, the test is failed at L45[1], but L45 is `import { VMBuilder } from './models/vmBuilder';`

[1] https://github.com/openshift/console/blob/

[2021-01-06 05:58] kyoto commented on #6476
Issue https://bugzilla.redhat.com/show_bug.cgi?id=1897252 was fixed and I have not been able to recreate this problem, so I think this is now resolved.

/close

[2021-01-06 05:58] #6476 closed

[2021-01-06 14:52] #7647 closed

[2021-01-06 16:51] spadgett commented on #6476
/remove-lifecycle rotten

[2021-01-07 18:09] spadgett commented on #7592
Hi, @delamart. What verison are you running?

This should be possible on the Home -> Search page. You can add a label selector and pick what resources you want to view. When you switch projects with the project selector, the label filter should be preserved. I believe this has been the behavior since 4.4.

https://www.openshift.com/blog/openshift-4.4-blog-search-page-changes

[2021-01-07 18:09] spadgett commented on #7526
cc @jeff-phillips-18 @christianvogt
/kind bug

[2021-01-07 21:40] TheRealJon commented on #6182
Moved to bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1913969

[2021-01-07 21:40] #6182 closed

[2021-01-07 22:27] christianvogt commented on #7526
This is actually by design because one can navigate to the remove button by keyboard by tabbing.
In general the last item you interact with gets focus. When the modal is closed, we return focus back to the previously focused element which is the remove button.

/close

[2021-01-07 23:52] #6251 closed

[2021-01-11 21:53] andrewballantyne commented on #6836
/remove-lifecycle stale

PR is up :) almost merged!

[2021-01-12 06:19] shdn-ibm opened #7800 "[ocs plugin] capacity breakdown by pod should be grouped when multiple pvc attached in one pod"
Component: ceph-storage-plugin

Description:
When multiple pvcs are attached in one pod, the capacity breakdown will show the same pod several times in console.

Root cause:
After checking the code, the query item [StorageDashboardQuery.PODS_BY_USED] should add sum() by (pod) in src/constant/queries.ts

[2021-01-12 16:47] #6836 closed

[2021-01-12 16:48] spadgett commented on #7800
cc @bipuladh @cloudbehl

[2021-01-17 00:45] kanadaj opened #7853 "OIDC authentication loop"
When installed with the authentication mode set to OIDC via the env variable BRIDGE_USER_AUTH=oidc, the console seems to be looping after authentication to login -> oidc -> callback -> / -> logout.

The console has no errors whatsoever so I assume this might be an issue with how the oidc sessions are stored.

[2021-01-17 15:12] kanadaj commented on #7853
Okay, it seems this only happens if `BRIDGE_K8S_AUTH` is set to something other than `oidc` - I'm guessing `BRIDGE_K8S_AUTH` shares state with `BRIDGE_USER_AUTH`. Some documentation on this would be welcome!

On that note, it would be great to have some docs w/r to making as much of Bridge work on upstream k8s as possible, like monitoring and maybe even the dashboard (whatever parts are applicable

[2021-01-18 16:51] christiemolloy opened #7861 "Update readme for running openshift with no authentication"
Hi there :) was running into some problems getting the console up and running today but spoke to @andrewballantyne and he helped me out. The process looked a little different to what is on the Readme under the section: "Openshift (no authentication)"

Just thought I'd leave the steps here and if you wanted to update the Readme slightly that might be helpful to others.

1. Find an available cluster

[2021-01-18 17:47] andrewballantyne commented on #7861
@spadgett Our current instructions are a bit bizarre imo.

[Our README](https://github.com/openshift/console/blob/master/README.md#openshift-no-authentication) specifies oddly to use the kubeadmin-password file from a cluster install?

I think we can improve this to specify step 3, 4, 5, and 6 explicitly. 1 & 2 were part of our debugging and _probably_ can be omitted I think from the official READ

[2021-01-18 19:26] spadgett commented on #7861
I probably wouldn't recommend the steps above as written. It will change the kubeconfig file to be logged in as the `kubeadmin` user instead of using certificate auth for `system:admin`. I typically stash the kubeconfig file somewhere and don't touch it in case I ever need cluster admin on a cluster that has kubeadmin disabled, or need to debug a problem where the authentication operator is failin

[2021-01-18 23:57] robherley opened #7862 "proxy: incorrect usage of write mutex for websockets"
In the following lines for the proxy:

https://github.com/openshift/console/blob/bd1811e3883d163a55bfd232f93f7a28cdfd3643/pkg/proxy/proxy.go#L254-L255

The params for copyMsg are `copyMsg(mutex, dest, src)`, since the write mutex is used to protect the frontend ws, shouldn't  line 254 have the mutex, not 255?

https://github.com/openshift/console/blob/bd1811e3883d163a55bfd232f93f7a28cdfd3643/pkg/p

[2021-01-19 10:26] prafull01 opened #7868 "console is not showing the field if the same name field is found in multiple CRDs of the operator."
I have an operator which have multiple CRDs and some of the CRDs have the field with same name.
For example: I have a Target CRD in `spec` of it, I have `type` field.
Same way, I have an Backup CRD in `spec` of it, I have `type` field.

Now In the CSV, I provide the specDescriptor of target type and backup type but it is showing only for the target type.

[code]
Now according to above descriptor I

[2021-01-19 22:25] spadgett commented on #6656
This could be related to one of the following Bugzilla bugs:

https://bugzilla.redhat.com/show_bug.cgi?id=1765259
https://bugzilla.redhat.com/show_bug.cgi?id=1859746

[2021-01-21 13:48] spadgett commented on #7868
Have you confirmed that it's definitely because there are two fields with the same name and not another problem? You could check by removing the first description from the CSV YAML for instance.

We probably will need the complete CSV and CRD YAML to debug.

/assign @TheRealJon

[2021-01-21 13:49] spadgett commented on #7862
/assign @jhadvig

@jhadvig Can you take a look?

[2021-01-21 15:00] TheRealJon commented on #7868
@prafull01 I looked into this and the cause of this issue is the `allOf` property defined on the `type` field in the backups.triliovault.trilio.io CRD. Schema's with allOf, anyOf, or oneOf properties are not supported by our form generator yet. At first glance it seems like the `allOf` property on that field is unnecessary though. Since this is a string field, an enum property defining all the val

[2021-01-22 06:11] prafull01 commented on #7868
@TheRealJon I have verified that after removing `allOf` field from the CRDs, the `type` field is showing perfectly.

Thank you so much for all your help :+1:

Closing this as resolved.

[2021-01-22 06:11] #7868 closed

[2021-01-24 20:58] spadgett commented on #5606
/lifecycle frozen

[2021-01-29 15:04] EnriqueL8 opened #7982 "Error displaying two version of CRDs in CSVs"
I have deployed a bundle with 2 different version of the same CRD (v1alpha1 and v1beta1) and get the following:

**Type Error**: t is undefined

**Component Trace**:

[code]

**Stack Trace**:
[code]

[2021-02-01 03:11] wzhanw opened #7991 "add a copy button in the API token page"
This should be a usability enhancement, not a feature bug.
On the API token copy page, every time I need to select all the text, right-click and copy, I think we'd better add a copy button on the page. The text will be automatically added to the clickboard after the user clicked the button.
![image](https://user-images.githubusercontent.com/53284088/106410544-0788e100-647e-11eb-92c6-0c2db03c625d.p

[2021-02-01 08:29] wondersong opened #7994 ""Form View" UI in OLM supports multiple Tab"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Example: "I have an issue when (...)"
[code]
**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.
[code]

Thank you

[2021-02-01 19:28] TheRealJon commented on #6695
Closing. This feature is being tracked in [Jira](https://issues.redhat.com/browse/CONSOLE-2492)

[2021-02-01 19:28] #6695 closed

[2021-02-03 10:45] cloudbehl commented on #7800
@anmolsachan can you look fix the query.

[2021-02-03 11:15] cloudbehl commented on #7800
@shdn-ibm can you send a patch for this and @anmolsachan can review it.

[2021-02-04 01:12] gouyang opened #8044 "source ./contrib/oc-environment.sh can be failed in CI because of `openshift-pipelines-app-delivery` not exist"
I try to execute below commands in CI and it failed because `openshift-pipelines-app-delivery` not exist in my cluster environment, propose adding `ignore-not-found` to `oc -n openshift-pipelines-app-delivery get route cluster -o 'jsonpath={.spec.host}'`.
[code]

[code]

[2021-02-04 18:35] spadgett commented on #8044
Hi, @gouyang. I don't see an error sourcing the script... Looking at the script, I'm not sure why it would fail. I'd expect `GITOPS_HOSTNAME` to simple be empty?

cc @chetan-rns

[2021-02-04 18:36] spadgett commented on #7994
/kind feature
cc @tlwu2013 @TheRealJon

[2021-02-04 18:36] spadgett commented on #7994
/label component/olm

[2021-02-04 18:40] spadgett commented on #7991
Thanks, I agree this would be better. That page is actually part of the OAuth server, not console itself, so it's maintained by a different team. Having said that, we are looking at moving this logic into console itself to avoid so many clicks to get the token.

/kind feature

[2021-02-04 18:40] spadgett commented on #7982
/kind bug
/assign @TheRealJon

[2021-02-05 00:32] gouyang commented on #8044
@spadgett There isn't error showing because it redirect stderr to /dev/null. However, it clearly shows it doesn't continue and exits.
The error happens because `openshift-pipelines-app-delivery` is not existing in our cluster.

`oc -n openshift-gitops get route cluster -o jsonpath='{.spec.host}' 2> /dev/null`

[2021-02-05 13:52] keithchong opened #8067 "GitOps611 - Text overflows Card boundary; Add Commit msg to details"
See details in PR:

https://github.com/openshift/console/pull/8064

[2021-02-05 13:56] keithchong opened #8068 "GitOps544 - Add new ArgoCD link from GitOps application environments page"
See details in PR:

https://github.com/openshift/console/pull/7798

[2021-02-05 14:18] spadgett commented on #8044
Right, that's what's supposed to happen.

But it doesn't? It prints "Using *api-server-url*" at the end, so it can't be exiting.

[2021-02-07 02:20] gouyang commented on #8044
I didn't see it print  "Using _api-server-url_", where do you see it?

By default, Jenkins exit with failure if any of the commands in the script failed, it's clear that `oc -n openshift-gitops get route cluster -o jsonpath='{.spec.host}' 2> /dev/null` will fail on a cluster which does not have namespace `openshift-gitops` exists.

[2021-02-08 13:51] spadgett commented on #8044
Oh, you're running this in Jenkins? What is the Jenkins job for? We should be testing the in-cluster console in any CI, not running a local console.

[2021-02-08 14:35] keithchong commented on #8068
Fix has been merged.

[2021-02-08 14:35] #8068 closed

[2021-02-08 14:35] keithchong commented on #8067
Fix has been merged

[2021-02-08 14:35] #8067 closed

[2021-02-09 01:12] gouyang commented on #8044
The Jenkins job is to verify test patches. eg: https://github.com/openshift/console/pull/8065

[2021-02-09 13:41] spadgett commented on #8044
Why not test the in-cluster console?

[2021-02-09 13:49] gouyang commented on #8044
I also have tests for in-cluster console, it is because the cluster console is always over weeks behind the latest, so test with local console is quite necessary.

[2021-02-10 04:44] lpchitta opened #8120 "OLM Form View "fieldDependency" only allows with sibling fields"
During our first OLM Form View implementation ,we came across the requirement of using `fieldDependency` where this only works with sibling field . This created number of issues where we need to change existing custom resource parameters .

We would like to report this for a improvement where `fieldDependency` should work for between any custom resource parameter.

[2021-02-10 04:50] lpchitta opened #8121 "OLM Form View fieldDependency supports only for single parameter."
Currently fieldDependency only works for single parameter which means if we want to display certain configuration only when certain parameter is selected which only works for single parameter but if it allow us to specify multiple parameters then we can control number configurations in UI.

[2021-02-10 05:04] lpchitta opened #8123 "Form View does not validate all required fields."
We have a CRD parameter called `license` which is required in CRD but when we did not select this parameter technically it should prevent from applying CR. But currently the same does not work for license parameter but the same works for other parameter

[2021-02-15 22:09] spadgett commented on #8121
cc @TheRealJon @tlwu2013

[2021-02-15 22:11] spadgett commented on #8123
cc @TheRealJon @tlwu2013

[2021-02-15 22:12] spadgett commented on #8120
cc @TheRealJon @tlwu2013

[2021-02-18 15:25] beaumorley commented on #6947
We have addressed discoverability of the perspective switcher for devs through a guided tour that starts on first time use. We do not have a plan to change the dropdown control at this time. However, one thing that is coming down the pipe is a third perspective for ACM. We are exploring options of using RBAC for perspectives and/or a no perspective UI. I suggest we close this issue based on this d

[2021-02-18 16:31] christianvogt commented on #6947
/close
based on suggestion from UX lead

[2021-02-18 16:31] #6947 closed

[2021-02-22 14:44] thomasmckay opened #8211 "Viewing "All Instances" of operator throws js error"
https://issues.redhat.com/browse/PROJQUAY-1636

OCP 4.6.16
Red Hat Quay operator

[code]

[2021-02-23 08:05] mandibuswell opened #8220 "Why is there no OpenShift version on the Help > About page on the Web Console"
Steps to Reproduce:
In 4.x, from the OpenShift Web Console, select the ? dropdown from the top right.
Select ABOUT to display the About popup window.

The text here shows only the Kubernetes Version, and API Server URL for this cluster.

Issue:
In 3.x under about it was possible to see the OpenShift version as it was listed specifically.
There is no easy way without reviewing documentation, to fin

[2021-02-25 20:11] TheRealJon commented on #8120
@lpchitta This is fixed in 4.7

[2021-02-25 20:12] #8120 closed

[2021-02-25 20:14] TheRealJon commented on #8123
We don't do any form validation on the front end after v4.4, so it seems likely this is either a schema issue or an OLM issue.

[2021-02-25 20:40] TheRealJon commented on #8121
@lpchitta I'm not sure which way to interpret this. Are you asking for support for one control field to many dependent fields? Or one dependent field controlled by many control fields?

**One control field controlling many dependent fields (currently supported):**
Dependency is defined on the **dependent field**, so you can easily create multiple dependencies with the same control field. You would

[2021-02-25 21:19] lpchitta commented on #8121
@TheRealJon Yes . We would want the latter one.
[code]

[2021-02-25 21:24] lpchitta commented on #8123
@TheRealJon Hmm... Is there any way we can open an issue with front end ?

[2021-03-01 17:22] spadgett commented on #8120
@TheRealJon Looks like our reference doc needs to be updated:

https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#20-fielddependency

[2021-03-02 16:40] TheRealJon commented on #8120
Updated in #8278

[2021-03-03 05:58] mandibuswell opened #8282 "Developers should be able to see Operators but not install"
Currently if you are a developer, you can only see Installed Operators available for you to use.
I suggest that it would be a better user experience fi the developers could search the catalog and see available operators. They cannot install, but perhaps they can make a 'request for install'  or at least they can email the system administrator offline and request and operator.

At a very minimum a

[2021-03-03 14:59] TheRealJon commented on #8123
@lpchitta This issue is already against the front end. If it's not too much trouble, could you provide a snippet of yaml that reproduces the issue you're having? I can help troubleshoot to see if this is an issue we need to raise with the OLM team.

[2021-03-03 20:40] dmvolod opened #8296 "k8sResourcePrefix descriptor with CRD not displays if owner and reference are in the same Group"
We have a situation when one CRD structure links to another CRD structure and both have the same Group name.
For example, we have following `ClusterServiceVersion` fragment with k8sResourcePrefix `x-descriptors`
[code]
But there is not LOV for Infinispan and Backup CR's in the OLM form, i.e.
![image](https://user-images.githubusercontent.com/24249373/109869158-93f31300-7c79-11eb-8ce6-0b280cafee83.

[2021-03-04 03:27] lpchitta commented on #8123
@TheRealJon I believe we found the issue on our side. Thank you.

[2021-03-04 03:27] #8123 closed

[2021-03-04 06:32] wuchaof opened #8298 "Port field disappeared from form view when we add validation rule as ` x-kubernetes-int-or-string: true`"
I want to add validation rule for port field in CRD, then we can set the port as a number or a string, but after I adding the validation rule, the port field disappeared from form ui.
crd setting:
[code]

[2021-03-04 06:34] wuchaof commented on #8298
cc @lpchitta

[2021-03-04 06:46] wuchaof opened #8299 "Fields dependency not work for those fileds under an array object"
I want to set fielddependency for fields under an array object, but it doesn't work. Like below crd, I want to show oracle_url only when `db_type: oracle`. I set dependency on `oracle_url` but doesn't work. dependency only works when `os_datasource` is an object.
[code]

[2021-03-04 06:50] wuchaof commented on #8299
cc @lpchitta

[2021-03-04 07:00] wuchaof opened #8300 "cascading dependencies doesn't work"
OCP 4.6
I have a crd section like below, and I set `ssl_enabled` displayed when `deploy_service` as true, and `ssl_secret_name` displayed when `ssl_enabled` as true.
In Form view, I set  `deploy_service: true` then set `ssl_enabled: true`, at last I see `ssl_secret_name` field
I want to set `deploy_service: **false**`, and expect both  `ssl_enabled` and `ssl_secret_name` disappeared  from UI. But

[2021-03-04 07:01] wuchaof commented on #8300
cc @lpchitta

[2021-03-04 07:20] wuchaof opened #8301 "Fields display order in form view not the same as CRD"
We defined our fields in crd according to our published cr templated. Customer already familiar with the fields order. So we expect form view also display fields as the same order with we defined in CRD.
But actually form view will display the fields which been depended by other fields in the end of sibling fields.
like in crd we have
[code]
in form view, it will show as
[code]

[2021-03-04 07:20] wuchaof commented on #8301
cc @lpchitta

[2021-03-04 08:27] dmvolod commented on #8296
Closing, fixed myself. `org.infinispan` should be used.

[2021-03-04 08:27] #8296 closed

[2021-03-04 13:45] #3782 closed

[2021-03-05 09:29] mohitkuhikar opened #8310 "How to Hack DINO Game?"
Codes:-

Runner.instance_.gameOver = () => {}

[2021-03-06 13:52] #4620 closed

[2021-03-08 14:29] nschambu opened #8323 "Checkbox showing up as slider"
**Problem description**

When I attempt to use the `urn:alm:descriptor:com.tectonic.ui:checkbox` x-descriptor in my Operator's CSV, it shows up in the UI as a slider. For example, I have these properties in my CSV:

[code]

This displays as the following:

![Screen Shot 2021-03-05 at 1 57 16 PM](https://user-images.githubusercontent.com/45972912/110334143-0c463500-7fe8-11eb-972f-042186f0605f.png)

[2021-03-08 18:46] TheRealJon commented on #7072
Tracking in https://issues.redhat.com/browse/RFE-1689

[2021-03-08 18:46] #7072 closed

[2021-03-08 19:30] TheRealJon commented on #8121
Tracking in https://issues.redhat.com/browse/RFE-1690

[2021-03-08 19:30] #8121 closed

[2021-03-08 19:58] TheRealJon commented on #7982
Hi @EnriqueL8, sorry I'm just getting to this, it somehow slipped through the cracks. Could you let me know what version of OpenShift you are/were running when you saw this?

[2021-03-08 20:20] TheRealJon commented on #8323
Reproduced and opened a bug: https://bugzilla.redhat.com/show_bug.cgi?id=1936620

[2021-03-08 20:20] #8323 closed

[2021-03-08 20:24] #8310 closed

[2021-03-08 21:52] TheRealJon commented on #8300
Duplicates https://github.com/openshift/console/issues/8121 tracked by https://issues.redhat.com/browse/RFE-1690

[2021-03-08 21:52] #8300 closed

[2021-03-08 21:56] TheRealJon commented on #8301
@wuchaof In what version are you seeing this issue? Are you using spec descriptors in your CSV as well? Is your CRD accessible somewhere that I can take a look so I can try to reproduce?

[2021-03-08 21:56] TheRealJon commented on #8301
cc @tlwu2013

[2021-03-08 22:02] TheRealJon commented on #8298
@wuchaof We don't currently support anyOf keywords in form generation. We are tracking this in an RFE: https://issues.redhat.com/browse/RFE-1689

[2021-03-08 22:03] #8298 closed

[2021-03-08 22:05] TheRealJon commented on #8282
cc @tlwu2013

[2021-03-08 22:07] TheRealJon commented on #8220
Unable to reproduce this on latest. Is there a specific version or versions you are seeing this in?

[2021-03-08 22:08] TheRealJon commented on #8220
Ping @mandibuswell, forgot to mention you in that last comment.

[2021-03-09 02:05] #6813 closed

[2021-03-09 17:02] TheRealJon commented on #8211
Reproduced and opened a bug: https://bugzilla.redhat.com/show_bug.cgi?id=1937018

[2021-03-09 17:02] #8211 closed

[2021-03-09 18:00] TheRealJon commented on #7994
Tracking in https://issues.redhat.com/browse/RFE-1696

[2021-03-09 18:00] #7994 closed

[2021-03-10 03:13] wuchaof commented on #8300
@TheRealJon I think this one is not the same issue with #8121,
8121 is required UI to support this descriptors.
[code]
this issue not descriptors related. Like with below CSV. Current descriptors could show foo, foo2 as expected. But when I set `showStuff` as false, I expect `foo2` been hidden together with `foo`, current UI only hide `foo`, `foo2` still show there.
[code]

[2021-03-10 03:16] wuchaof commented on #8301
@TheRealJon  I am using 4.6 OCP. We have spec descriptors in CSV like below.

[code]

[2021-03-15 10:27] mic4ael opened #8377 "Upgrade of a `Helm` Chart with dependencies results in an error"
OKD cluster version: `4.6.0-0.okd-2021-02-14-205305`

I am using [Sentry Helm Chart](https://github.com/sentry-kubernetes/charts) to deploy Sentry on my OKD4 cluster. I have added a `HelmChartRepository` and I am able to install `Helm Chart` without any issues. The following error

occurs when I am trying to upgrade the release to the same version but with different values.yaml. I am not sure but

[2021-03-15 13:50] TheRealJon commented on #8300
@wuchaof If we supported many-to-one dependencies, you could implement a "cascading" dependency like this:
[code]

[2021-03-15 14:34] TheRealJon commented on #8301
@wuchaof We made some updates to the way fields are ordered in 4.6. See [this documentation](https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/README.md#ordering-of-form-fields) about how fields are ordered.

TLDR:
Fields are sorted with the following priorities:
1. "required" fields with specDescriptors other than advanced
2.

[2021-03-21 05:13] #6656 closed

[2021-03-21 06:57] patlachance opened #8425 "Support multiple links in consolenotification"
We would like to display multiple links in a single consolenotification.
We can provide a PR is one can explain how we should start.
Thanks for good work!

[2021-03-22 12:11] alfonsoalongi opened #8436 "Edit BuildConfig, DeploymentConfig and Route resources through the Web Console UI without manually modifying the corresponding yaml files"
In OpenShift 3 it is possible to modify BuildConfig, DeploymentConfig and Route resources through the Web Console UI without manually modifying the corresponding yaml files. In OpenShift 4 it is possible to perform only a subset of these operations, such as setting environment variables for DC. Thanks to these features, in OpenShift 3 many operations can also be performed by unqualified people avo

[2021-03-22 18:54] spadgett commented on #1435
/remove-lifecycle stale

[2021-03-23 18:58] spadgett commented on #622
This is tracked by story https://issues.redhat.com/browse/CONSOLE-2235.

[2021-03-24 12:31] devzeronull opened #8452 "[OKD4.7] Web-UI broken on "Create PersistentVolumeClaim""
Hi,

we experienced an error on the Web-UI in 4.7.0-0.okd-2021-03-21-094146 Release (bare-metal UPI).
When we click in Administrator View on "PersistentVolumeClaims" -> "Create PersistentVolumeClaim" (URL: https://console-openshift-console.apps.clustername.basedomain/k8s/ns/default/persistentvolumeclaims/~new/form")
![grafik](https://user-images.githubusercontent.com/77630137/112304265-93a8cf00-8c

[2021-03-26 10:21] dmvolod opened #8477 "Implement externalLink option for the org.w3 alm x-descriptor"
It would be prefer to open link configured with following OLM descriptor in new window/tab as users always lives Console application in case of click on the provide link
However, changing default behavior for the standard configuration, i.e. `x-descriptors:urn:alm:descriptor:org.w3:link` could have an impact on other applications and configurations
As discussed in #8349 it would be nice to impleme

[2021-03-29 10:09] klzsysy opened #8499 "Topology page loads white screen in webConsole"
## Describe the bug
In webConsole view of the developers ，topology page load white screen，all the namespace is the same problem，but Other page is normal

![image](https://user-images.githubusercontent.com/3226923/112821532-64d59300-90b9-11eb-975d-8e1bc505631c.png)

![image](https://user-images.githubusercontent.com/3226923/112821577-728b1880-90b9-11eb-81c9-820615bdfd7c.png)

Version

4.7.0-0.okd-2

[2021-03-29 10:09] klzsysy commented on #8452
me too

[2021-04-02 06:44] shdn-ibm opened #8545 "<dynamic-plugin-sdk> webpack version confliction of console-shared modules"
Hi,
I am using dynamic-plugin-sdk to develop plugin for console. When I import console-shared modules in my plugin, there will be many building errors, as below. I noticed that it may be a webpack version issue, as the `shared` module known as `@console/shared` is built with webpack-4.44, while dynamic plugin is built with webpack-5.0.

[code]

[2021-04-02 21:55] pumano opened #8547 "[Feature Request] Add "all" resources search by default for search tab"
**Description**
Currently we need manually add which resource we want to find and then search by label (see screenshot)
but it's counterproductive

<img width="600" src="https://user-images.githubusercontent.com/17675259/113456648-777ffd00-9416-11eb-940d-cab9e7ff909e.png">

**Expected result**
Looks like events tab do it perfectly by selecting "all" by default:

<img width="600" src="https://user-

[2021-04-03 20:44] jwalcorn opened #8548 "Need multi-line editor widget in operator creation form UI"
Not sure if this is the right place/forum for such a feature request, but I've created an operator (https://github.com/IBMStockTrader/stocktrader-operator) with a fairly complex form UI, and I have a field where the user can specify an SSL certificate (with the -----BEGIN CERTIFICATE-----, etc.), but it all appears on one line when I use the `urn:alm:descriptor:com.tectonic.ui:text` x-descriptor i

[2021-04-03 20:44] jwalcorn commented on #8548
Example CR yaml showing the `global.certs` field:
<img width="490" alt="image" src="https://user-images.githubusercontent.com/28963246/113491050-835dd480-9493-11eb-95e0-06104f18e793.png">

[2021-04-03 20:46] jwalcorn commented on #8548
How it renders:
<img width="577" alt="image" src="https://user-images.githubusercontent.com/28963246/113491087-b3a57300-9493-11eb-9dfb-0c5d5f8391fc.png">

[2021-04-03 20:54] jwalcorn commented on #8548
Relevant snippet of my CSV: https://github.com/IBMStockTrader/stocktrader-operator/blob/master/config/manifests/bases/stocktrader-operator.clusterserviceversion.yaml#L323-L328

[2021-04-04 06:07] #7018 closed

[2021-04-07 06:40] sandrobonazzola commented on #7380
/remove-lifecycle rotten

[2021-04-07 17:07] josephca opened #8584 "cypress devfile add flow tests shouldn't use private devfile repository"
'create-from-devfile.feature' is currently referring to the private devfile repository which needs to be replaced with 'https://github.com/redhat-developer/devfile-sample'

[2021-04-08 16:32] spadgett commented on #7380
@jelkosz Do you know if this is still a problem?

[2021-04-10 11:51] stempher commented on #7853
You have added the oidc parameters to the api server?

[2021-04-10 13:55] #7853 closed

[2021-04-10 13:56] kanadaj commented on #7853
@stempher I've since then figured this out (it's been 3 months...) but there is a severe lack of documentation around the whole oidc setup so it took some experimentation.

[2021-04-11 09:41] #8584 closed

[2021-04-13 18:46] leonicode opened #8642 "unable to install OKD console on ubunto 20.04 lte"
Hi to all,
I'm trying to install for the first time the okd's console on my ubuntu 20.04 lte.
After a few minutes I ran ./build.sh, I see the following error message:

![okdInstallErr](https://user-images.githubusercontent.com/32000097/114604586-58e0f800-9c99-11eb-838d-7dc3afb837a7.png)

Node version is 14.16.1 and yarn version is 1.22.5.
Someone know what did I wrong ?
Thanks in advance
Leonard

[2021-04-13 19:03] jessedye commented on #8499
Also seeing this bug in 4.7 as well.

[2021-04-14 07:40] evertmulder commented on #8499
Just upgraded to 4.7.0-0.okd-2021-04-11-124433. The issue still exists.

[2021-04-16 18:13] spadgett commented on #8548
/kind feature
/cc @TheRealJon @tlwu2013

[2021-04-16 18:17] spadgett commented on #8547
Hi, unfortunately there's no API in Kubernetes to watch multiple resource kinds. We'd need to open a separate WebSocket for each resource kind, which is dozens or even hundreds depending on the number of CRDs in the cluster. This won't scale well, particularly when "All projects" is selected. Due to this limitation, we've decided that it's not feasible to let users watch all resource kinds on the

[2021-04-16 18:17] #8547 closed

[2021-04-16 18:18] spadgett commented on #8545
/assign @vojtechszocs

[2021-04-16 18:18] spadgett commented on #8499
@christianvogt @andrewballantyne

[2021-04-16 18:19] spadgett commented on #8499
/kind bug

[2021-04-16 18:20] spadgett commented on #8477
cc @TheRealJon @tlwu2013

[2021-04-16 18:31] spadgett commented on #8452
Hi, I'm not able to reproduce. It's likely something in the data on your particular cluster, most likely something about one of the StorageClass resources that console doesn't like. Are you able to share the output of `oc get storageclasses -o yaml`?

/kind bug

cc @zherman0 @cloudbehl

[2021-04-16 18:35] spadgett commented on #8436
Hi, thank you for the issue. We're aware of these gaps and are looking at bringing back some of this functionality.

cc @alimobrem @serenamarie125
/kind feature

[2021-04-16 18:36] spadgett commented on #8377
cc @pedjak  @sbose78

/kind bug

[2021-04-16 18:40] spadgett commented on #8425
Hi, thanks for the issue. This one is a little more involved than a PR to the console repo since it would require an API change, probably deprecating the existing `link` property in favor of a `links` array. This would require API review and a few PRs to different repos to make the updates.

https://github.com/openshift/api/blob/a99ffa1cac6709edf8f502b16890b16f9a557e00/console/v1/types_console_not

[2021-04-19 06:51] invincibleJai commented on #8499
we did try to verify this on `4.7.0-0.okd-2021-03-28-152009` and we couldn't reproduce it, PFA gif.

![Apr-19-topology](https://user-images.githubusercontent.com/5129024/115193165-6c60e880-a109-11eb-8d9e-be08c101288a.gif)

Looks like we need, some more information to reproduce it. cc @karthikjeeyar

[2021-04-19 09:31] gouyang opened #8693 "Not able to run test under protractor"
[code]

[2021-04-19 09:34] leonicode commented on #8642
Hi to all,
I resolved ... it was a memory problem: I increased my VM memory from 4GB to 8GB and all has nicely worked
Leonard

[2021-04-19 13:38] #8693 closed

[2021-04-20 08:03] evertmulder commented on #8499
@invincibleJai Hi I uploaded a screen recording showing the disappearing screen: https://youtu.be/4iqTSQbT2wQ
I am using 4.7.0-0.okd-2021-04-11-124433, IPI install on VMWare. I have this issue on all 4.7 releases.
Please let me know if I can provide more info.

[2021-04-20 09:47] apupier opened #8716 "Leverage Custom Resource Definition Structural Schemas in Yaml editor"
Similarly to the feature provided by [VS Code Kubernetes](https://code.visualstudio.com/docs/azure/kubernetes), it would be nice to leverage Custom Resource Definition Structural Schemas in Yaml editor so that completion, validation and hover benefits from it.

There is already the Yaml language Server used. A custom schema provider will need to be provided.

some references:
- [initial feature de

[2021-04-20 16:12] invincibleJai commented on #8499
Thanks @evertmulder, for providing us with details. Based on the above comments, is it happening on all namespaces?
Looks like we need, some more information to reproduce it

- What was the user role?
- Was there any Operator installed on the cluster?

[2021-04-20 20:10] evertmulder commented on #8499
This is happening in all namespaces (with pods)
My role is cluster admin, also happens as kube-admin user.
I do not have additional cluster operators installed.
I am using OVNKubernetes and configured to use a proxy in the openshift-installer.

[code]

[2021-04-20 21:54] christianvogt commented on #8499
@evertmulder could you tell us how many Templates you have in the `openshift` namespace
`oc get templates -n openshift --output json | jq '.items' | jq length`

Could you go to the dev catalog and see if you encounter the same issue.

@invincibleJai i suspect the issue is this line here:
https://github.com/openshift/console/blob/39b08772b0fcce105c81319b796d897e358ece95/frontend/packages/dev-consol

[2021-04-21 01:01] klzsysy commented on #8499
[code]

[2021-04-21 06:43] evertmulder commented on #8499
@christianvogt @invincibleJai  I think you guy are absolutely right.

[code]

I also created a template in the `openshift` namespace and things are working again without a problem!

[2021-04-21 13:47] christianvogt commented on #8499
OpenShift Samples Operator:

So disabling the samples operator caused the issue.

We will definitely look at fixing this issue.

[2021-04-21 16:46] maysunfaisal opened #8729 "Console Devfile Import Dev Preview broken"
When I use the sample repository from the Devfile Import Form, the pod never comes up:
[code]

When I describe the pod, there are two containers, one of them being invalid:
[code]

The `buildguidanceimage-placeholder` container isn't to be be created, its only a placeholder in the devfile.yaml sample https://github.com/redhat-developer/devfile-sample/blob/master/devfile.yaml#L13 for the dev previe

[2021-04-21 18:55] christianvogt commented on #8729
created a bugzilla to track: https://bugzilla.redhat.com/show_bug.cgi?id=1952214

[2021-04-22 17:50] spadgett commented on #8642
Hi, thank you for reporting back. I had not seen this error, and it's good to know it's related to memory. We're working on splitting the console up so that it uses dynamic plugins for different components, which would lower the memory requirements and speed up builds for the core console. I'm going to close the issue since you have resolved it.

/close

[2021-04-22 17:50] #8642 closed

[2021-04-22 17:51] spadgett commented on #8729
Closing this issue since it is now tracked in Bugzilla. Please follow the Bugzilla bug for updates. Thanks!

[2021-04-22 17:51] #8729 closed

[2021-04-22 17:52] spadgett commented on #8716
Hi, @apupier. This should already be working for CRDs with a structural schema. Is there a reason where it wasn't working for you?

cc @JPinkney

[2021-04-23 13:57] spadgett commented on #8545
@shdn-ibm Just a warning that dynamic plugins are under heavy development and are not yet ready to be used.

[2021-04-23 18:57] christianaranda opened #8762 "can't open terminal for pods that have more than one container running"
Hello,

We are running Openshift console on native kubernetes.  When we try to open a terminal to a pod that has more than one container, we can get to a terminal for the default container but when we switch containers we receive the following error:

The details box has the following stack trace:

[code]

Can anyone suggest a solution?  I'm surprised no one has reported this yet, so it makes me w

[2021-04-26 11:50] larueli commented on #8452
We experience the same issue with `4.7.0-0.okd-2021-04-24-103438`.

We have two storage classes :

<details>
<summary>`oc get storageclasses -o yaml`</summary>

[code]

</details>

We experience this issue only on the ceph storage class. When I go on the page to create the pvc, it works, but when I select ceph, it renders a blank page.

Here is the error shown in the console output, hope it help ?

[2021-04-26 13:46] sbose78 commented on #8377
Ack @spadgett

[2021-04-26 14:47] agquick commented on #8762
Hi, I'm actually having this same issue in my cluster. Is there any configuration change we can make to fix this. I'm currently unable to access terminals for any containers in the multi-container pods?

[2021-04-26 15:02] dperaza4dustbit commented on #8377
I can recreate this issue CRC Openshift Version 4.7.5

Just upgrading to do a password rotation:

![image](https://user-images.githubusercontent.com/10506309/116104855-cb30df80-a67e-11eb-9e45-d36b15bf5787.png)

[2021-04-26 15:04] dperaza4dustbit commented on #8377
from helm cli rotation goes through fine:

dperaza@dperaza-mac charts % helm upgrade davp-postgresql bitnami/postgresql --set "postgresqlPassword=quebola2"
Release "davp-postgresql" has been upgraded. Happy Helming!
NAME: davp-postgresql
LAST DEPLOYED: Mon Apr 26 10:42:41 2021
NAMESPACE: default
STATUS: deployed
REVISION: 3
TEST SUITE: None
NOTES:
** Please be patient while the chart is being depl

[2021-04-26 15:30] apupier commented on #8716
It was for this kind of resource:

[code]

I would expect an "integration" completion based on https://github.com/apache/camel-k/blob/9e384110be106b4970af2e967e28e0877fa78359/config/crd/bases/camel.apache.org_kameletbindings.yaml#L66

Personally, it was long ago that i tried but noticed a demo where it wasn't working recently (can be not correct/recent enough CRDs/dev console installed?)
Today, I

[2021-04-26 16:00] pedjak commented on #8377
the issue is already reported here: https://bugzilla.redhat.com/show_bug.cgi?id=1933101

[2021-04-26 16:19] apupier commented on #8716
I just tried right now and I do not have the support for Kamelet Binding, see the error:

![Screenshot from 2021-04-26 18-18-57](https://user-images.githubusercontent.com/1105127/116116891-f38aff00-a6bb-11eb-9f47-4052b103f7e8.png)

or is ti available only in some yaml editors?

[2021-04-26 17:07] spadgett commented on #8716
Can you check the conditions on the CRD to verify there isn't a problem with the structured schema? Otherwise we might need @JPinkney's help.

[2021-04-26 17:37] JPinkney commented on #8716
I tried it on Friday but forgot to report back. It seems like _some_ values are added to the schema when an operator is installed and the yaml language server picks them up but for some reason not everything from the crd is available. My guess is that whatever is adding parts of the crd to the open-api schema isn't adding everything. I'd have to go and manually grab the schema though to test out t

[2021-04-26 17:55] spadgett commented on #8762
Hi, @christianaranda what Kubernetes version are you using?

@agquick Is your cluster an OpenShift cluster? What version?

[2021-04-26 17:56] spadgett commented on #8762
I'm not able to reproduce on OpenShift 4.8.0-0.nightly-2021-04-25-231500. This might be specific to a particular k8s version or native k8s vs OpenShift.

[2021-04-26 18:03] christianaranda commented on #8762
Thanks for the quick response.  This is Kubernetes version v1.19.6-eks-49a6c0.

In looking at the Chrome developer console, there are a fair amount of 404 errors for various resources, for example:

Let me know if you'd like any additional info.  I don't know that those 404's are abnormal or not.  I just followed the steps in the Native Kubernetes section of the docs.

Thanks again!

[2021-04-26 18:26] agquick commented on #8762
I’m also on native K8s v1.19 hosted by AWS EKS. What’s strange is the terminal loads fine for a pod with a single container. It seems like it’s just not passing the right params to the terminal widget for that specific container.

I do believe that the kubectl exec command requires the “-c” to specify container for pods with multiple containers, maybe that’s the issue?

[2021-04-26 18:32] spadgett commented on #8452
It looks like this was introduced in 4.7.z by #8234

/assign @GowthamShanmugam
cc @bipuladh

[2021-04-26 18:40] GowthamShanmugam commented on #8452
Fixing this issue

[2021-04-26 18:45] spadgett commented on #8762
We do set the container in the query parameters:

https://github.com/spadgett/console/blob/02d9dcdc3c8de5d6d4749c9c07f0ddfa87e17aa7/frontend/public/components/pod-exec.jsx#L70

The runtime error appears to be in our error handling when the terminal connection fails. It looks related to https://github.com/xtermjs/xterm.js/issues/3118. If we're able to fix that, the "On no!" error would go away, but

[2021-04-26 19:30] agquick commented on #8762
Yes, I can confirm that I can view the terminal for a single container within a pod via kubectl, it's what I'm doing right now until this is resolved.

[2021-04-27 09:47] GowthamShanmugam commented on #8452
Fix PR: https://github.com/openshift/console/pull/8784, removed wrong commit(accidentally modified few files in rebase, reverted back those changes)

![pvc_page_blank](https://user-images.githubusercontent.com/15073590/116221943-b9793600-a76b-11eb-95b5-53bb0340ede1.png)

[2021-04-27 12:38] dbazhal opened #8796 "Not cluster-admin users can't see 'TaskRuns' page"
Hi.
We are using okd 4.7, and we give our users permissions to admin only their own namespaces.
We make some clusterroles like
[code]
and we add it to default edit/admin roles with
```rbac.authorization.k8s.io/aggregate-to-admin: "true"```

So our user opens a page like
```https://{cluster_url}/k8s/ns/{ns}/tekton.dev~v1beta1~PipelineRun/xx-bhtur/task-runs```
in developer view, and console makes re

[2021-04-27 13:13] spadgett commented on #8796
/assign @andrewballantyne
/kind bug

[2021-04-27 16:13] andrewballantyne commented on #8796
I was able to reproduce the issue and I wrote steps for the scenario in a Bugzilla. It appears not tied to access driven change you made (fwiw). Please feel free to follow the Bugzilla for status updates: https://bugzilla.redhat.com/show_bug.cgi?id=1954105

Apologizes for the inconvenience of this bug. We'll fix this as soon as possible and backport it to a 4.7.z-stream release.

In the meantime,

[2021-04-27 17:33] spadgett commented on #8796
Closing this issue as we have https://bugzilla.redhat.com/show_bug.cgi?id=1954105 tracking the problem. Please follow Bugzilla for updates. Thanks!

[2021-04-27 17:33] #8796 closed

[2021-04-28 10:03] dvdslr commented on #8436
Hello, thank you, this is really an issue, hoping the gap will be soon sorted out!

[2021-04-28 13:26] christianaranda commented on #8762
Thanks again @spadgett for looking into this.  I'm moving from OpenShift to Kubernetes but really like OC and want to keep using it.  I think this bug is going to keep me from using OC in production, unfortunately (unless it's a quick fix).

Please let me know if I can help or provide additional information.

[2021-05-02 04:53] shdn-ibm commented on #8545
Thanks for the update. Will keep monitoring the progress.

[2021-05-04 11:54] andyfeller opened #8850 "OpenShift 4.7.0 web console 404s static resources due to en-US language"
Since we upgraded to OpenShift 4.7.0, I've noticed a large number of 404s in browser console that seems to be due to the language setting of `en-US` when the assets are housed under `en` _(see attached screenshot below)_.  I'm not sure if this is a configuration issue or one where the language is being taken from the underlying system, so would appreciate some direction as I don't believe we've cu

[2021-05-04 15:22] christianaranda commented on #8762
Hello @spadgett.  My team and I were able to track down and fix the issue.  I submitted a pull request.

https://github.com/openshift/console/pull/8853

[2021-05-05 12:38] Born2Bake commented on #7853
Hi, could you please share what ENV vars did you use to configure console with OIDC? I found this but it's not working https://gist.githubusercontent.com/kvaps/f070eff1081bdbc4ee29de4d5555da3d/raw/7f07a39eb7571cd5587ccb9f265533107d65dd8a/openshift-console.yaml

[2021-05-06 12:50] kanadaj commented on #7853
@Born2Bake

BRIDGE_K8S_AUTH: oidc
BRIDGE_USER_AUTH: oidc
BRIDGE_USER_AUTH_OIDC_ISSUER_URL: your-issuer-url
BRIDGE_USER_AUTH_OIDC_CLIENT_ID: your-client-id
BRIDGE_USER_AUTH_OIDC_CLIENT_SECRET: your-client-secret

These are all needed, along with setting up the Kubernetes API to use OIDC as per https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens.

Then you n

[2021-05-06 13:43] spadgett commented on #8850
Hi, thank you for the report. This has been fixed by #8100 and backported to 4.7.5. See https://bugzilla.redhat.com/show_bug.cgi?id=1927311.

/kind bug
/kind i18n
/close

[2021-05-06 13:43] #8850 closed

[2021-05-06 13:48] spadgett commented on #8499
Fixed by #8732

[2021-05-06 13:48] #8499 closed

[2021-05-07 01:00] #7247 closed

[2021-05-07 02:05] #8762 closed

[2021-05-07 02:41] andyfeller commented on #8850
Thanks for the confirmation and apologies for not realizing this sooner!

On Thu, May 6, 2021 at 9:44 AM OpenShift CI Robot ***@***.***>
wrote:

[2021-05-07 17:30] spadgett commented on #8452
Fixed by #8452.

/close

[2021-05-07 17:31] #8452 closed

[2021-05-09 01:02] #7490 closed

[2021-05-14 18:36] tetchel commented on #8545
+1 would like to see the SDK migrated from the beta to a stable 5.x version (looks like 5.37.0 is latest)

[2021-05-18 08:26] anmolsachan commented on #7800
This issue will be fixed as part of https://github.com/openshift/console/issues/7800.

[2021-05-18 18:39] spadgett commented on #7800
/remove-lifecycle stale

[2021-05-18 18:40] #7800 closed

[2021-05-21 10:57] jchraibi opened #8999 "Source secret not used by pipeline (tekton) when creating a pipeline from the developer console "deploy from git" form"
When creating an app from the console and selecting to create a (tekton) pipeline, using the a private git repo as a source, and declaring a "source secret" to use, the secret isn't picked up by the serviceaccount and the "fetch source" is unable to access the private repo. Manually linking the source secret to the "pipeline" serviceaccount seems to solve that for further runs.

[2021-05-21 15:26] serenamarie125 commented on #8999
@jchraibi this has previously been reported here: https://issues.redhat.com/browse/ODC-4927

[2021-05-25 22:16] beloyar777 commented on #8220
@TheRealJon I can reproduce it in OpenShift 4.6.20

[2021-05-25 22:42] beloyar777 commented on #8220
@TheRealJon As said here https://github.com/openshift/console/issues/5606#issuecomment-636946993
"You currently need authority to see the ClusterVersion resource to get the OpenShift version."

[2021-05-25 23:23] beloyar777 opened #9047 "Annotation app.openshift.io/vcs-ref is not working for BitBucket repositories"
Can be repoduced in console of OpenShift 4.6.20.

Having the following annotations:
[code]
Topology view shows/generates the following link:
`https://company.com/projects/XYZ/repos/foo-project/browse/tree/feature/x-111`

But the expected/correct BitBucket link is:
`https://company.com/projects/XYZ/repos/foo-project/browse?at=refs%2Fheads%2Ffeature%2Fx-111`

I have tried the following annotations:

[2021-05-26 00:29] mandibuswell commented on #8220
@TheRealJon  yes it is the same issue as seen in https://github.com/openshift/console/issues/5606

[2021-05-27 19:53] spadgett commented on #8999
Closing as this is tracked in JIRA. Please follow the JIRA bug for updates.

[2021-05-27 19:53] #8999 closed

[2021-05-27 19:54] spadgett commented on #9047
cc @christianvogt @andrewballantyne

[2021-06-01 17:21] christianvogt commented on #9047
Note there is a long outstanding issue with bitbucket URLs with branch names containing forward slash: https://jira.atlassian.com/browse/BCLOUD-9969

[2021-06-02 00:40] #7703 closed

[2021-06-02 00:40] #8044 closed

[2021-06-02 14:05] christianvogt commented on #9047
@beloyar777 please have a look at this PR https://github.com/openshift/console/pull/9111

It seems that in order to create a valid branch link in your case, we need the commit sha as well. This is because the branch name contains a `/`. Using the base url along with the branch is not sufficient to create a valid branch repo url.

[2021-06-03 09:02] klzsysy opened #9126 "Log terminal needs to support color output character"
If contained in the application log output color, is unable to display characters

![image](https://user-images.githubusercontent.com/3226923/120617914-22e81500-c48d-11eb-84ad-f4c380b56812.png)

[code]

In the old oc3 is normal， But the oc4 does not work

[2021-06-03 20:11] tlwu2013 commented on #8477
I like the approach that "keeps the existing behavior as-is yet provides another option for folks to opt-in".
UX-wise that sounds good to me!

@TheRealJon could you help weigh in from the implementation perspective? Thanks!

[2021-06-03 20:24] spadgett commented on #9126
cc @alimobrem

[2021-06-04 10:01] alfonsoalongi commented on #8436
Hello,
thank you for reply. I hope you plan to restore these features as soon as possible. I also opened a case on Red Hat Customer Support with number 02957041.
There are many impacts on the speed of execution of creation and resource management operations in a project. Here are some examples. I have also added details regarding the business impact and usability, which I also report here.
In Open

[2021-06-04 14:55] kim-tsao opened #9148 "Error running ./examples/run-bridge.sh"
I was trying to set up a local console and followed the instructions in the README.  I ran  `./examples/run-bridge.sh ` and got the following error: `index.html not found in configured public-dir path: open frontend/public/dist/index.html`.  I noticed there is no `dist` folder under `public` but there is an `index.html` under `public`, so I modified the script and was able to get past the error.

[2021-06-05 05:15] dgolovin opened #9149 "Build fails with `ENAMETOOLONG: name too long, open` error"
When I am running build on Ubuntu 21.04 from master branch and getting the error below. I am following Quickstart readme section https://github.com/openshift/console#quickstart.
[code]
Is there any way around this?
Thanks!

[2021-06-07 01:25] #7592 closed

[2021-06-07 21:52] kbelow commented on #4628
/reopen
/remove-lifecycle rotten

[2021-06-07 21:54] Jamstah commented on #4628
/reopen
/remove-lifecycle rotten

[2021-06-07 22:29] kbelow commented on #4628
I am able to utilize the web console after selecting log out
environment: ibmcloud, openshift 4.7.12 cluster, openshift 4.6.28 cluster

[2021-06-09 14:53] tetchel opened #9198 "[dynamic-plugin-sdk] Plugin fails to load if "eval-source-map" webpack devtool is used"
My plugin stopped working when I changed my webpack dev tool to `eval-source-map` (among a bunch of other things, so it was a lot of effort to debug :smile: )

It is because if you use the `eval-source-map` devtool (probably others too, this is just the one I happened to be using), webpack inserts a warning comment at the top of the file:

![source-map-bug](https://user-images.githubusercontent.co

[2021-06-09 14:55] tetchel commented on #9148
I encountered this error if I had not yet run `./build.sh` or `yarn dev` so the frontend hadn't been built yet (hence, no `dist/`).

[2021-06-09 16:39] kim-tsao commented on #9148
ok, so it's a generated folder.  There must've been a problem when I ran `./build.sh` because that folder was not created.  If I have time, I'll try to set this up again and verify.  Thanks.

[2021-06-09 16:39] #9148 closed

[2021-06-10 03:20] beloyar777 commented on #9047
@christianvogt as far as I can see there is one more issue to handle:
how do you know, that you have to deal with BitBucket URI if
`app.openshift.io/vcs-uri: https://company.com/projects/XYZ/repos/foo-project/browse`
doesn't contain any occurance of `bitbucket`?

Just parsing `app.openshift.io/vcs-uri` value for `bitbucket` is not sufficient in my case:
[code]

Currently the topology view appends

[2021-06-10 05:35] rottencandy commented on #9047
Hi @beloyar777,
#9111 is one half of the fix, please also see https://github.com/openshift/console/pull/9088/files#diff-cce7ec36a6079ecd87e2fc89043657f9b9538b26df0f717ae48557bff91a39d7

We currently default to not using `vcs-ref` in the URL if the domain does not have github/bitbucket/gitlab.

The URL is formatted to bitbucket's documentation: https://support.atlassian.com/bitbucket-cloud/docs/hyp

[2021-06-10 12:48] christianvogt commented on #9047
The topology editor decorator can also be overridden by supplying a custom edit URL using annotation: `app.openshift.io/edit-url`

If you have Code Ready Workspace installed and want the edit URL in topology to open your workspace, then you do want to use `app.openshift.io/vcs-uri` along with `app.openshift.io/vcs-ref`. However in your case with a custom domain we cannot detect the git provide and

[2021-06-11 13:42] Chengxuan opened #9222 "No feedback in the console when failed to delete a custom object."
`Configuration` is a customer resource. When deleting a Configuration object, we have an admission webhook to prevent its deletion if it's used by another custom object.

There is no feedback in the openshift console to indicate the deletion has failed and display the error message.

![image](https://user-images.githubusercontent.com/5425125/121695286-d6bb5700-cac2-11eb-8f6c-4d9737e992c3.png)

Ver

[2021-06-13 10:12] jomeier opened #9227 "[4.8] KubeVirt Plugin not working because OpenShift Virtualization installs CRDs with v1alpha3"
Hi,

in OKD 4.8 nightlies we miss the side menu "Workloads -> Virtualization" in the Web Console if OpenShift Virtualization is installed. I think there is a problem with the Web Console.

This properly works with OKD 4.7 but seems to be a problem with latest 4.8 nightlies.

So I assume it's also a problem in OpenShift 4.8.

https://bugzilla.redhat.com/show_bug.cgi?id=1971188

Greetings,

Josef

[2021-06-13 16:57] jomeier commented on #9227
An answer in https://bugzilla.redhat.com/show_bug.cgi?id=1971188 says that a few weeks ago a change was introduced that the web console only shows CRDs with version v1:

https://github.com/openshift/console/commit/8c55c7a157117c292628163141bca1b8dfd4ba90

Introduced the problem.

OpenShift Virtualization from the Red Hat Operatorhub catalog (Version 2.6.5, current version) still installs CRDs with

[2021-06-14 07:36] yaacov commented on #9227
@jomeier thanks for the issue

[2021-06-14 13:43] spadgett commented on #9222
Looks like this is the same as https://bugzilla.redhat.com/show_bug.cgi?id=1939753. We will need to backport to 4.7.

cc @rebeccaalpert

[2021-06-14 13:59] rebeccaalpert commented on #9222
Looks like the cherry-pick on the original PR failed. I'll see if I can do a manual cherry-pick.

[2021-06-14 14:21] spadgett commented on #9222
We're tracking the backport in Bugzilla bug https://bugzilla.redhat.com/show_bug.cgi?id=1971667. Please follow that bug for updates. Thanks!

Closing the GitHub issue so we're not tracking this twice.

/close

[2021-06-14 14:21] #9222 closed

[2021-06-18 07:34] #7861 closed

[2021-06-22 13:48] rebeccaalpert commented on #1435
This should be all set as of 4.8.

[2021-06-22 13:48] #1435 closed

[2021-06-25 17:16] RSAlderman commented on #4628
Is there any update on this vulnerability:
- has it been triaged?
- has a CVE been assigned?

[2021-06-25 17:38] spadgett commented on #7862
Reopening. This looks like a legitimate problem to me that we should address.

/reopen
/remove-lifecycle rotten

[2021-06-30 08:24] RSAlderman commented on #4628
FYI a bugzilla issue https://bugzilla.redhat.com/show_bug.cgi?id=1977484 has also been raised for this

[2021-07-01 16:09] spadgett commented on #9227
@yaacov Is this addressed by #9326 or is there still an issue?

[2021-07-01 16:10] spadgett commented on #9198
cc @vojtechszocs @christianvogt

[2021-07-01 16:14] spadgett commented on #9149
It looks like this is the same as https://github.com/webpack/webpack/issues/12883 and we need to update to webpack 5 for a fix. Unfortunately, I'm not sure all of the loaders we use support webpack 5.

@vojtechszocs FYI

[2021-07-04 10:38] yaacov commented on #9227
Bug is verified as fixed on 4.8
BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1971188

cc:// @gouyang

[2021-07-04 15:32] leonicode opened #9402 "Firefox not trusts the certificate during a PVC creation"
Hi to all,
I installed with success openshift console upon k8s+kubevirt; if I try to make a PVC using
the browser (from a remote pc - out of the k8s cluster -) it shows the following error:

<< It seems that your browser does not trust the certificate of the upload proxy. Please approve this certificate and try again>>

after I clicked the "Upload" botton to Upload Data to Persistent Volume Claim.

[2021-07-05 01:43] #7991 closed

[2021-07-06 17:32] spadgett commented on #9227
Closing the issue as this is fixed.

[2021-07-06 17:32] #9227 closed

[2021-07-07 18:22] TheRealJon commented on #8282
Tracked by https://issues.redhat.com/browse/RFE-1879

[2021-07-07 18:22] #8282 closed

[2021-07-07 18:54] TheRealJon commented on #8299
Tracked in https://bugzilla.redhat.com/show_bug.cgi?id=1980099

[2021-07-07 18:54] #8299 closed

[2021-07-07 18:56] TheRealJon commented on #8301
Closing. Not a bug. @wuchaof Feel free to reopen with further comments if you feel this is still an issue.

[2021-07-07 18:56] #8301 closed

[2021-07-07 18:59] TheRealJon commented on #7982
Closing as we haven't heard from the reporter and I can't reproduce without more detail. @EnriqueL8 feel free to comment with more details and reopen this.

[2021-07-07 18:59] #7982 closed

[2021-07-07 19:01] TheRealJon commented on #8220
Closing as duplicate of #5606

[2021-07-07 19:01] #8220 closed

[2021-07-07 19:30] TheRealJon commented on #8548
Migrated to RFE: https://issues.redhat.com/browse/RFE-1987

[2021-07-07 19:30] #8548 closed

[2021-07-07 20:18] spadgett commented on #9402
/assign @yaacov

[2021-07-07 20:19] spadgett commented on #7380
/uncc @jelkosz
/cc @yaacov
/remove-lifecycle stale

@yaacov can you help?

[2021-07-08 04:55] yaacov commented on #7380
@spadgett hi, I think we can close this one:
This issue was addressed and the versions where updated:

p.s. We show in the UI what the versions available, a better place to submit such issues will be in https://github.com/kubevirt/common-templates

![screenshot-console-openshift-console apps ostest test metalkube org-2021 07 08-07_49_22](https://user-images.githubusercontent.com/2181522/124864147-

[2021-07-08 04:56] yaacov commented on #9402
@glekner hi, PTAL

[2021-07-08 04:58] yaacov commented on #9402
cc:// @matthewcarleton we know about this issue and the best we could do is provide the "approve cert" link, do you know of a PF pattern for "missing certificate" issue (maybe a cert download link ?)

[2021-07-08 05:09] yaacov commented on #7380
Note:
a - we show in console UI the templates available in the cluster, so if the cluster has old templates we will show the old OS versions
b - the latest templates are available from: https://github.com/kubevirt/common-templates#templates
c - older versions of OKD may bundle older versions of common-templates, AFAIK latest versions of kubevirt operator bundle the latest common-templates

[2021-07-08 14:34] spadgett commented on #7380
Thanks @yaacov. Closing based on your comments.

[2021-07-08 14:34] #7380 closed

[2021-07-08 16:49] spadgett commented on #9402
@yaacov Can you explain in what circumstances the certificate is not trusted?

We shouldn't encourage users to accept untrusted certificates, and I don't think it's a good pattern to add to PatternFly.

[2021-07-08 17:10] glekner commented on #9402
@leonicode you need to click the link, approve the certificate and then try to upload again.
@spadgett there will be cases where a cluster is installed and used with HTTPS with un-trusted certificates
@jelkosz can you elaborate on the certs

[2021-07-08 17:42] spadgett commented on #9402
Can you give a specific example?

I'd expect all certificates to be trusted on a production cluster.

[2021-07-08 17:46] spadgett commented on #9402
I'm not familiar with how the feature is implemented. Is the backend proxying to a service, or is the frontend talking directly to a different route?

[2021-07-08 21:02] leonicode commented on #9402
@glekner if I click the link the browser redirects me on https://undefined i.e. on a void page ... it not works

[2021-07-09 04:47] yaacov commented on #9402
Hi all,

The kubevirt-plugin allows the use of an upload proxy deployed by CDI:
https://github.com/kubevirt/containerized-data-importer/blob/3c192b42b50ace878083c2c581343af73f1f10c6/doc/cdi-config.md

The upload proxy allow users to upload data directly from local machines into the cluster.

The upload proxy path is not proxied by the bridge
https://github.com/openshift/console/blob/master/cmd/bri

[2021-07-09 05:23] yaacov commented on #9402
p.s.

@leonicode @spadgett , On production clusters system admins make sure all trusted urls have the certs installed correctly, this issue will only happen if the system admin forgot to set the trusted CA for the upload proxy.

[2021-07-09 08:55] leonicode commented on #9402
Hi yaacov, how can I do to set the trusted CA for the upload proxy ?
I need clear steps to verify because I'm not so expert in kubernetes ... I googled a bit but I not found clear example
Thanks in advance

[2021-07-09 12:21] matthewcarleton commented on #9402
I think we could just use the empty state from PatternFly. Not sure about the content but something like this. We could also check with the rest of the console to see if they have anything similar.
<img width="534" alt="Screen Shot 2021-07-09 at 9 20 35 AM" src="https://user-images.githubusercontent.com/287880/125076949-ed8ba400-e096-11eb-86e9-e9d632e697a1.png">

[2021-07-09 13:47] spadgett commented on #9126
This is being tracked by JIRA issue https://issues.redhat.com/browse/CONSOLE-402. Closing the GitHub issue to avoid tracking it twice. Please follow the JIRA for updates.

[2021-07-09 13:47] #9126 closed

[2021-07-09 13:58] spadgett commented on #9402
Probably the best way is to proxy from the console backend directly to the service if it uses OpenShift service serving certificates. Then the console will have the right CA file for the service and it avoids this issue altogether.

https://docs.openshift.com/container-platform/4.7/security/certificates/service-serving-certificate.html

This will be problematic when we implement multi-cluster, how

[2021-07-09 14:10] yaacov commented on #9402
@leonicode hi, I missed some important data here, I thought you installed [openshift](https://www.okd.io/)+[HCO](https://github.com/kubevirt/hyperconverged-cluster-operator)

Some questions about you environment:
a - you are running vanilla k8s, not openshift (https://www.okd.io/) ?
b - you only installed kubvirt, not HCO (https://github.com/kubevirt/hyperconverged-cluster-operator) ?

I think the

[2021-07-09 15:19] leonicode commented on #9402
Hi yaacov,
yes I installed first vanilla k8s by Kubespray and then I installed openshift console following the steps in

https://kubevirt.io/2020/OKD-web-console-install.html

Finally I deployed kubevirt using the Hyperconverged Cluster Operator (HCO)

[2021-07-09 15:38] yaacov commented on #9402
@leonicode hi, can you check what deployments are running in your cluster, by running:
`kubectl get deployments --all-namespaces | grep kubevirt`
`kubectl get deployments --all-namespaces | grep cdi`
`kubectl get pods --all-namespaces | grep cdi-uploadproxy`
`kubectl get routes --all-namespaces | grep cdi-uploadproxy`
?

HCO should have installed CDI and things should have worked (if no admin inst

[2021-07-09 15:43] yaacov commented on #9402
Ahhh, `routes` are also an `openshift only` thing ... the CDI uploader can't use routes in vanilla k8s ... hmm ... I don't think we can support upload of files in vanila k8s , we use routes to auto-find it, can we expose the uploader in vanilla k8s ?...

[2021-07-09 15:54] yaacov commented on #9402
@dankenigsberg @fabiand  hi, did you know - https://kubevirt.io/2020/OKD-web-console-install.html ?
( we don't test / dev much with vanilla k8s ... )

[2021-07-09 16:16] dankenigsberg commented on #9402
Yes, I recall that blog spot. It's for the community to maintain.

[2021-07-09 16:27] leonicode commented on #9402
@yaacov see below (no routes ...)

![deployments](https://user-images.githubusercontent.com/32000097/125109110-3701e080-e0e3-11eb-9780-3c811ec3eb76.jpg)

![other](https://user-images.githubusercontent.com/32000097/125109124-3a956780-e0e3-11eb-8dd9-25e196358406.jpg)

[2021-07-09 17:13] yaacov commented on #9402
@spadgett @leonicode hi, I don't see us supporting file uploads on vanilla k8s any time soon,
the fix will be to remove un-supported options when vanilla k8s is detected.
cc:// @glekner

[2021-07-13 08:28] leonicode commented on #9402
**@yaacov** What should I do with my cluster ?
Must I remove bridge + vanilla k8s and, then, install openshift (https://www.okd.io/) + openshift-console ?
Can you give me some suggestions ?

[2021-07-14 09:20] RSAlderman commented on #4628
Response from [bugzilla issue](https://bugzilla.redhat.com/show_bug.cgi?id=1977484#c2) is that this is working as designed:

[2021-07-19 09:28] SimonBaeumer opened #9538 "OLM descriptor references for map[string]string are not displayed"
Hey Console-Team,

we are currently using the OLM descriptors to define a UI for our operator.
While developing it we faced issues with the `map[string]string` type in our API structs to be displayed in the UI.

For example a field described like this is not displayed in the UI:

[code]

In the related [documentation](https://github.com/openshift/console/blob/master/frontend/packages/operator-life

[2021-07-20 12:07] chrisbygrave opened #9554 "Project scope changes unexpectedly when installing operator cluster-wide"
When I choose a cluster-wide install, the project scope in the UI changes from wherever I was to `openshift-operators`. This UX issue leads people to accidentally install operands (the logical next step to installing an operator) into the `openshift-operators` namespace, which is rarely what the user intended to do.

It would be better not to switch context, but if that is difficult to achieve it

[2021-07-21 18:47] lpchitta opened #9574 "[OLM] Image list in CSV disappears after creating subscription"
As part of OLM CSV , we have included operand images . After we create subscription when we check the deployed CSV under installed operators , we don't see those images list.
Is there any way to see list of images after creating subscription ?

[2021-07-22 15:39] rasapala opened #9592 "Dynamic UI for operator - conditional form view fields"
I was following the Declarative UI blog - https://www.openshift.com/blog/openshift-4-2-declarative-dynamic-ui-for-your-operator - and I have a question how can I additionally organize the UI fields defined in CRD scheme in the "form view" UI of my operator.

One form of manipulation I am interested in is how to organize certain fields in sections with headers - is there a way to do that ?

Another

[2021-07-23 02:30] ut-wangbo opened #9598 "the horizontal adjustment range of the text area exceeds the window"
In the 'Create Project' window, the horizontal adjustment range of the 'Description' text area exceeds the window

![openshift_bug](https://user-images.githubusercontent.com/86947360/126730983-7fdbf1cb-1410-44a4-9a92-c2b9c1d3d89c.png)

[2021-07-25 20:35] apupier commented on #8716
/remove-lifecycle stale

[2021-07-26 05:17] mic4ael commented on #8377
/remove-lifecycle stale

[2021-07-26 16:48] spadgett commented on #8377
https://bugzilla.redhat.com/show_bug.cgi?id=1933101 has been fixed and verified by QE in 4.8.0.

/close

[2021-07-26 16:48] #8377 closed

[2021-07-26 16:50] spadgett commented on #9598
/kind bug

[2021-07-26 16:50] spadgett commented on #9592
cc @TheRealJon @tlwu2013

[2021-07-26 16:52] spadgett commented on #9574
/cc @TheRealJon

[2021-07-26 16:53] spadgett commented on #9554
I agree there is a usability issue here.

cc @itsptk @tlwu2013

[2021-07-26 16:54] spadgett commented on #9538
cc @TheRealJon @tlwu2013

[2021-07-27 15:09] #9598 closed

[2021-08-02 13:22] itsptk commented on #9554
Thanks for filing this issue, this is a notable case where the project selector behavior can be not intuitive to the user. I spoke with the OpenShift UX team at large and we are generally thinking that it is probably time to reconsider the project selector in general, and see if there are other (more intuitive) UI mechanisms we could use to accomplish the same thing. I have opened [a design story]

[2021-08-04 05:29] utccp opened #9719 "Translate Omit in Observe"
![image](https://user-images.githubusercontent.com/86599457/128126733-3d41ca0c-dd77-4caf-9ae1-b61cbbaedac9.png)

[2021-08-04 05:30] utccp commented on #9719
review this commit.
[https://github.com/openshift/console/pull/9708](url)

[2021-08-04 05:32] utccp commented on #9719
#9708

[2021-08-04 09:25] eformat opened #9723 "ConsoleQuickStart, heredocs, variable expansion - render issue"
There are a couple of inconsistencies when using bash heredoc's in a ConsoleQuickStart and the WebConsole operator:
- cannot use variable expansion
- cannot format heredoc properly

Here is a working example:
[code]
         cat << ' EOF' | oc apply -f-
         apiVersion: helm.openshift.io/v1beta1
         kind: HelmChartRepository
         metadata:
           name: petbattle-charts
         sp

[2021-08-05 17:13] itsptk commented on #9554
I have spoken with Tony and we agreed this was a usability issue. We are hoping that we can make a small change to the interaction of installing an operator globally so that the namespace is not changed, so the user doesn't get disoriented. I have opened a design story to track this: https://issues.redhat.com/browse/PD-1093

[2021-08-05 18:03] spadgett commented on #9723
cc @rohitkrai03

[2021-08-06 02:12] utccp commented on #9719
[https://github.com/openshift/console/pull/9746](url)

[2021-08-06 09:13] shdn-ibm opened #9748 "localization does not work for dynamic plugin"
Follow the guide to enable the localization of my dynamic plugin, then I find it does not work.
https://github.com/jhadvig/enhancements/blob/3d22f331d99a7ec4ff0d9ce5b4f4e006d159d5a0/enhancements/console/dynamic-plugins.md#localization

After investigation, function `HandleI18nResources` does not receive the request to process dynamic plugin url. It only receives static plugin related requests.
Fur

[2021-08-06 10:53] rohitkrai03 commented on #9723
cc @sahil143 @jschuler

[2021-08-07 17:16] abdennour commented on #7853
@kanadaj I applied accordingly. but the loop remains.
I can see error of websocket.
Also i can see 401 and 403

i am using keycloak . console redirects to it, but after login, it keep looping.
I added cluster role binding :

[code]
but loop remains
i am not sure this is what you meant by "UserRole " or not.

Regarding websocket issue (wss), i tried the following in ingress
[code]
However, wss:// i

[2021-08-07 20:43] kanadaj commented on #7853
Have you also added OIDC to the Kubernetes API config? It's required to make it work.

Also, from my personal experience, I recommend that you only use Keycloak for the console if it's externally hosted. It's rather awkward if the cluster misbehaves and you can't even log into the console because Keycloak stopped working, Dex is far more reliable.

[2021-08-07 21:15] abdennour commented on #1377
console + native k8s + OIDC(keycloak) instead of dex...
That will be really awesome if someone has working example.

[2021-08-08 06:58] abdennour opened #9754 "Native Kubernetes Deployment + Keycloak as OIDC instead of DEX - avoid looping"
I tried to deploy the OKD origin-console using [this helm chart](https://artifacthub.io/packages/helm/av1o-charts/openshift-console). & using keycloak realm instead of DEX , on top of a native kubernetes v1.19.13

After installing the chart, my deployment looks like:
[code]

The console is able to redirect me to the keycloak login page. However, after a success login, i cannot see everything in th

[2021-08-11 16:48] spadgett commented on #9748
Thank you for the report. We're looking at this and tracking the bug under https://bugzilla.redhat.com/show_bug.cgi?id=1992730. Please follow the Bugzilla bug for updates.

[2021-08-11 16:48] #9748 closed

[2021-08-12 14:47] jawnsy opened #9798 "Unresolved placeholder in Add User to group screen"
I'm not sure if this is the right place to file things, please direct me to the correct repository if not!

## Summary

There seems to be a placeholder that isn't getting resolved for some reason:

![image](https://user-images.githubusercontent.com/52710/129217631-0a3acc4a-76fb-431a-96f8-36741ab4569a.png)

## Steps to reproduce

1. Go to the Admin view
2. Under User Management, select Groups
3. Vi

[2021-08-13 19:40] ejweber opened #9802 "The UI associated with the OLM nodeAffinity, podAffinity, and podAntiAffinity is broken"
The 'urn:alm:descriptor:com.tectonic.ui:nodeAffinity' x-descriptor should provide for a convenient NodeAffinity form during operand creation when applied to a NodeAffinity type field. The UI shown in the [reference document](https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#11-nodeaffinity) looks nice, bu

[2021-08-16 20:13] spadgett commented on #8545
Yes, this is on our roadmap.

@shdn-ibm Are you using strict null checks? I suspect that's the problem here rather than webpack versions. We're exploring updating the SDK to be built with strict null checks.

cc @rawagner

/remove-lifecycle stale

[2021-08-17 02:44] shdn-ibm commented on #8545
It works for me now, as I am using the latest sdk package built from Bipul.

[2021-08-17 02:58] tetchel commented on #8545
The strict null checks problem goes away if the SDK is shipped as compiled javascript rather than typescript, so the end user doesn't have to compile it. I don't know if that's planned / if there's an issue tracking that.

[2021-08-17 06:53] rawagner commented on #8545
SDK is shipped as js with ts declaration files. There is no additional compilation needed on end user side, it only needs to be bundled by webpack.

We need to turn on strict null checks to make the consumer app which is also using strict null checks happy.

[2021-08-17 08:34] rawagner commented on #8545
+1
Im wondering how are you importing console/shared code ? We do not expose that via SDK.
we're planning to turn the strict mode on for sdk, not for other packages yet (like console/shared)

[2021-08-17 08:51] shdn-ibm commented on #8545
yes

[2021-08-17 12:14] rasapala commented on #9592
A link to description or documentation where I can find some description would be a nice start.

[2021-08-18 05:55] bipuladh commented on #8545
This was an initial confusion as we had not exposed packages as part of the SDK yet. I guess this issue is resolved as of now. @shdn-ibm is it oaky to close this issue?

[2021-08-18 06:04] shdn-ibm commented on #8545
yes, it can be closed.

[2021-08-18 14:28] #8545 closed

[2021-08-18 17:07] spadgett commented on #9802
/kind bug
/assign @TheRealJon

[2021-08-18 17:10] spadgett commented on #9798
Thank you for the report. This was fixed in 4.8 by #8786.

[2021-08-18 17:11] #9798 closed

[2021-08-18 18:09] spadgett commented on #9754
I have not tested running console with Keycloak unfortunately. Are there any errors in the console pod log that might indicate what's wrong?

The only config that looks like it might be missing is `BRIDGE_USER_AUTH_OIDC_CA_FILE`. You should check if there are any certificate errors in the pod logs.

I don't believe `BRIDGE_DEX_API_HOST` is used by console.

I don't know offhand what ingress annota

[2021-08-24 13:49] TheRealJon commented on #9592
@rasapala Here is a link to a general readme on OLM descriptors: https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/README.md

And here is a further breakdown of the available x-descriptors and their use: https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/refe

[2021-08-24 13:58] TheRealJon commented on #9538
@SimonBaeumer What version of OpenShift are you running and can you provide a snippet of the CSV  `spec.customresourcedefinitions.owned` entry for the CRD you are having issues with?

[2021-08-24 15:26] TheRealJon commented on #9574
@lpchitta I you are referring to the `spec.relatedImages` field on the CSV, we don't currently display that data on the details page. I've added a story to our backlog to track this. See https://issues.redhat.com/browse/CONSOLE-2955

[2021-08-24 15:26] #9574 closed

[2021-08-25 14:16] spadgett commented on #9748
This was fixed by #9791

[2021-08-26 23:48] miyamotoh opened #9903 "Cypress other-routes tests failing on a cluster with no existing resources on certain pages"
The Machines and MachineSets pages are reported failing with Cypress because the clusters that IBM Power CI/QE build out typically have those pages empty.

Manually testing in my browser, I found that all I needed to do is just create a `Machine` or a `MachineSet` with the Create button provided there. Once created, the tests start passing.

My suggestion: add logic to `other-routes.spec.ts` so it

[2021-08-30 12:34] spadgett commented on #9903
It's possible to mock the HTTP response to avoid this, although the way the tests are structured, that could be tricky. We might simply pull these two pages into separate tests.

/assign @dtaylor113

[2021-08-30 15:37] dtaylor113 commented on #9903
Hi @miyamotoh, I am ok with your fix:  https://github.com/openshift/console/pull/9904.
As I indicated in your PR, in the past we have set enviornmental variables to skip tests which do not work on certain platforms.  For example, see how [storage/clone.spec.ts](https://github.com/openshift/console/blob/68f58f20c2ad43b0cab33d5a4719900ff17caf44/frontend/packages/integration-tests-cypress/tests/stora

[2021-09-07 12:08] pjbrzozowski opened #10007 "Impersonation is not aware of groups"
When this RoleBinding is created:

[code]

And when `user` is a member of `labs` group:
[code]

If I login as the `user` I can see `lab` project, if I use "Impersonate User user" I can't see the `lab` project.

Please check this when you can.

Thanks!

[2021-09-14 19:53] christianvogt commented on #9047
@beloyar777 we could consider supporting your suggested annotation `app.openshift.io/vcs-type` because otherwise we cannot do any detection with a custom domain.
It's been a while since I've looked at this issue but IIRC there's still a problem with constructing a bitbucket URL for your project without having the hash value.

Is this issue still a concern for you?

[2021-09-16 02:40] #8425 closed

[2021-09-29 14:52] jchraibi commented on #7521
/reopen

[2021-09-29 20:53] tetchel commented on #9198
/remove-lifecycle stale

[2021-09-30 12:13] spadgett commented on #9149
Story to update to webpack 5: https://issues.redhat.com/browse/CONSOLE-2971

/remove-lifecycle stale

[2021-09-30 15:11] rasapala commented on #9592
Hi, I am trying to use fieldDependency in the CSV setup. But it looks like it does not have any affect on the UI Form view. While I toggle the  model_config.enabled it has no effect on the coresponding fields. The fields do not hide nor become activated/deactivated. Please let me know if I am missing anything.

Below is part of the CSV definition:
`specDescriptors:
          - description: Set tru

[2021-10-04 17:06] Drugoy opened #10175 "Doesn't work for 'off-cluster with kubernetes' case"
[Hardcodes](https://github.com/openshift/console/search?q=openshift-console-user-settings) like these</a> prevent from using this tool for 'off-cluster with kubernetes' case: opening web UI produces pages without any kube-resources.
Navigating between endpoints produces errors like these:

Surely I don't have a namespace of such name and neither did I query WebUI to show resources from that non-ex

[2021-10-04 20:11] spadgett commented on #10175
@Drugoy You should be able to start bridge with `-user-settings-location localstorage`. Does it work?

[2021-10-04 20:13] spadgett commented on #10175
We might wait for the `OPENSHIFT` flag to resolve before trying to use the user settings config maps, although setting the flag when starting bridge should prevent the errors.

cc @christianvogt @rohitkrai03

[2021-10-05 06:23] Drugoy commented on #10175
@spadgett This makes it not spawn errors in the log for my actions, but the WebUI still doesn't show any kube-resources (not even namespaces).

[2021-10-05 14:00] spadgett commented on #10175
@Drugoy Hm, that's likely unrelated to user settings. Are there any other errors in the JS console? What k8s version?

[2021-10-05 16:15] Drugoy commented on #10175
@spadgett No, none.
v1.19.3

[2021-10-05 17:22] spadgett commented on #10175
The master branch of openshift/console expects k8s 1.22+. It could be that the console is using a newer API not in 1.19. It also could be simply a configuration problem. Any errors in the network tab of the browser developer tools?

The `release-4.6` branch is meant to work with k8s 1.19, or image `quay.io/openshift/origin-console:4.6`

[2021-10-05 17:24] Drugoy commented on #10175
Thanks, will try.
Is there a guide on how to run a local docker container of quay.io/openshift/origin-console:4.6 with access to an external k8s cluster?
Because I'm not sure if build script would produce a working result if I run it over after building from master.

[2021-10-05 20:20] spadgett commented on #10175
@Drugoy `git checkout release-4.6 && ./build.sh` should work AFAIK.

[2021-10-05 20:26] #10175 closed

[2021-10-06 15:00] dalelotts opened #10191 "Make `app.openshift.io/runtime` an annotation"
Currently, the `app.openshift.io/runtime` label determines the runtime icon in topology view.  Since it must be a label, it is not easy (is it even possible?) to set the `app.openshift.io/runtime` label in a Tekton pipeline using kustomize (this is because `kustomize edit set label` modifies labels _and_ selectors. Having the runtime included in a service selector is suboptimal if not just a bad i

[2021-10-07 12:59] LarsBingBong commented on #9754
@abdennour where you able to get this to work? Thanks

[2021-10-07 17:09] spadgett commented on #10191
cc @christianvogt @rohitkrai03

[2021-10-07 17:36] #10191 closed

[2021-10-19 05:29] #9719 closed

[2021-10-27 08:13] klzsysy opened #10337 "Topology page exist performance problems"
Hello:
      If the namespace exists more resources，When I opened the topology page list mode， Loading is very slow，Sometimes crash

example ：
https://console.xxx.com/topology/ns/app?view=list

![image](https://user-images.githubusercontent.com/3226923/139025429-5da24250-b1ac-49cd-9787-df460986aa3b.png)

The namespace exist 51 dc
[code]

[2021-10-31 21:24] #8477 closed

[2021-11-03 18:57] AlexFilimonov commented on #10337
We have the same issue. Project has around 30 deployments and deployments config.

[code]

Users faced with low performance, stuck of console, crush in both Graph view and List view.
[code]

[2021-11-08 03:27] quchangl-github opened #10403 "YAML file less content when creating new CR in 4.9"
This issue only happened in OCP 4.9, it's fine in 4.8 and earlier version.

recreate steps:
1. Go to OCP console -> Installed Operator -> RHACM
2. Create one new MCO CR, the YAML view is opened, the YAML contents basic values
[code]
![image](https://user-images.githubusercontent.com/59680818/140679705-ed28fd20-3709-4081-b056-5d956d0b2393.png)

4. move to Form view, and back to YAML view
There are

[2021-11-09 12:35] rnapoles-rh opened #10415 "Update download odo link in Command Line Tools page"
The download odo link in Help > Command Line Tools of the web console points to mirror.openshift.com (https://mirror.openshift.com/pub/openshift-v4/clients/odo/latest/).
New releases are no longer pushed to mirror.openshift.com.

The link should point to our new CDN location at https://developers.redhat.com/content-gateway/rest/mirror/pub/openshift-v4/clients/odo/latest

**IMPACTS end user** as th

[2021-11-10 19:47] vojtechszocs commented on #9198
This should be fixed by #10433

[2021-11-12 01:39] #9198 closed

[2021-11-13 21:38] #9047 closed

[2021-11-15 13:00] spadgett commented on #10415
/assign @rohitkrai03

[2021-11-15 13:01] spadgett commented on #10403
/cc @TheRealJon

[2021-11-15 13:02] spadgett commented on #10337
cc @rohitkrai03 @christianvogt

[2021-11-15 18:49] christianvogt commented on #10337
fyi @jerolimov, since you're currently assigned a jira story on topology performance

[2021-11-16 19:00] jerolimov commented on #10337
Hi @klzsysy, hi @AlexFilimonov,

thanks for reporting this. We currently looking into general topology performance issues. We couldn't reproduce a browser tab crash yet and will check that as well.

* Can you share some info about your browser?
* It's Chrome, right? On which OS?
* How much RAM does your computer have?
* Have you multiple tabs open with the console or just this tab?
* You have arou

[2021-11-16 21:56] spadgett commented on #9126
This will be addressed by #10486.

[2021-11-17 04:15] klzsysy commented on #10337
- yes, it's chrome
- macos 11.5.1, M1 macbook Air, 8G RAM
- test safari same effect, page crash or freeze
- browser single tabs same effect
- The namespace only dc, svc, pod
- Is already list view， but same

if dc include label "app.kubernetes.io/part-of"，page seem load more slowly

[code]

[2021-11-17 07:34] jerolimov commented on #10337
Thanks for all these details. We look into this

[2021-11-17 08:39] ghost opened #10489 "API calls to get/watch user-settings-kubeadmin configmap in openshift-console-user-settings namespace"
Hi,

We have recently updated our clusters to 4.7 and we started to observe this entries in cluster audit logs:

[code]

This ConfigMap does not exists on our clusters so depending on user permissions over this namespace we see 403 or 404. Makes sense and looks like cluster responds properly. Unofrtunatelly our security monitoring is treating such events  to be potential security risk

Can you hel

[2021-11-17 13:16] AlexFilimonov commented on #10337
Hi @jerolimov
1. Windows 10 Pro 21H1 with Firefox 94.0.1
2. Intel(R) Core(TM) i5-1145G7/32 GB
3. Both, with other tabs or single topology page
4. Some details
**Deployments, DeploymentConfigs**
`oc get deployment,dc | wc -l
72
`
**Pods**
` oc get pod | grep Running | wc -l
52
`
**Services**
`oc get svc | wc -l
103
`
Topology tab consumes around 1GB memory and 10-15% CPU.

[2021-11-21 10:13] profiterole38 opened #10518 "OIDC auth with Gitlab has invalid scope params"
When trying to integrate oauth via gitlab with params `user-auth = oidc`, openshift console set invalid scope params which is https://github.com/openshift/console/blob/a934847366e800663a0cc350c258a6e9509f6b06/cmd/bridge/main.go#L479

and generated redirect url looks like https://***/oauth/authorize?client_id=***&redirect_uri=https%3A%2F%2F***%2Fauth%2Fcallback&response_type=code&scope=openid+email

[2021-11-22 07:36] zigmund opened #10522 "Administration / Namespaces on 4.9.0: Oh no! Something went wrong."
Hi there.

Console 4.9.0 on vanilla Kubernetes failed to render namespaces page with message "Oh no! Something went wrong.". 4.8 don't have such problem.

Component trace:
[code]

Stack trace:
[code]

[2021-11-23 03:49] #7862 closed

[2021-11-29 11:28] rnapoles-rh commented on #10415
@spadgett  @rohitkrai03 any idea for when this is planned to be fixed?

[2021-11-29 15:45] Ankitcapco commented on #9754
HI All,

I am using following way to deploy OKD, I am using Microsoft Authenticator and able to successfully login  and in pod logs as well showing outh success. But after successfully login, it is going to BASE-URL and there it is going in an infinite loop. Is there any workaround for it? Please help,

![Screen Shot 2021-11-29 at 10 42 45 AM](https://user-images.githubusercontent.com/92543508/143

[2021-11-29 15:47] Ankitcapco opened #10575 "AFter OAUTH, base url going in infinite loop"
HI All,

I am using following way to deploy OKD, I am using Microsoft Authenticator and able to successfully login and in pod logs as well showing outh success. But after successfully login, it is going to BASE-URL and there it is going in an infinite loop. Is there any workaround for it? Please help,

- name: BRIDGE_USER_AUTH_OIDC_ISSUER_URL
          value: https://sts.windows.net/**************

[2021-11-30 19:23] Ankitcapco commented on #9754
hi @abdennour any chance, could you solve this issue "infinite loop of page refresh". I am getting stuck at same place. After successful login, it is just refreshing page again and again

[2021-12-05 19:55] abdennour commented on #9754
Hi @Ankitcapco , i didn't get a resolution till now. I just ran the console on read mode without authentication integration.

[2021-12-07 16:50] spadgett commented on #10522
/cc @kdoberst
/kind bug

It looks like we assume there are annotations on the namespace, and it's not always true.

[2021-12-08 00:50] bysnupy commented on #7521
/reopen

[2021-12-08 00:54] bysnupy commented on #7521
@spadgett Currently, the build "duration" column is not provided at the page in contrast with OCPv3 console. Workaround is manual calculation from the status.duration(nanoseconds) of the build yaml tab, but it's not smart... Let me know that if there is any RFE on this matter. Thanks.

[2021-12-10 22:10] #9402 closed

[2021-12-11 16:11] #4628 closed

[2021-12-14 19:37] yangcao77 opened #10664 "Propagate the provider information in the UI"
Since https://github.com/openshift/console/pull/10394 has been merged, the registry index info and the devfile samples now contain the provider information. i.e.
https://github.com/devfile-samples/devfile-sample-java-springboot-basic/blob/34ef90bcdd9271854e3167b2307cafce12a56c73/devfile.yaml#L12
https://github.com/devfile/registry/blob/1266aaaf631f0a92a83c1f5154b776452df04b39/extraDevfileEntries.y

[2021-12-20 13:57] rnapoles-rh commented on #10415
@spadgett @rohitkrai03 hi, any update on this one?

[2021-12-24 02:59] yinshuxun opened #10726 "Questions about arrayFieldGroup & fieldGroup"
Regarding the fieldGroup and arrayFieldGroup being set to  DEPRECATED, what are the considerations? Because we are currently using descriptor-based dynamic forms in our own projects, I want to know  your thinking about this

[2021-12-29 05:37] orangeji11 opened #10746 "Build log raw downloads a file"
HI All,

I am using ocp with versioni 4.7.3,when I used the build, I clicked on the Raw link of the log, and then download log-file,instead of opening a new web page, it looks like an Download action,is this a bug or design?

https://user-images.githubusercontent.com/39036074/147630517-3595cae0-db76-4164-a3c2-c3844cc092f6.mp4

[2021-12-29 05:58] orangeji11 commented on #10746
It may be because of the failure of the build. I tried the log of successful build and there is no such problem :)

[2022-01-02 22:22] #9554 closed

[2022-01-04 12:35] rnapoles-rh commented on #10415
@nimishamukherjee can you help us getting this one fixed? It is impacting end users as the current link is obsolete.

[2022-01-04 13:29] rohitkrai03 commented on #10415
@rnapoles-rh We are tracking the issue with this bugzilla ticket - https://bugzilla.redhat.com/show_bug.cgi?id=2036937.

[2022-01-04 13:40] spadgett commented on #10415
Closing as this is now tracked in Bugzilla.

[2022-01-04 13:40] #10415 closed

[2022-01-04 13:55] spadgett commented on #10746
It's meant to open a new window. What OS and browser are you using?

[2022-01-04 13:56] spadgett commented on #10746
cc @TheRealJon

[2022-01-04 13:56] spadgett commented on #10726
cc @tlwu2013 @TheRealJon

[2022-01-04 13:57] spadgett commented on #10664
cc @rohitkrai03

[2022-01-04 14:18] rohitkrai03 commented on #10664
/close

https://github.com/openshift/console/pull/10682 fixed this issue.

[2022-01-04 14:19] #10664 closed

[2022-01-06 20:44] kvaps commented on #1623
how did you solve this?

[2022-01-07 04:25] #7521 closed

[2022-01-14 09:10] bjwyun opened #10841 "Question: about OCP console, Why ``route `` can't be shown in resources page ."
here's the question I got when I change to resources page of the CR.
in fact ,I have a ``route`` which is created by this CR with the same label and annotations about ``pod``. What I expect is the ``route`` can also show in this page. but it doesn't.
<img width="963" alt="image" src="https://user-images.githubusercontent.com/31024715/149489467-c8e6c6ed-1518-46ca-a712-42f85039364b.png">

and by che

[2022-01-14 16:38] spadgett commented on #10841
Is this the operand details under Installed Operators. I believe we're simply missing route from this list of default resources:

https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx#L41-L49

cc @TheRealJon

[2022-01-15 22:32] #9802 closed

[2022-01-20 18:57] PiotrWodecki opened #10901 "statusDescriptors don't seem to work for cluster-wide resources"
Whenever I try using [statusDescriptors](https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#statusDescriptors-1) for a cluster-wide CR it doesn't seem to affect anything. I couldn't find any examples online of anyone doing this.
Is it possible, and if not, why?

[2022-01-21 16:37] #9538 closed

[2022-01-24 07:50] apupier commented on #8716
still a relevant feature

[2022-01-26 09:59] chris93111 opened #10933 "Question metrics console"
Hello

Is there any option the console's metrics work properly on upstream Kubernetes with only Prometheus  ? or is only work with cluster-monitoring-operator

[2022-01-27 16:43] #9903 closed

[2022-01-28 18:25] spadgett commented on #9149
/remove-lifecycle rotten

This should be fixed by #10204

[2022-01-28 21:53] pbmoses opened #10969 "Console->Storage->VolumeSnapshots-> "Created at" does not seem to sort ascending or descending"
Dropdown:
Administrator
- Storage
  - VolumeSnapshots
<redacted>snapshot.storage.k8s.io~v1~VolumeSnapshot?orderBy=desc&sortBy=Created+at

Button = Created+at --> does not seem to properly sort.

Other objects in the Console are simply "Created"
console/frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
    {
      title: i18next.t('console-app~Created at'),
      sort

[2022-02-04 16:50] #10007 closed

[2022-02-08 00:15] chris93111 commented on #10933
it's work with prometheus

[2022-02-08 00:15] #10933 closed

[2022-02-08 06:06] Kartikey-star opened #11010 "Opneshift Console:User not getting notified of the service binding status details in topology view"
I followed the following steps:

- Create a new project in openshift console.
- Install Crunchy PostgreSQL operator and SBO in that namespace.
- Followed https://redhat-developer.github.io/service-binding-operator/userguide/getting-started/quick-start.html for creating database instance and sprint rest app
- Create a service binding between sprint rest app and postgres.
- Application injection and

[2022-02-10 13:28] spadgett commented on #11010
/cc @jerolimov @christianvogt

[2022-02-10 13:30] spadgett commented on #10901
cc @TheRealJon

[2022-02-14 00:54] quchangl-github commented on #10403
/remove-lifecycle stale

[2022-02-15 17:19] djzager opened #11060 "feat: Support running PipelineRuns with .spec.status "PipelineRunPending""
When interacting with Pipelines/PipelineRuns in the developer perspective, it is not currently possible to move a PipelineRun with the status "PipelineRunPending" to the running state.

It would be appropriate for users to have the ability to run Pipelines that are currently in the pending state w/o creating an entirely new PipelineRun. Some screenshots are included below where I would expect to s

[2022-02-17 09:23] austincunningham opened #11080 "Duplicate RoleBindings in the UI"
OpenShift version: 4.9.18
Kubernetes version: v1.22.3+e790d7f
Channel:stable-4.9

# Issue
See two duplicate roleBinding in the ui for `3scale-operator.v0.8.0`

![image](https://user-images.githubusercontent.com/16667688/154442992-7a3d4fb7-5365-425d-9024-714434032b3c.png)

I expect to see only one
After checking the yaml for both and both have the same uid, creation timestamp and content

[code]
I

[2022-02-17 10:26] austincunningham commented on #11080
Will close this issue as I can't reproduce

[2022-02-17 10:26] #11080 closed

[2022-02-18 00:40] chris93111 commented on #9754
Hi any update ?

[2022-02-22 00:00] eformat commented on #9723
/reopen

[2022-02-22 00:47] eformat commented on #9723
i was just trying this out in 4.10 and latest code .. still an issue it seems. Am using our TL500 QuickStarts from here:

https://github.com/rht-labs/tech-exercise/tree/main/quick-starts

[2022-02-22 12:27] rasapala commented on #9592
Issue fixed with fixing CRD and CSV.

[2022-02-22 12:27] #9592 closed

[2022-02-24 19:16] jsilberm opened #11101 "Defaults for creating PersistentVolume don't/won't work"
Current default yaml:
[code]

Will not work by default and results in errors, such as ---
[code]

[2022-02-28 09:15] apupier commented on #8716
still a relevant feature

[2022-03-01 09:41] h3rmanj opened #11114 "Prioritize exact maches in ListDropdown filter"
Hi!

It would be nice if the ListDropdown filter would prioritize exact matches.

For example, in Create RoleBinding UI, when I search the Role list for `edit`, I get these results;
![image](https://user-images.githubusercontent.com/11387548/156143675-3d10faeb-77bb-46be-95d2-760eded15d2c.png)

And I actually have to scroll down to find the role named `edit`.
![image](https://user-images.githubuser

[2022-03-07 17:17] zigmund commented on #10522
/remove-lifecycle stale

[2022-03-07 18:16] spadgett commented on #10522
/assign @jhadvig

@jhadvig Do you mind opening a Bugzilla bug for this issue?

[2022-03-08 17:16] mattnolting opened #11153 "Dark theme updates"
# Dark theme integration

Creating this epic to track color (border, background, font) updates for dark theme integration. Example color updates here: https://codepen.io/bobcatTaco/pen/NWwVYzq

## Border colors

- [ ] #ccc, #ddd, $pf-color-black-300, $color-row-filter-border, $color-grey-background-border => --pf-global--BorderColor--100 <a href="https://codepen.io/bobcatTaco/pen/NWwVYzq#ccc-ddd-b

[2022-03-09 08:16] Milind21 opened #11159 "x-descriptor for map and boolean pointer (UI Markers)"
Is there any x-descriptor to show the maps in the UI and boolean pointer as switch?
Existing text and other descriptor doesn't seem to work.
The ALM annotations have the map field but it is not getting rendered in the UI

[2022-03-15 14:35] omajid commented on #5606
This seems to be fixed now? I am not running as admin and I see version 4.8 in Help > About:

![image](https://user-images.githubusercontent.com/174451/158401458-c6688c86-27ca-41ad-b93c-027e846a6e94.png)

[2022-03-15 14:43] omajid opened #11181 "Allow saving/editing custom PromQL queries in Monitoring > Metrics"
I am using OpenShift 4.8 as a non-admin user.

In the developer view, I can see a list of pre-written metrics that are being collected.

I can also write and plot custom promql queries in the Monitoring > Metrics tab:

![image](https://user-images.githubusercontent.com/174451/158402631-44734ef9-954d-426b-a58b-56f2a8bf7c9d.png)

However, there's no way to save queries. Every time I want to see my a

[2022-03-15 14:47] omajid opened #11182 "Add custom query to Monitoring dashboard"
I am using OpenShift 4.8:

![image](https://user-images.githubusercontent.com/174451/158403760-e81a1adc-462b-462b-967c-318a373893f7.png)

I wrote a custom query for my project in the Developer > Monitoring > Metrics tab:

![image](https://user-images.githubusercontent.com/174451/158403634-bc84f090-72c7-4286-b616-177c197f5f5d.png)

Is there a way to add this to the main dashboard? I would like to s

[2022-03-17 17:33] spadgett commented on #11181
cc @alimobrem

[2022-03-17 17:34] spadgett commented on #11159
cc @tlwu2013 @TheRealJon

[2022-03-17 17:45] spadgett commented on #11114
We could look at switching to a library like https://github.com/farzher/fuzzysort to give a weighted sort.

cc @alimobrem @jhadvig

[2022-03-17 17:47] spadgett commented on #11060
cc @christianvogt @serenamarie125

[2022-03-17 23:31] #10969 closed

[2022-03-18 14:04] christianvogt commented on #11060
cc @karthikjeeyar

[2022-03-18 14:30] karthikjeeyar commented on #11060
Yeah, we have a RFE for Resuming the pipelinerun here https://issues.redhat.com/browse/RFE-2423, will add this feature soon.

[2022-03-30 11:33] #8716 closed

[2022-03-31 15:31] adithyaakrishna opened #11269 "[UI] - New PF Icon Available - CriticalRiskIcon"
**Description:**

In OpenShift Console UI, we are using a CustomIcon, https://github.com/openshift/console/blob/master/frontend/packages/insights-plugin/src/components/InsightsPopup/CriticalIcon.tsx to characterize CriticalRisk Label.

Now, the Icon is available in PF Icons Library, https://patternfly-react-main.surge.sh/icons, as it is being used in another internal application at RH. We can upda

[2022-04-04 04:43] Milind21 commented on #11159
Hi, Any update regarding the issue of x-descriptors.

[2022-04-12 07:29] kovayur opened #11316 "Unable to set default values for operand resource requirements"
Hi OpenShift Console team,

We would like to fill in the default values for resource requirements in the CRD.

Here's the example of the schema definition:
[code]

When the custom resource is created with `kubectl`, the default values are populated successfully. However, when I try to create the same operand using the openshift console, the default values are not shown in the UI. This can be confu

[2022-04-12 12:02] rahulsb opened #11318 "fieldDependency descriptor only has AND condition option"
As per the documentation : https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#20-fielddependency

I'm using two `fieldDependency` descriptor for my attribute .
I do understand that , the dependent field ( which is of type `booleanSwitch`) will be enabled when the 2 dependency has the exact values as mentio

[2022-04-15 08:40] sca- commented on #10575
same here

[2022-04-16 11:51] #10489 closed

[2022-04-20 11:56] #10518 closed

[2022-04-20 16:17] spadgett commented on #11159
For the boolean switch, does this work for you?

https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#4-booleanswitch

I don't believe there is a way to show maps, so that would be a new enhancement.

[2022-04-21 04:56] Milind21 commented on #11159
Boolean switch seems to work for bool variables.
However, pointers to data types like bool and string don't seem to work in similar fashion. ex. boolean switch doesn't show the desired output for *bool.

[2022-04-21 12:26] spadgett commented on #11159
Console deals with the resource JSON, which doesn't have pointers. I'm assuming if the pointer is `nil` the JSON property is left out, and this breaks the switch? Or is it another problem?

[2022-04-22 03:47] Milind21 commented on #11159
This behaviour is also seen in case of string pointers which are being properly populated. So I'm assuming, we have to pass values explicitly?
There is a map field - Labels which gets rendered in the UI by default. How is this done?
Maybe we can leverage this to print other map structures?
![MicrosoftTeams-image](https://user-images.githubusercontent.com/29847417/164592426-48a49ce4-e9dd-4ec3-833f-

[2022-04-25 19:17] spadgett commented on #11159
Hi, @Milind21. I'm a little confused because JSON and YAML don't have the concept of pointers. Are you using a Golang API?

[2022-05-02 19:35] ebaron opened #11425 "Optional podCount spec descriptor fails if path not present in CR"
Hi! My [CRD](https://github.com/cryostatio/cryostat-operator/blob/main/docs/config.md#reports-options) includes the following structure:
[code]
Both `reportOptions` and `replicas` are optional fields. The `replicas` field uses the `podCount` spec descriptor. If the user creates an instance of this CRD without specifying `reportOptions.replicas`, and then attempts to modify the field using the form

[2022-05-09 04:56] Milind21 opened #11454 "Can we show multiple fields in status column on the OCP console"
How do we render multiple fields in the status column for a CR on OCP console.
In case of an operator phase was being shown without adding any operator-sdk UI marker, however no other fields are being shown on the UI.
Is there a proper method to show this?

[2022-05-11 18:52] PiotrWodecki commented on #10901
Hi @spadgett, @TheRealJon
Could I get an answer to this question?
If not possible already maybe I would be able to implement this.

[2022-05-14 08:20] Milind21 commented on #11159
Yes, we are using golang and we had variables of type pointer which is now getting rendered.
However, can you please open enhancement for map issue or let me know how to open that issue

[2022-05-15 12:19] #10575 closed

[2022-05-16 01:41] quchangl-github commented on #10403
/remove-lifecycle stale

[2022-05-18 08:39] Veritasosrb commented on #11159
HI, @spadgett, Can you please tell about the roadmap on when we might have support for rendering map on the UI.

[2022-05-24 13:19] nccr-tobi opened #11560 "TypeError when navigating to Topology Tab in Developer mode (Chrome 101)"
Using Red Hat OpenShift Container Platform with Kubernetes version v1.23.3+e419edf

I am experiencing the following Error when navigating to the Topology Tab:

## TypeError
### Description:
Cannot destructure property 'kind' of 'undefined' as it is undefined.

### Component trace:
[code]
### Stack trace:
[code]

In the Browser Developer Console Network Tab I see at least 5 requests answering with

[2022-05-30 13:28] nccr-tobi commented on #11560
This apparently only happens with Chrome (tested with version 101.0.4951.41), so it may be a bundling compatibility issue.

Brave Browser (Version 1.39.111 Chromium: 102.0.5005.61) does not throw this error.

[2022-06-03 18:33] #10726 closed

[2022-06-03 18:33] #10746 closed

[2022-06-05 18:40] zigmund commented on #10522
/remove-lifecycle stale

[2022-06-07 19:10] rmkraus opened #11666 "Deployments from different CRD types with same name get bundled incorrectly."
I have an instance where I have two deployments that are being created by different CRDs in my operator. Both of the object instances have the same, but are of different kinds.

Here is the obfuscated metadata for each deployment:

Workspace Deployment:
[code]

Server Deployment:
[code]

The resulting view in the Developer Topology bundles both of these deployments into the app-name/Servers operat

[2022-06-08 23:56] l1xiangyi opened #11676 "Bug 2094240: Fixing inconsistency of button description between notification and the kebab action in the MachineConfigPools tab."
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=2094240
The `Resume rollout` in the `[MachineConfigPools] > MachineConfigPool details` page is inconsistent with the `Resume updates` button appeared in the kebab action dropdown menu.
Before:
<img width="2031" alt="Screen Shot 2022-06-09 at 07 54 16" src="https://user-images.githubusercontent.com/51786539/172736409-7f59c274-088e-499a-b6ac-45188e53

[2022-06-08 23:59] l1xiangyi commented on #11676
#11677

[2022-06-13 18:43] #10841 closed

[2022-06-15 21:22] omajid commented on #11182
/remove-lifecycle stale

[2022-06-15 21:23] omajid commented on #11181
/remove-lifecycle stale

[2022-06-16 13:22] spadgett commented on #11181
@kyoto FYI

[2022-06-19 06:34] pbmoses opened #11729 "catalog-tile-pf-description is incorrect for Operator Hub items (Red Hat Quay and Red Hat Quay Bridge Operator)"
The description tiles for Red Hat Quay and Red Hat Quay Bridge Operator are incorrect.

Red Hat Quay description tile = "Opinionated deployment of Red Hat on Kubernetes" should read "...Red Hat Quay..."

Red Hat Quay Bridge Operator tile = "Enhance OCP using Red Hat Red Hat container Registry" should read "...Red Hat Quay container registry."

OCP version =  4.10.15

<img width="564" alt="Screen S

[2022-06-22 14:15] ivandov opened #11747 "Enable filtering for k8sResourcePrefix x-descriptor"
When using the [`k8sResourcePrefix`](https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#3-k8sResourcePrefix) x-descriptor, the rendered dropdown in the console UI will display all resources that match this prefix.

However, in some scenarios, I'd like to only display a subset of the resources based on some

[2022-06-27 05:28] orangeji11 opened #11764 "Editing the YAML file hover prompt causes the content to be uneditable"
In the version of openshift I have used, there has always been a problem that bothers me. When editing the content of the YAML file, the prompt content that appears always blocks the area to be edited, which makes me unable to edit the content normally. I can only use copy and paste or Use the arrow keys to move on one side. Is it possible to make the prompt content only appear on the left side, a

[2022-06-27 05:42] orangeji11 commented on #11764
@spadgett Thanks.

[2022-06-27 05:48] orangeji11 commented on #11764
It should be mentioned that only when there is enough content, the prompt content will block the editing area. If the content is too small, it will not block the editing area. Refer to the figure below. The prompt content on the left and right sides of the editor line is the same.
![截图_选择区域_20220627134510](https://user-images.githubusercontent.com/39036074/175868281-ecc870cb-c890-4127-9444-dace86b

[2022-06-27 12:08] spadgett commented on #11764
This looks like a Monaco editor bug with the tooltip positioning. I did a few searches of their repo for similar issues and couldn't find anything. We could try updating the dependency and if that doesn't fix it reporting the issue upstream.

cc @jhadvig @JPinkney
/kind bug

[2022-06-28 00:55] #9149 closed

[2022-06-30 13:59] adithyaakrishna commented on #11269
Closing this Issue wrt, https://github.com/openshift/console/pull/11391 :)

[2022-06-30 13:59] adithyaakrishna commented on #11269
Closing this Issue wrt, https://github.com/openshift/console/pull/11391 :)

[2022-06-30 13:59] #11269 closed

[2022-07-06 04:19] zigmund commented on #10522
/lifecycle frozen

[2022-07-11 01:04] #10901 closed

[2022-07-13 11:04] omhingmire opened #11829 "How to make OLM field conditional?"
I have one of the fields in my spec ex. FileSystem.  Markers for those looks like :

[code]

I want to make this field visible on UI under some conditions. If that condition is true then we see the selection drop-down otherwise I want to make it hidden.  Is there a way to achieve this? I am using operator-sdk version v1.9.0

[2022-07-15 02:58] wrd0 opened #11839 "How to consume getConsoleRequestHeaders?"
I see it listed in the API docs but it's not being exported in the code for public use nor is it being used anywhere other than internal use cases, am I missing something?

https://github.com/openshift/console/blob/618cb2562170df662dc0a5ae01cc4fb8858b482b/frontend/packages/console-dynamic-plugin-sdk/docs/api.md#getconsolerequestheaders

Any help would be much appreciated thank you.

[2022-07-17 07:12] #10337 closed

[2022-07-19 03:56] udee297 commented on #1377
hi , i tried to do this following this documentation https://kubevirt.io/2020/OKD-web-console-install.html#containerized-installation
but when i try
kubectl get serviceaccount console --namespace=kube-system -o jsonpath='{.secrets[0].name}'
i got no output
so how do i get the token?

[2022-07-22 15:01] elleryq opened #11869 "Traditional Chinese Translation"
I would like to add Traditional Chinese translation, but I only get "zh" in the ISO 639-1 code.

What language code should I use?

[2022-07-25 01:17] #11101 closed

[2022-07-25 18:13] spadgett commented on #11869
cc @rh-tchuang

[2022-07-25 18:16] spadgett commented on #11839
I would not expect you to need to use this directly if you use the various kubernetes utilities in the API, which already add these headers. This might have been exposed unintentionally.

cc @christianvogt @vojtechszocs @florkbr

[2022-07-25 18:17] spadgett commented on #11829
cc @TheRealJon

[2022-07-25 18:19] spadgett commented on #11729
@pbmoses Thank you for letting us know.

@BillDett Where is the best place to report these issues to the Quay team?

[2022-07-25 18:22] spadgett commented on #11747
Hi, @ivandov. As you've found, this isn't possible today. We'll consider it as a new feature.

cc @alimobrem

[2022-07-25 18:25] spadgett commented on #11676
Thank you for the PR. I'm closing the issue as this is also tracked in Bugzilla.

/close

[2022-07-25 18:27] spadgett commented on #11666
/cc @jerolimov

[2022-07-25 18:27] spadgett commented on #11560
/cc @jerolimov

[2022-07-25 18:29] #11676 closed

[2022-07-25 18:30] spadgett commented on #11454
It's not currently possible unfortunately. Console will try to find the "best" value to show for the resource status and return the first it finds. Here is the logic:

https://github.com/openshift/console/blob/e0076f435bf8088577bd11c869abb3048b19f4dd/frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx#L174-L208

cc @TheRealJon

[2022-07-25 18:31] spadgett commented on #11425
/cc @TheRealJon

[2022-07-25 18:32] spadgett commented on #11318
I don't believe this is possible today. @TheRealJon Do you know?

/remove-lifecycle stale

[2022-07-25 18:33] spadgett commented on #11316
/cc @TheRealJon
/kind bug

[2022-07-25 18:33] spadgett commented on #11316
/remove-lifecycle stale

[2022-07-25 18:34] spadgett commented on #11153
@mattnolting Have these items since been completed?

cc @sg00dwin

[2022-07-26 01:22] pbmoses commented on #11729
It's actually in the Quay operator, I remember digging this out and getting sidetracked. Still sidetracked but not in the console, in the operator.

[2022-07-26 01:31] juhp commented on #11869
How about `zh-tw`?

[2022-07-26 06:04] sdp5 commented on #11869
maybe add 'zh-tw' [here](https://github.com/openshift/console/blob/master/frontend/i18n-scripts/languages.sh#L3)

[2022-07-26 07:17] rh-tchuang commented on #11869
Thanks Jens and Sundeep for your feedback.
@Sam Padgett ***@***.***> Do you know if this issue is about
contributing zh-TW translations done by internal contributors?

Cheers,
Terry

On Tue, Jul 26, 2022 at 4:04 PM Sundeep Anand ***@***.***>
wrote:

--

Terry Chuang
Sr. Localization Program Manager(Technical)
RHCSA|RHCE|MCSE|CCNA

Red Hat APAC
Level 1, 193 North Quay
Brisbane, QLD 4000
Australia

[2022-07-26 14:41] elleryq commented on #11869
Thanks

I will try to work on it.

[2022-07-28 18:50] wrd0 commented on #11839
Yeah the reason this is needed/useful is when your dynamic plugin codebase use Axios instead of fetch, one could just add this "headers: getConsoleRequestHeaders()" in your axios.create({}) global configuration and you wouldn't need to change your API calls to use fetch.

I found a workaround by wrapping consoleFetch responses to output an axios-like format, like an adapter, it works but feels lik

[2022-08-09 13:57] ivandov commented on #11747
Thanks @spadgett - Is there some other internal tracking mechanism that you all use to prioritize enhancement requests? I believe there was a Jira environment that's used? Any links I should be following?

This request is needed for our product's desired user experience, and without it, we're potentially needing to take a path that has significantly more complexity using OCP Dynamic Plugins. While

[2022-08-09 15:05] spadgett commented on #11747
Hi, @ivandov. The RFE process for OpenShift (and other Red Hat products) is described here: https://access.redhat.com/solutions/73513. Having said that, we always welcome PRs!

We've been focused on dynamic plugins for more advanced customizations, although I understand the appeal of the simple, declarative approach.

An optional label selector makes sense here. We'd need to find a way to encode i

[2022-08-12 00:02] #9754 closed

[2022-08-15 07:37] h3rmanj commented on #11114
/reopen

[2022-08-16 15:08] spadgett commented on #10403
@TheRealJon I believe this has been fixed. Can you confirm?

/remove-lifecycle stale

[2022-08-23 21:37] kaovilai opened #11979 "Unable to paste 500 lines into Pod Terminal `vi` editor"

[2022-08-25 00:01] #11153 closed

[2022-08-26 21:32] ebaron opened #11995 "Affinity defined in form view doesn't set values"
We recently added some fields to our CRD using the `nodeAffinity`, `podAffinity`, and `podAntiAffinity` spec descriptors. During testing, we noticed that defining a label selector of the form `key IN value` results in only the `key` and `in` operator defined in the YAML. The `values` array is missing. This results in the operator being unable to create the operand deployment.

To reproduce:
1. Ins

[2022-09-01 15:12] aman98 opened #12010 "No openshift x-descriptor for creating radio buttons"
I am trying to recreate this Openshift UI component below:

<img width="393" alt="image" src="https://user-images.githubusercontent.com/20244919/187949216-667febed-a229-41d3-9894-77a1b60fe0ed.png">

But I cannot find the correct` x-descriptor ` or `spec-descriptor` to create radio button elements using `operator-sdk` API markers?

I referred to this document here: **https://github.com/openshift/co

[2022-09-12 08:28] carlosthe19916 opened #12032 "Operator - form view: order of fields"
Hello, sorry if this is not the correct place to ask this question: My team is going to release an Operator at https://github.com/redhat-openshift-ecosystem/community-operators-prod , our operator has a `openAPIV3Schema` just like this one https://github.com/redhat-openshift-ecosystem/community-operators-prod/blob/main/operators/keycloak-operator/19.0.1/manifests/keycloaks.keycloak.org.crd.yaml#L1

[2022-09-14 08:28] h3rmanj commented on #11114
/reopen

[2022-09-14 08:28] h3rmanj commented on #11114
/lifecycle frozen

[2022-09-15 02:50] omajid commented on #11181
*sigh*

[2022-09-15 02:50] omajid commented on #11181
/remove-lifecycle stale

[2022-09-15 06:47] kyoto commented on #11181
Thanks @omajid

This request is covered by issue https://issues.redhat.com/browse/OU-12.

I suggest we close this here and track it in Jira.

/close

[2022-09-15 06:47] #11181 closed

[2022-09-23 10:51] vlskrbek commented on #5606
Maybe I am not on the right version but it does not work. I use Openshift in company as a normal user and do not see openshift version.
At leas I can run "oc command and see this:
---
oc version
Client Version: 4.8.0-202111041632.p0.git.88e7eba.assembly.stream-88e7eba
Kubernetes Version: v1.23.5+012e945
---
So it looks that we have already version 4.8 but on the "About" I see still the old informa

[2022-09-26 07:25] orangeji11 commented on #11764
/close

[2022-09-26 07:25] #11764 closed

[2022-09-26 12:30] djzager commented on #11060
As best I understand, this is still a valid issue.

[2022-09-30 10:28] PuneetPunamiya opened #12116 "Support For Artifact Hub API"
Currently to show the tasks, console uses Hub API's (as default one's) to get all the tasks and information regarding those tasks
For example ---> https://api.hub.tekton.dev/v1/resource/tekton/task/git-clone/0.7

Based on the discussion in this issue ---> https://github.com/tektoncd/hub/issues/667#issuecomment-1262783981
Artifact Hub also has API's which has support to list the tasks and get the d

[2022-10-05 19:51] freemanlatrell opened #12138 "Custom Resource k8sResourcePrefix x-descriptor dropdown requires multiple user selections"
When using the k8sResourcePrefix x-descriptor with custom resource kinds, the form-view dropdown selection currently doesn't accept the initial user selection...requiring the user to make their selection twice. Also...if the configuration panel contains multiple custom resource dropdowns, then each previous dropdown selection on the panel is also cleared each time the user configures another custo

[2022-10-06 15:59] gmarks-ntap commented on #11316
I haven't tried an example of providing default values for a ResourceRequirement field yet, but this is something that would be helpful for me as well.

[2022-10-13 11:13] nate-duke commented on #7991
:(

[2022-10-17 00:01] #11159 closed

[2022-10-17 12:10] mdujava opened #12176 "Cluster settings: dark theme has unreadable color for cluster versions"
In dark theme, numbers over the nodes in graph on cluster settings page have black color on dark background, which is hard to read.

![image](https://user-images.githubusercontent.com/5232235/196173259-b06869b0-6567-46f0-afb3-58fb579f5e02.png)

Looks like this line is resetting the color:

https://github.com/openshift/console/blob/e26ca04af6de6e08fe4fa1bbd8286053f6ff8a6a/frontend/public/components

[2022-10-24 15:19] jerolimov commented on #11666
/remove-lifecycle stale

[2022-10-24 15:19] jerolimov commented on #11560
/remove-lifecycle stale

[2022-10-24 15:52] jerolimov commented on #11666
Hello @rmkraus, sorry for the delay, missed this issue.

For the groups, we normally only the `app.kubernetes.io/part-of` label. You're saying the `ownerReference`  changed the grouping part here as well? I tried the following, but could not reproduce your issue:

1. Instead of a CRD I created a ConfigMap and a Secret:

[code]

2. I created two Deployments based on your input and with a valid spec

[2022-10-24 15:53] #11666 closed

[2022-10-24 16:41] jerolimov commented on #12176
Hello @mdujava, thanks for letting us know. I can not reproduce this issue (tested on 4.11.3, latest 4.11, and latest 4.12).

As you shared already a scss link, can you take a look into the dom and share a screenshot from the text `span` element and the computed color style?

Like this:

![image](https://user-images.githubusercontent.com/139310/197579746-12b55e07-cfed-4c25-83b1-c6c50bfb369f.png)

[2022-10-24 16:52] jerolimov commented on #12010
Hello @aman98, a radio box is currently not supported, maybe a `select` (dropdown) can help in the meantime?

![image](https://user-images.githubusercontent.com/139310/197581730-681dc7c4-1b53-46b0-8863-4ec8c537f48a.png)

https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#17-select

/label component/olm

[2022-10-24 16:58] jerolimov commented on #11869
Looking forward to your input, let us know if you want to continue with this. For now, I hope its fine to close this issue.

/close

[2022-10-24 16:59] #11869 closed

[2022-10-24 17:40] mdujava commented on #12176
Hi @jerolimov,

![image](https://user-images.githubusercontent.com/5232235/197588657-d5aec46b-db00-49e4-af03-3db7ca5365c6.png)

I am using FF 106.0.1 and in about:addons > Themes I use Dark theme.
![image](https://user-images.githubusercontent.com/5232235/197587505-4dba60af-edc1-435f-8b4c-79f373273f3e.png)

I Tried this on Chromium (just chenging color of browser to dark colors) but was not able t

[2022-10-25 10:19] jerolimov commented on #10522
Hello @zigmund, sorry for the delay, and thanks for your patient. I will take a look.

[2022-10-25 18:15] jerolimov commented on #10522
Hello @zigmund,

sorry for the delay, and thanks for your patience.

I could reproduce the error on 4.9-4.11 and can confirm that it doesn't happen in 4.8 and that it's already fixed on the master branch. We fixed this with PR #11791. I started a backport for 4.11 as well.

Do you need this for a specific release/branch or does a fix in 4.11 works fine in your case?

[2022-10-25 18:28] zigmund commented on #10522
Hey @jerolimov, thank you.

It will be fine, I'll upgrade our installation.

[2022-10-26 13:30] mikaello opened #12215 "feature: add opencontainers label to the quay.io/openshift/origin-console docker image"
I would like the distributed docker image to contain `org.opencontainers.image.source` label for easy reference back to this repository. This is useful for tools like Renovate that makes updates to repositories when this image gets updates. OCI has standardized a few labels for adding metadata to images: https://github.com/opencontainers/image-spec/blob/main/annotations.md

Currently this is the l

[2022-11-06 05:38] mikaello opened #12244 "question: best practice for generating LazyActionMenu list actions"
I have a CRD that currently only have a details page, from where I can open an actions menu with edit and delete actions. Example:

![image](https://user-images.githubusercontent.com/2505178/199974777-8d44150c-3a5a-4f0b-acbf-510db63636ba.png)

I have created a dynamic plugin to be able to list all of my CRDs in a project, and where I want to have the action menu for each row. It seems to me that t

[2022-11-08 16:38] mikaello opened #12255 "bug: exposed methods in @openshift-console/dynamic-plugin-sdk/lib/utils/k8s refer to @console/internal"
When trying to use functions in [@openshift-console/dynamic-plugin-sdk/lib/utils/k8s](https://github.com/openshift/console/tree/ad4a32bbe30b83c7832112bc202922176cd9eaa1/frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s), the build is failing because it [tries to resolve @console/internal](https://github.com/openshift/console/blob/ad4a32bbe30b83c7832112bc202922176cd9eaa1/frontend/packages/

[2022-11-14 00:00] #11182 closed

[2022-11-24 04:42] rahulsb commented on #11318
/remove-lifecycle stale

[2022-11-26 08:00] #11060 closed